<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>SCORMQuestionBankView</filter-name>
        <filter-class>com.arcusys.learn.view.QuestionBankView</filter-class>
    </filter>
    <filter>
        <filter-name>SCORMUserView</filter-name>
        <filter-class>com.arcusys.learn.view.UserView</filter-class>
    </filter>
    <filter>
        <filter-name>SCORMAdminView</filter-name>
        <filter-class>com.arcusys.learn.view.AdminView</filter-class>
    </filter>
    <filter>
        <filter-name>SCORMQuizView</filter-name>
        <filter-class>com.arcusys.learn.view.QuizView</filter-class>
    </filter>
    <filter>
        <filter-name>GradebookView</filter-name>
        <filter-class>com.arcusys.learn.view.GradebookView</filter-class>
    </filter>
    <filter>
        <filter-name>CurriculumView</filter-name>
        <filter-class>com.arcusys.learn.view.CurriculumAdmin</filter-class>
    </filter>
    <filter>
        <filter-name>CurriculumUser</filter-name>
        <filter-class>com.arcusys.learn.view.CurriculumUser</filter-class>
    </filter>
    <filter>
        <filter-name>MyAccountView</filter-name>
        <filter-class>com.arcusys.learn.view.MyAccountView</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SCORMQuestionBankView</filter-name>
        <url-pattern>/BankView/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SCORMUserView</filter-name>
        <url-pattern>/UserView/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SCORMAdminView</filter-name>
        <url-pattern>/ScormAdmin/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SCORMQuizView</filter-name>
        <url-pattern>/QuizView/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>GradebookView</filter-name>
        <url-pattern>/GradebookView/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CurriculumView</filter-name>
        <url-pattern>/CurriculumView/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CurriculumUser</filter-name>
        <url-pattern>/CurriculumUser/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MyAccountView</filter-name>
        <url-pattern>/MyAccountView/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>com.liferay.portal.kernel.spring.context.PortletContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>SCORMApplication Servlet</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>com.arcusys.learn.view.UserView</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>SCORMApplicationAdmin Servlet</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>com.arcusys.learn.view.AdminView</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>SCORMQuestionBank Servlet</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>com.arcusys.learn.view.QuestionBankView</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>SCORMQuizes Servlet</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>com.arcusys.learn.view.SCORMQuizes</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Gradebook Servlet</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>com.arcusys.learn.view.GradebookView</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Curriculum Servlet</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>com.arcusys.learn.view.CurriculumAdmin</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>SCORMUserAccount Servlet</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>com.arcusys.learn.view.MyAccountView</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>ValamisSocialDashboard Servlet</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>com.arcusys.learn.view.social.DashBoardView</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>ValamisOpenBadgesImage Servlet</servlet-name>
        <servlet-class>com.arcusys.learn.admin.service.BadgeImageService</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValamisOpenBadgesImage Servlet</servlet-name>
        <url-pattern>/services/openbadges/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SCORMApplication Servlet</servlet-name>
        <url-pattern>/SCORMApplication/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SCORMApplicationAdmin Servlet</servlet-name>
        <url-pattern>/SCORMApplicationAdmin/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCORMQuestionBank Servlet</servlet-name>
        <url-pattern>/SCORMQuestionBank/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCORMQuizes Servlet</servlet-name>
        <url-pattern>/SCORMQuizes/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Gradebook Servlet</servlet-name>
        <url-pattern>/Gradebook/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Curriculum Servlet</servlet-name>
        <url-pattern>/Curriculum/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCORMUserAccount Servlet</servlet-name>
        <url-pattern>/SCORMUserAccount/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValamisSocialDashboard Servlet</servlet-name>
        <url-pattern>/ValamisSocialDashboard/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>QuizPreviewResourceFilter</servlet-name>
        <servlet-class>com.arcusys.learn.web.QuizPreviewResourceFilter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QuizPreviewResourceFilter</servlet-name>
        <url-pattern>/resource/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FileStorageFilter</servlet-name>
        <servlet-class>com.arcusys.learn.web.FileStorageFilter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileStorageFilter</servlet-name>
        <url-pattern>/SCORMData/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PackagesService</servlet-name>
        <servlet-class>com.arcusys.learn.scorm.manifest.service.PackagesService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PackagesService</servlet-name>
        <url-pattern>/services/packages/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TincanPackagesService</servlet-name>
        <servlet-class>com.arcusys.learn.scorm.manifest.service.TincanPackagesService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TincanPackagesService</servlet-name>
        <url-pattern>/services/tincan-packages/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OrganizationsService</servlet-name>
        <servlet-class>com.arcusys.learn.scorm.manifest.service.OrganizationsService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResourcesService</servlet-name>
        <servlet-class>com.arcusys.learn.scorm.manifest.service.ResourcesService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivitiesService</servlet-name>
        <servlet-class>com.arcusys.learn.scorm.manifest.service.ActivitiesService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminService</servlet-name>
        <servlet-class>com.arcusys.learn.admin.service.AdminService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadService</servlet-name>
        <servlet-class>com.arcusys.learn.admin.service.UploadService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoleService</servlet-name>
        <servlet-class>com.arcusys.learn.admin.service.RoleService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionService</servlet-name>
        <servlet-class>com.arcusys.learn.questionbank.service.QuestionService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryService</servlet-name>
        <servlet-class>com.arcusys.learn.questionbank.service.CategoryService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizService</servlet-name>
        <servlet-class>com.arcusys.learn.quiz.service.QuizService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizCategoryService</servlet-name>
        <servlet-class>com.arcusys.learn.quiz.service.QuizCategoryService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizQuestionService</servlet-name>
        <servlet-class>com.arcusys.learn.quiz.service.QuizQuestionService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GeneratorService</servlet-name>
        <servlet-class>com.arcusys.learn.quiz.service.GeneratedPackagesService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RTEService</servlet-name>
        <servlet-class>com.arcusys.learn.scorm.rte.service.RunTimeEnvironment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SequencingService</servlet-name>
        <servlet-class>com.arcusys.learn.scorm.rte.service.SequencingService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GradebookService</servlet-name>
        <servlet-class>com.arcusys.learn.gradebook.service.GradebookService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LiferayJournalArticleService</servlet-name>
        <servlet-class>com.arcusys.learn.liferay.service.JournalArticleService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LiferaySiteService</servlet-name>
        <servlet-class>com.arcusys.learn.liferay.service.LiferaySiteService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LiferayUserService</servlet-name>
        <servlet-class>com.arcusys.learn.liferay.service.LiferayUserService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LiferayRoleService</servlet-name>
        <servlet-class>com.arcusys.learn.liferay.service.LiferayRoleService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CertificateService</servlet-name>
        <servlet-class>com.arcusys.learn.certificating.CertificateService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CertificateSiteService</servlet-name>
        <servlet-class>com.arcusys.learn.certificating.CertificateSiteService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CertificateUserService</servlet-name>
        <servlet-class>com.arcusys.learn.certificating.CertificateUserService</servlet-class>
    </servlet>

    <!--<servlet>
        <servlet-name>Upgrade</servlet-name>
        <servlet-class>com.arcusys.learn.web.DemoService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Upgrade</servlet-name>
        <url-pattern>/upgrade/*</url-pattern>
    </servlet-mapping>-->

    <servlet-mapping>
        <servlet-name>OrganizationsService</servlet-name>
        <url-pattern>/services/organizations/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResourcesService</servlet-name>
        <url-pattern>/services/resources/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivitiesService</servlet-name>
        <url-pattern>/services/activities/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminService</servlet-name>
        <url-pattern>/services/administering/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadService</servlet-name>
        <url-pattern>/services/upload/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoleService</servlet-name>
        <url-pattern>/services/roles/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionService</servlet-name>
        <url-pattern>/services/question/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryService</servlet-name>
        <url-pattern>/services/category/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizService</servlet-name>
        <url-pattern>/services/quiz/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizCategoryService</servlet-name>
        <url-pattern>/services/quizcategory/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizQuestionService</servlet-name>
        <url-pattern>/services/quizquestion/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GeneratorService</servlet-name>
        <url-pattern>/services/generator/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RTEService</servlet-name>
        <url-pattern>/services/rte/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SequencingService</servlet-name>
        <url-pattern>/services/sequencing/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GradebookService</servlet-name>
        <url-pattern>/services/gradebook/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LiferayJournalArticleService</servlet-name>
        <url-pattern>/services/liferay/article/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LiferaySiteService</servlet-name>
        <url-pattern>/services/liferay/site/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LiferayUserService</servlet-name>
        <url-pattern>/services/liferay/user/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LiferayRoleService</servlet-name>
        <url-pattern>/services/liferay/role/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CertificateService</servlet-name>
        <url-pattern>/services/certificating/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CertificateSiteService</servlet-name>
        <url-pattern>/services/certificating/sites/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CertificateUserService</servlet-name>
        <url-pattern>/services/certificating/users/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TincanApiStatement</servlet-name>
        <servlet-class>com.arcusys.learn.tincan.api.StatementService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TincanApiStatement</servlet-name>
        <url-pattern>/TincanApi/statements/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TincanApiActivities</servlet-name>
        <servlet-class>com.arcusys.learn.tincan.api.ActivitiesService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TincanApiActivities</servlet-name>
        <url-pattern>/TincanApi/activities/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TincanApiAgent</servlet-name>
        <servlet-class>com.arcusys.learn.tincan.api.AgentService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TincanApiAgent</servlet-name>
        <url-pattern>/TincanApi/agents/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TincanApiState</servlet-name>
        <servlet-class>com.arcusys.learn.tincan.api.StateService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TincanApiState</servlet-name>
        <url-pattern>/TincanApi/activities/state/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TincanApiAbout</servlet-name>
        <servlet-class>com.arcusys.learn.tincan.api.AboutService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TincanApiAbout</servlet-name>
        <url-pattern>/TincanApi/about/*</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>