<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>SCORMQuestionBankView</filter-name>
        <filter-class>com.arcusys.learn.view.QuestionBankView</filter-class>
    </filter>
    <filter>
        <filter-name>SCORMUserView</filter-name>
        <filter-class>com.arcusys.learn.view.UserView</filter-class>
    </filter>
    <filter>
        <filter-name>SCORMAdminView</filter-name>
        <filter-class>com.arcusys.learn.view.AdminView</filter-class>
    </filter>
    <filter>
        <filter-name>SCORMQuizView</filter-name>
        <filter-class>com.arcusys.learn.view.QuizView</filter-class>
    </filter>
    <filter>
        <filter-name>GradebookView</filter-name>
        <filter-class>com.arcusys.learn.view.GradebookView</filter-class>
    </filter>
    <filter>
        <filter-name>CurriculumView</filter-name>
        <filter-class>com.arcusys.learn.view.CurriculumAdmin</filter-class>
    </filter>
    <filter>
        <filter-name>CurriculumUser</filter-name>
        <filter-class>com.arcusys.learn.view.CurriculumUser</filter-class>
    </filter>

    <filter>
        <filter-name>MyAccountView</filter-name>
        <filter-class>com.arcusys.learn.view.MyAccountView</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SCORMQuestionBankView</filter-name>
        <url-pattern>/BankView/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SCORMUserView</filter-name>
        <url-pattern>/UserView/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SCORMAdminView</filter-name>
        <url-pattern>/ScormAdmin/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SCORMQuizView</filter-name>
        <url-pattern>/QuizView/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>GradebookView</filter-name>
        <url-pattern>/GradebookView/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CurriculumView</filter-name>
        <url-pattern>/CurriculumView/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CurriculumUser</filter-name>
        <url-pattern>/CurriculumUser/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>MyAccountView</filter-name>
        <url-pattern>/MyAccountView/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>com.liferay.portal.kernel.spring.context.PortletContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>SCORMApplication Servlet</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>com.arcusys.learn.view.UserView</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>SCORMApplicationAdmin Servlet</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>com.arcusys.learn.view.AdminView</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>SCORMQuestionBank Servlet</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>com.arcusys.learn.view.QuestionBankView</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>SCORMQuizes Servlet</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>com.arcusys.learn.view.SCORMQuizes</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Gradebook Servlet</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>com.arcusys.learn.view.GradebookView</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Curriculum Servlet</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>com.arcusys.learn.view.CurriculumAdmin</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>SCORMUserAccount Servlet</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>com.arcusys.learn.view.MyAccountView</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>ValamisSocialDashboard Servlet</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>com.arcusys.learn.view.social.DashBoardView</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>SCORMApplication Servlet</servlet-name>
        <url-pattern>/SCORMApplication/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SCORMApplicationAdmin Servlet</servlet-name>
        <url-pattern>/SCORMApplicationAdmin/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCORMQuestionBank Servlet</servlet-name>
        <url-pattern>/SCORMQuestionBank/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCORMQuizes Servlet</servlet-name>
        <url-pattern>/SCORMQuizes/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Gradebook Servlet</servlet-name>
        <url-pattern>/Gradebook/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Curriculum Servlet</servlet-name>
        <url-pattern>/Curriculum/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCORMUserAccount Servlet</servlet-name>
        <url-pattern>/SCORMUserAccount/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValamisSocialDashboard Servlet</servlet-name>
        <url-pattern>/ValamisSocialDashboard/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>QuizPreviewResourceFilter</servlet-name>
        <servlet-class>com.arcusys.learn.web.QuizPreviewResourceFilter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QuizPreviewResourceFilter</servlet-name>
        <url-pattern>/resource/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FileStorageFilter</servlet-name>
        <servlet-class>com.arcusys.learn.web.FileStorageFilter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileStorageFilter</servlet-name>
        <url-pattern>/SCORMData/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PackagesService</servlet-name>
        <servlet-class>com.arcusys.learn.scorm.manifest.service.PackagesService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PackagesService</servlet-name>
        <url-pattern>/services/packages/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TincanPackagesService</servlet-name>
        <servlet-class>com.arcusys.learn.scorm.manifest.service.TincanPackagesService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TincanPackagesService</servlet-name>
        <url-pattern>/services/tincan-packages/*</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>PackageApiEndpoint</servlet-name>
        <servlet-class>com.arcusys.learn.controllers.api.PackageApiController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PackageApiEndpoint</servlet-name>
        <url-pattern>/api/packages/*</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>OrganizationsService</servlet-name>
        <servlet-class>com.arcusys.learn.scorm.manifest.service.OrganizationsService</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ActivitiesService</servlet-name>
        <servlet-class>com.arcusys.learn.scorm.manifest.service.ActivitiesService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminService</servlet-name>
        <servlet-class>com.arcusys.learn.controllers.api.AdminApiController</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>FileApiEndpoint</servlet-name>
        <servlet-class>com.arcusys.learn.controllers.api.FileApiController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileApiEndpoint</servlet-name>
        <url-pattern>/api/files/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CourseApiEndpoint</servlet-name>
        <servlet-class>com.arcusys.learn.controllers.api.CourseApiController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CourseApiEndpoint</servlet-name>
        <url-pattern>/api/courses/*</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>GradebookApiEndpoint</servlet-name>
        <servlet-class>com.arcusys.learn.controllers.api.GradebookApiController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GradebookApiEndpoint</servlet-name>
        <url-pattern>/api/gradebook/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>QuestionService</servlet-name>
        <servlet-class>com.arcusys.learn.controllers.api.QuestionApiController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryService</servlet-name>
        <servlet-class>com.arcusys.learn.controllers.api.CategoryApiController</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>GeneratorService</servlet-name>
        <servlet-class>com.arcusys.learn.quiz.service.GeneratedPackagesService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RTEService</servlet-name>
        <servlet-class>com.arcusys.learn.scorm.rte.service.RunTimeEnvironment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SequencingService</servlet-name>
        <servlet-class>com.arcusys.learn.scorm.rte.service.SequencingService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LiferayJournalArticleService</servlet-name>
        <servlet-class>com.arcusys.learn.liferay.service.JournalArticleService</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>LiferaySiteService</servlet-name>
        <servlet-class>com.arcusys.learn.controllers.api.CourseApiController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LiferaySiteService</servlet-name>
        <url-pattern>/services/liferay/site/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserApiEndpoint</servlet-name>
        <servlet-class>com.arcusys.learn.controllers.api.UserApiController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserApiEndpoint</servlet-name>
        <url-pattern>/api/users/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LiferayRoleService</servlet-name>
        <servlet-class>com.arcusys.learn.controllers.api.RoleApiController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LiferayRoleService</servlet-name>
        <url-pattern>/api/roles/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CertificateApiEndpoint</servlet-name>
        <servlet-class>com.arcusys.learn.controllers.api.CertificateApiController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CertificateApiEndpoint</servlet-name>
        <url-pattern>/api/certificates/*</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>ActivityController</servlet-name>
        <servlet-class>com.arcusys.learn.controllers.api.ActivityApiController</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ReportApiEndpoint</servlet-name>
        <servlet-class>com.arcusys.learn.controllers.api.ReportApiController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReportApiEndpoint</servlet-name>
        <url-pattern>/api/report/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>OrganizationsService</servlet-name>
        <url-pattern>/services/organizations/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ActivitiesService</servlet-name>
        <url-pattern>/services/activities/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminService</servlet-name>
        <url-pattern>/services/administering/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>QuestionService</servlet-name>
        <url-pattern>/api/question/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryService</servlet-name>
        <url-pattern>/api/category/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GeneratorService</servlet-name>
        <url-pattern>/services/generator/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RTEService</servlet-name>
        <url-pattern>/services/rte/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SequencingService</servlet-name>
        <url-pattern>/services/sequencing/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LiferayJournalArticleService</servlet-name>
        <url-pattern>/services/liferay/article/*</url-pattern>
    </servlet-mapping>




    <servlet-mapping>
        <servlet-name>ActivityController</servlet-name>
        <url-pattern>/services/activity/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>InitializeController</servlet-name>
        <servlet-class>com.arcusys.learn.controllers.oauth.InitializeApiController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InitializeController</servlet-name>
        <url-pattern>/oauth/initiate/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TokenController</servlet-name>
        <servlet-class>com.arcusys.learn.controllers.oauth.TokenApiController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TokenController</servlet-name>
        <url-pattern>/oauth/token/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegistrationController</servlet-name>
        <servlet-class>com.arcusys.learn.controllers.oauth.RegistrationApiController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationController</servlet-name>
        <url-pattern>/oauth/registration/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>QuizApiEndpoint</servlet-name>
        <servlet-class>com.arcusys.learn.controllers.api.QuizApiController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QuizApiEndpoint</servlet-name>
        <url-pattern>/api/quiz/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TincanApiStatement</servlet-name>
        <servlet-class>com.arcusys.learn.tincan.api.StatementService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TincanApiStatement</servlet-name>
        <url-pattern>/TincanApi/statements/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TincanApiActivities</servlet-name>
        <servlet-class>com.arcusys.learn.tincan.api.ActivitiesService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TincanApiActivities</servlet-name>
        <url-pattern>/TincanApi/activities/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TincanApiAgent</servlet-name>
        <servlet-class>com.arcusys.learn.tincan.api.AgentService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TincanApiAgent</servlet-name>
        <url-pattern>/TincanApi/agents/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TincanApiState</servlet-name>
        <servlet-class>com.arcusys.learn.tincan.api.StateService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TincanApiState</servlet-name>
        <url-pattern>/TincanApi/activities/state/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TincanApiAbout</servlet-name>
        <servlet-class>com.arcusys.learn.tincan.api.AboutService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TincanApiAbout</servlet-name>
        <url-pattern>/TincanApi/about/*</url-pattern>
    </servlet-mapping>


    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>