<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <!--View endpoints-->
    <filter>
        <filter-name>SCORMQuestionBankView</filter-name>
        <filter-class>com.arcusys.learn.view.QuestionManagerView</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SCORMQuestionBankView</filter-name>
        <url-pattern>/BankView/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>LessonViewerView</filter-name>
        <filter-class>com.arcusys.learn.view.LessonViewerView</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LessonViewerView</filter-name>
        <url-pattern>/LessonViewerView/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>SCORMAdminView</filter-name>
        <filter-class>com.arcusys.learn.view.AdminView</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SCORMAdminView</filter-name>
        <url-pattern>/ScormAdmin/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>LessonDesignerView</filter-name>
        <filter-class>com.arcusys.learn.view.LessonDesignerView</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LessonDesignerView</filter-name>
        <url-pattern>/LessonDesignerView/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>GradebookView</filter-name>
        <filter-class>com.arcusys.learn.view.GradebookView</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>GradebookView</filter-name>
        <url-pattern>/GradebookView/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>CurriculumView</filter-name>
        <filter-class>com.arcusys.learn.view.CurriculumAdmin</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CurriculumView</filter-name>
        <url-pattern>/CurriculumView/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>CurriculumUser</filter-name>
        <filter-class>com.arcusys.learn.view.CurriculumUser</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CurriculumUser</filter-name>
        <url-pattern>/CurriculumUser/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>UserPortfolio</filter-name>
        <filter-class>com.arcusys.learn.view.UserPortfolioView</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserPortfolio</filter-name>
        <url-pattern>/UserPortfolio/*</url-pattern>
    </filter-mapping>

    <!--Listeners-->
    <listener>
        <listener-class>com.liferay.portal.kernel.spring.context.PortletContextLoaderListener</listener-class>
    </listener>

    <!--Api endpoints-->
    <!--NB: Api endpoint url start with '/delegate' prefix-->
    <!--Packages api endpoint-->
    <servlet>
        <servlet-name>packages</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.learn.controllers.api.PackageApiController</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>packages</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>packages</servlet-name>
        <url-pattern>/packages/*</url-pattern>
    </servlet-mapping>

    <!--File api endpoint-->
    <servlet>
        <servlet-name>files</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.learn.controllers.api.FileApiController</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>files</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>files</servlet-name>
        <url-pattern>/files/*</url-pattern>
    </servlet-mapping>

    <!--Gradebook api endpoint-->
    <servlet>
        <servlet-name>gradebooks</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.learn.controllers.api.GradebookApiController</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>gradebooks</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>gradebooks</servlet-name>
        <url-pattern>/gradebooks/*</url-pattern>
    </servlet-mapping>

    <!--Courses api endpoint-->
    <servlet>
        <servlet-name>courses</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.learn.controllers.api.CourseApiController</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>courses</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>courses</servlet-name>
        <url-pattern>/courses/*</url-pattern>
    </servlet-mapping>

    <!--User api endpoint-->
    <servlet>
        <servlet-name>users</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.learn.controllers.api.UserApiController</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>users</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>users</servlet-name>
        <url-pattern>/users/*</url-pattern>
    </servlet-mapping>

    <!--Role api endpoint-->
    <servlet>
        <servlet-name>roles</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.learn.controllers.api.RoleApiController</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>roles</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>roles</servlet-name>
        <url-pattern>/roles/*</url-pattern>
    </servlet-mapping>

    <!--Certificate api endpoint-->
    <servlet>
        <servlet-name>certificates</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.learn.controllers.api.CertificateApiController</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>certificates</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>certificates</servlet-name>
        <url-pattern>/certificates/*</url-pattern>
    </servlet-mapping>

    <!--Printing api endpoint-->
    <servlet>
        <servlet-name>print</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.learn.controllers.api.TranscriptPrintApiController</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>print</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>print</servlet-name>
        <url-pattern>/print/*</url-pattern>
    </servlet-mapping>

    <!--Tincan statement api endpoint-->
    <servlet>
        <servlet-name>statements</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.learn.controllers.api.tincan.TincanStatementApiController</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>statements</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>statements</servlet-name>
        <url-pattern>/statements/*</url-pattern>
    </servlet-mapping>

    <!--Tincan activities api endpoint-->
    <servlet>
        <servlet-name>activities</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.learn.controllers.api.tincan.TincanActivityApiController</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>activities</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>activities</servlet-name>
        <url-pattern>/activities/*</url-pattern>
    </servlet-mapping>

    <!--Tincan agents api endpoint-->
    <servlet>
        <servlet-name>agents</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.learn.controllers.api.tincan.TincanAgentApiController</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>agents</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>agents</servlet-name>
        <url-pattern>/agents/*</url-pattern>
    </servlet-mapping>

    <!--Tincan about api endpoint-->
    <servlet>
        <servlet-name>about</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.learn.controllers.api.tincan.TincanAboutApiController</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>about</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>about</servlet-name>
        <url-pattern>/about/*</url-pattern>
    </servlet-mapping>

    <!--Administering api endpoint-->
    <servlet>
        <servlet-name>administering</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.learn.controllers.api.AdminApiController</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>administering</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>administering</servlet-name>
        <url-pattern>/administering/*</url-pattern>
    </servlet-mapping>

    <!--Category api endpoint-->
    <servlet>
        <servlet-name>categories</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.learn.controllers.api.CategoryApiController</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>categories</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>categories</servlet-name>
        <url-pattern>/categories/*</url-pattern>
    </servlet-mapping>

    <!--Questions api endpoint-->
    <servlet>
        <servlet-name>questions</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.learn.controllers.api.QuestionApiController</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>questions</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>questions</servlet-name>
        <url-pattern>/questions/*</url-pattern>
    </servlet-mapping>

    <!-- Call liferay actions -->
    <servlet>
        <servlet-name>liferay</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.learn.controllers.api.LiferayApiController</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>liferay</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>liferay</servlet-name>
        <url-pattern>/liferay/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>manifestactivities</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.learn.scorm.manifest.service.ActivitiesService</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>manifestactivities</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>manifestactivities</servlet-name>
        <url-pattern>/manifestactivities/*</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>SCORMApplication Servlet</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>com.arcusys.learn.view.LessonViewerView</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>SCORMApplicationAdmin Servlet</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>com.arcusys.learn.view.AdminView</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>SCORMQuestionBank Servlet</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>com.arcusys.learn.view.QuestionManagerView</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>SCORMQuizes Servlet</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>com.arcusys.learn.view.SCORMQuizes</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Gradebook Servlet</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>com.arcusys.learn.view.GradebookView</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Curriculum Servlet</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>com.arcusys.learn.view.CurriculumAdmin</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>SCORMUserAccount Servlet</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>com.arcusys.learn.view.UserPortfolioView</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ValamisSocialDashboard Servlet</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
        <init-param>
            <param-name>portlet-class</param-name>
            <param-value>com.arcusys.learn.view.social.DashBoardView</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>


    <servlet>
        <servlet-name>InitializeController</servlet-name>
        <servlet-class>com.arcusys.learn.controllers.oauth.InitializeApiController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InitializeController</servlet-name>
        <url-pattern>/oauth/initiate/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TokenController</servlet-name>
        <servlet-class>com.arcusys.learn.controllers.oauth.TokenApiController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TokenController</servlet-name>
        <url-pattern>/oauth/token/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegistrationController</servlet-name>
        <servlet-class>com.arcusys.learn.controllers.oauth.RegistrationApiController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationController</servlet-name>
        <url-pattern>/oauth/registration/*</url-pattern>
    </servlet-mapping>




    <servlet-mapping>
        <servlet-name>SCORMApplication Servlet</servlet-name>
        <url-pattern>/SCORMApplication/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SCORMApplicationAdmin Servlet</servlet-name>
        <url-pattern>/SCORMApplicationAdmin/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCORMQuestionBank Servlet</servlet-name>
        <url-pattern>/SCORMQuestionBank/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCORMQuizes Servlet</servlet-name>
        <url-pattern>/SCORMQuizes/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Gradebook Servlet</servlet-name>
        <url-pattern>/Gradebook/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Curriculum Servlet</servlet-name>
        <url-pattern>/Curriculum/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCORMUserAccount Servlet</servlet-name>
        <url-pattern>/SCORMUserAccount/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValamisSocialDashboard Servlet</servlet-name>
        <url-pattern>/ValamisSocialDashboard/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>QuizPreviewResourceFilter</servlet-name>
        <servlet-class>com.arcusys.learn.web.QuizPreviewResourceFilter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QuizPreviewResourceFilter</servlet-name>
        <url-pattern>/resource/*</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>FileStorageFilter</servlet-name>
        <servlet-class>com.arcusys.learn.web.FileStorageFilter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileStorageFilter</servlet-name>
        <url-pattern>/SCORMData/*</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>OrganizationsService</servlet-name>
        <servlet-class>com.arcusys.learn.scorm.manifest.service.OrganizationsService</servlet-class>
    </servlet>



    <servlet>
        <servlet-name>rte</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.learn.scorm.rte.service.RunTimeEnvironment</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>rte</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>rte</servlet-name>
        <url-pattern>/rte/*</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>LiferayJournalArticleService</servlet-name>
        <servlet-class>com.arcusys.learn.liferay.service.JournalArticleService</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ActivityController</servlet-name>
        <servlet-class>com.arcusys.learn.controllers.api.ActivityApiController</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>report</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.learn.controllers.api.ReportApiController</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>report</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>report</servlet-name>
        <url-pattern>/report/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>OrganizationsService</servlet-name>
        <url-pattern>/services/organizations/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>sequencing</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.learn.scorm.rte.service.SequencingService</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>sequencing</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>sequencing</servlet-name>
        <url-pattern>/sequencing/*</url-pattern>
    </servlet-mapping>




    <servlet-mapping>
        <servlet-name>LiferayJournalArticleService</servlet-name>
        <url-pattern>/services/liferay/article/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ActivityController</servlet-name>
        <url-pattern>/services/activity/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>quiz</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.learn.controllers.api.QuizApiController</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>quiz</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>quiz</servlet-name>
        <url-pattern>/quiz/*</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>settings-api-controller</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.learn.controllers.api.SettingsApiController</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>settings-api-controller</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>settings-api-controller</servlet-name>
        <url-pattern>/settings-api-controller/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>lrs2activity-filter-api-controller</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.learn.controllers.api.LRSToActivitySettingApiController</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>lrs2activity-filter-api-controller</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>lrs2activity-filter-api-controller</servlet-name>
        <url-pattern>/lrs2activity-filter-api-controller/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>uri</servlet-name>
        <servlet-class>com.liferay.portal.kernel.servlet.PortalDelegateServlet</servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.arcusys.learn.controllers.api.URIApiController</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>uri</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>uri</servlet-name>
        <url-pattern>/uri/*</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>