<div id="SCORMAnswer_{{id}}" class="SCORManswer">
    <div class="SCORMAnswerTitle">Answer #<span id="SCORMAnswerTitleID_{{id}}" /></div>
    <table width="100%">
        <tr>
            <td width="50%" style="padding-right: 20px">
                <b>Sentence:</b>
                <div id="SCORMAnswerText_{{id}}" class="SCORMRoundedBorder">{{text}}</div>
                <button id="buttonSCORMEditText_{{id}}" class="editButton">
                    <span>Edit text</span>
                </button>
            </td>
            <td width="50%" style="padding-right: 20px">
                <b>Should be matched with:</b>
                <div id="SCORMAnswerSubquestionText_{{id}}" class="SCORMRoundedBorder">{{subquestion}}</div>
                <button id="buttonSCORMEditSubquestionText_{{id}}" class="editButton">
                    <span>Edit text</span>
                </button>
            </td>
        </tr>
    </table>
    <hr>
    <button id="buttonSCORMDeleteAnswer_{{id}}" class="deleteButton">
        <span>Delete answer</span>
    </button>
</div>