<div id="SCORMQuestionEditor">
    <div class="SCORMFixedPanel">
        <button id="buttonUpdateQuestion" class="importantButton saveButton"><span>Save question</span></button> 
    </div>
    <div id="SCORMQuestionTypeDiv">
        Question type: 
        <select id="SCORMQuestionType">
            <option value="type0">Choice question</option>
            <option value="type1">Short answer question</option>
            <option value="type2">Numeric question</option>
            <option value="type3">Positioning question</option>
            <option value="type4">Matching question</option>
            <option value="type5">Essay question</option>
            <option value="type6">Embedded answer question</option>
        </select>
    </div>
    <div id="SCORMQuestionTitle">
        Question title:
        <input type="text" id="SCORMQuestionTitleEdit" />
    </div> 
    <div>Question text:</div>
    <div id="SCORMQuestionText">
        <div id="SCORMQuestionTextView"></div>
        <button onclick="RichEditView.show('Question text','SCORMQuestionTextView')" class="editButton">
            <span>Edit question text</span>
        </button>
        <div id="SCORMQuestionIsBounded">
            <input type="checkbox" id="SCORMQuestionBounded" /> user should get notified on the number of correct options
        </div>
        <div id="SCORMQuestionIsCaseSensitive">
            <input type="checkbox" id="SCORMQuestionCaseSensitive" /> case sensitive
        </div>
    </div>
    <div id="SCORMExplanationText">
        <div id="SCORMExplanationTextView"></div>
        <button onclick="RichEditView.show('Answer explanation','SCORMExplanationTextView')" class="editButton">
            <span>Edit explanation text</span>
        </button>
    </div>
    <div id="SCORMQuestionAnswers">
        <div id="SCORMQuestionAnswersEditors"></div>
        <button id="SCORMButtonAddAnswer" class="importantButton addButton">
            <span>Add answer</span>
        </button>
    </div>
</div>