<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <filter>
        <filter-name>SCORMQuestionBankView</filter-name>
        <filter-class>com.arcusys.learn.view.QuestionBankView</filter-class>
    </filter>
    <filter>
        <filter-name>SCORMUserView</filter-name>
        <filter-class>com.arcusys.learn.view.UserView</filter-class>
    </filter>
    <filter>
        <filter-name>SCORMQuizView</filter-name>
        <filter-class>com.arcusys.learn.view.QuizView</filter-class>
    </filter>
    <filter>
        <filter-name>GradebookView</filter-name>
        <filter-class>com.arcusys.learn.view.GradebookView</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SCORMQuestionBankView</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SCORMUserView</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SCORMQuizView</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>GradebookView</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>PackagesService</servlet-name>
        <servlet-class>com.arcusys.learn.scorm.manifest.service.PackagesService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrganizationsService</servlet-name>
        <servlet-class>com.arcusys.learn.scorm.manifest.service.OrganizationsService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResourcesService</servlet-name>
        <servlet-class>com.arcusys.learn.scorm.manifest.service.ResourcesService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivitiesService</servlet-name>
        <servlet-class>com.arcusys.learn.scorm.manifest.service.ActivitiesService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminService</servlet-name>
        <servlet-class>com.arcusys.learn.admin.service.AdminService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadService</servlet-name>
        <servlet-class>com.arcusys.learn.admin.service.UploadService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionService</servlet-name>
        <servlet-class>com.arcusys.learn.questionbank.service.QuestionService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryService</servlet-name>
        <servlet-class>com.arcusys.learn.questionbank.service.CategoryService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizService</servlet-name>
        <servlet-class>com.arcusys.learn.quiz.service.QuizService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizCategoryService</servlet-name>
        <servlet-class>com.arcusys.learn.quiz.service.QuizCategoryService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizQuestionService</servlet-name>
        <servlet-class>com.arcusys.learn.quiz.service.QuizQuestionService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GeneratorService</servlet-name>
        <servlet-class>com.arcusys.learn.quiz.service.GeneratedPackagesService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RTEService</servlet-name>
        <servlet-class>com.arcusys.learn.scorm.rte.service.RunTimeEnvironment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SequencingService</servlet-name>
        <servlet-class>com.arcusys.learn.scorm.rte.service.SequencingService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GradebookService</servlet-name>
        <servlet-class>com.arcusys.learn.gradebook.service.GradebookService</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PackagesService</servlet-name>
        <url-pattern>/services/packages/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrganizationsService</servlet-name>
        <url-pattern>/services/organizations/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResourcesService</servlet-name>
        <url-pattern>/services/resources/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivitiesService</servlet-name>
        <url-pattern>/services/activities/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminService</servlet-name>
        <url-pattern>/services/administering/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadService</servlet-name>
        <url-pattern>/services/upload/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionService</servlet-name>
        <url-pattern>/services/question/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryService</servlet-name>
        <url-pattern>/services/category/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizService</servlet-name>
        <url-pattern>/services/quiz/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizCategoryService</servlet-name>
        <url-pattern>/services/quizcategory/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizQuestionService</servlet-name>
        <url-pattern>/services/quizquestion/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GeneratorService</servlet-name>
        <url-pattern>/services/generator/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RTEService</servlet-name>
        <url-pattern>/services/rte/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SequencingService</servlet-name>
        <url-pattern>/services/sequencing/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GradebookService</servlet-name>
        <url-pattern>/services/gradebook/*</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>