grant {
     permission java.security.SecurityPermission   "getPolicy";
     permission java.security.SecurityPermission   "setPolicy";
     permission java.security.SecurityPermission   "getProtectionDomain";
     permission java.lang.RuntimePermission        "getProtectionDomain";
     permission java.security.SecurityPermission   "insertProvider.SunJCE";
     permission java.lang.RuntimePermission        "setContextClassLoader";
     permission java.lang.RuntimePermission        "getClassLoader";
     permission java.net.SocketPermission          "localhost", "resolve";
     permission java.net.SocketPermission          "localhost:8080", "resolve";
     permission java.net.SocketPermission          "127.0.0.1", "connect,resolve";
     permission java.net.SocketPermission          "127.0.0.1:8080", "connect,resolve";
};