<!-- List view template -->
<script type="text/mustache" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
        xmlns="http://www.w3.org/1999/html"
        id="availableCertificateListView">
    <div id="certificateListWidget">
        <div id="SCORMCertificateHeader">
            <input placeholder="{{certificateSearchPlaceholderLabel}}" type="text" id="certificateSearch"
                   class="SCORMSearch"/>
            <abbr>
                <button id="filterList" class="textButton sortButton">{{filterLabel}}</button>
            </abbr>
            <abbr title="Sort">
                <button id="sortList" class="textButton sortButton">{{sortOrderAscLabel}}</button>
                <input type="hidden" id="sortAZ" value="true"/>
            </abbr>
        </div>
        <!--{{#isAdmin}}-->
        <div id="SCORMQuestionAnswers" class="SCORMAddNewButton">
            <div id="SCORMQuestionAnswersEditors"></div>
            <button id="SCORMButtonAddCertificate" class="certificateAddItem">{{addNewCertificateButtonLabel}}</button>
        </div>
        <!--{{/isAdmin}}-->


        <ul class="quizList" id="certificateList"></ul>

        <div id="allCertificatesPaginator" class="paginator" style="display: none;">
        </div>
    </div>

</script>

<!-- student My certificates view-->
<script type="text/mustache" id="myCertificateListView">
    <div id="myCertificateListWidget">


        <div id="myCertificateList">

        </div>

        <div id="myCertificatesPaginator" class="paginator" style="display: none;"/>

    </div>
</script>

<script type="text/mustache" id="noCertificates">
    <div>
        {{userHasNoCertificates}}
    </div>
    <div style="margin-top: 5px;">
        <button id="browseAvailable" class="textButton">{{browseAvailable}}</button>
    </div>
</script>

<!-- ListItem view template -->
<script type="text/mustache" id="availableCertificateListItemView">
    <div class="availableQuizItem">
        <div class="itemHeader">
            <div class="quizItemTitle">{{title}}</div>
            <!--{{#isAdmin}}-->
            <abbr title="{{quizRemoveButtonTooltipLabel}}">
                <button id="certificateDelete" class="button28 removeQuizButton buttonRemove"></button>
            </abbr>
            <abbr title="{{quizEditUsersButtonTooltipLabel}}">
                <button id="certificateEditUsers" class="membership"></button>
            </abbr>
            <abbr title="{{quizEditButtonTooltipLabel}}">
                <button id="certificateEdit" class="button28 removeQuizButton buttonEdit"></button>
            </abbr>
            <!--{{/isAdmin}}-->

            <!--{{^isAdmin}}-->
            <abbr title="{{joinCertificate}}">
                <button id="joinCertificate_{{id}}" class="commandButton quizManagementButton joinCertificate">
                    {{joinCertificate}}
                </button>
            </abbr>
            <abbr title="{{leaveCertificate}}">
                <button id="leaveCertificate_{{id}}" class="commandButton quizManagementButton leaveCertificate">
                    {{leaveCertificate}}
                </button>
            </abbr>
            <!--{{/isAdmin}}-->
            <div style="clear:both"></div>
        </div>
        <div class="itemBody">
            <div class="quizBodyContent">
                <div>
                    <div class="certificateIconDiv" id="certificateList_Icon_{{id}}">
                        <img src="{{logo}}" alt="" class="logo">
                    </div>
                    <div class="certificateInfoDiv">
                        <div class="certificateInfoLine quizSection">
                            <div class="quizSectionTitle">{{descriptionSubtitleLabel}}</div>
                            <div style="clear:both"></div>
                        </div>
                        <div id="SCORMCategoryDescription" class="SCORMResult">{{{description}}}</div>

                        <div style="margin-top:30px;">
                            <div style="float:left;" class="quizSectionTitle ">{{sitesCount}}
                                {{sitesSubtitleLabel}}
                            </div>

                            <div style="margin-left:50%;" class="quizSectionTitle ">
                                {{usersCount}} {{usersSubtitleLabel}}
                            </div>

                        </div>
                    </div>
                    <div style="clear:both"></div>
                </div>
                <div style="clear:both"></div>
            </div>
        </div>
    </div>
</script>


<script type="text/mustache" id="myCertificateListItemView">
    <div class="availableQuizItem">
        <div class="certificateItemHeader">
            <div class="quizItemTitle">{{title}}</div>

            <abbr title="{{open}}">
                <button id="expandCertificate_{{id}}" class="commandButton quizManagementButton toggleCertificate">
                    {{open}}
                </button>
            </abbr>
            <abbr title="{{close}}">
                <button id="collapseCertificate_{{id}}" class="commandButton quizManagementButton toggleCertificate"
                        style="display: none">
                    {{close}}
                </button>
            </abbr>

            <div style="clear:both"></div>
        </div>

        <div class="itemBody certificateItemBody" id="myCertificateBody_{{id}}" style="display: none">

            <div class="certificateIconDiv">
                <img src="{{logo}}" alt="" class="logo">
            </div>
            <div class="certificateInfoDiv">
                <div class="itemBody">
                    <div class="quizBodyContent">
                        <!--{{#isTemporaryAndComplete}}-->
                        <div>
                            <div class="certificateInfoLine quizSection">
                                <div class="quizSectionTitle">{{expireDateSubtitleLabel}}</div>
                                <div style="clear:both"></div>
                            </div>
                            <div class="SCORMResult">{{{expireDate}}}
                                <!--{{#isExpired}}-->
                                <br>

                                <div style="color:red"> {{certificationIsExpiredLabel}}</div>
                                <!--{{/isExpired}}-->
                            </div>
                        </div>
                        <!--{{/isTemporaryAndComplete}}-->


                        <!--{{#isCompleteAndBadgeAvailable}}-->
                        <div>
                            <div class="certificateInfoLine quizSection">
                                <div class="quizSectionTitle">Badge</div>
                                <div style="clear:both"></div>
                            </div>
                            <div class="SCORMResult">
                                <button id="issueBadge" class="commandButton textButton">{{earnbadge}}</button>
                            </div>
                        </div>
                        <!--{{/isCompleteAndBadgeAvailable}}-->
                        <div>
                            <div class="certificateInfoLine quizSection">
                                <div class="quizSectionTitle">{{descriptionSubtitleLabel}}</div>
                                <div style="clear:both"></div>
                            </div>
                            <div class="SCORMResult">{{{description}}}</div>
                        </div>


                        <div class="SCORMPackageList">
                            <div class="SCORMPackageListHeader">
                                <div class="SCORMPackageListHeaderText">{{sitesList}}</div>
                                <div style="clear:both"/>
                            </div>
                            <table style="width: 100%" cellpadding="0" class="myCertificateGrid" cellspacing="0">
                                <thead>
                                <tr>
                                    <th scope="col" class="scormSiteTitleColumn sortable listTitle" ref="title"></th>
                                    <th scope="col" class="scormSiteGradeColumn listTitle">{{courseGradeHeaderLabel}}
                                    </th>
                                </tr>
                                </thead>
                                <tbody id="SCORMMyCertificatesGrid_{{id}}">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
</script>

<script type="text/mustache" id="myCertificateSiteLinkRow">
    <tr>
        <td>
            <div><a href="{{url}}" target="_blank">{{{title}}}</a></div>
            <div style="margin-top:5px; margin-left: 20px">{{description}}</div>
        </td>
        <td>{{{grade}}}</td>
    </tr>
</script>
<script type="text/mustache" id="myCertificateSiteRow">
    <tr>
        <td>{{{title}}}</td>
        <td>{{{grade}}}</td>
    </tr>
</script>
<script type="text/mustache" id="userCourseRow">
    <tr>
        <td><a href="{{url}}" target="_blank">{{{title}}}</a></td>
        <td>{{{grade}}}</td>
        <td>
            <button id='{{id}}' class='userCourseReview button28 removeQuizButton buttonEdit'></button>
        </td>
    </tr>
</script>


<script type="text/mustache" id="certificateItemEditSites">
    <div class="availableQuizItem">
        <div class="itemHeader">
            <div class="quizItemTitle" id="editSitesCertificateTitle_{{id}}">{{title}}</div>

            <input type='text' class="quizItemTitle" id='editSitesCertificateTitleInput_{{id}}'
                   title='{{requiredFieldTooltipLabel}}'
                   value='{{title}}'/>

            <abbr title="{{quizEditButtonTooltipLabel}}">
                <button id="certificateEditTitle_{{id}}"
                        class="certificateEditTitle button28 removeQuizButton buttonEdit"></button>
            </abbr>
            <abbr title="{{quizEditButtonTooltipLabel}}">
                <button id="certificateTitleUpdate_{{id}}"
                        class="certificateTitleUpdate button28 buttonInstall quizManagementButton"></button>
            </abbr>

            <div style="clear:both"></div>
        </div>
        <div class="itemBody">
            <div class="quizBodyContent">
                <div>
                    <div class="certificateIconDiv">
                        <div class="quizSection">
                            <div class="quizSectionTitle">{{LogoTitle}}</div>
                            <div style="clear:both"></div>

                        </div>
                        <div class="SCORMResult">
                            <div id="certificateIcon_{{id}}">
                                <img src="{{logo}}" alt="" class="logo">
                            </div>
                            <br>

                            <div class="upload">
                                <input id="fileupload_{{id}}" type="file" name="file">
                            </div>
                            <div>
                                <button id="designBadge_{{id}}" class="designBadge commandButton">{{designNewBadge}}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="certificateInfoDiv">
                        <div class="certificateInfoLine quizSection certificateValidPeriod">
                            <div class="quizSectionTitle">{{descriptionSubtitleLabel}}</div>
                            <abbr title="{{editDescriptionButtonTooltipLabel}}">
                                <button id="SCORMEditDescription"
                                        class="button24x18 buttonPen questionarieEditTextButton"></button>
                            </abbr>

                            <div style="clear:both"></div>
                        </div>
                        <div id="certificateDescription_{{id}}" class="SCORMResult">{{{description}}}</div>
                    </div>
                    <div style="clear:both"></div>
                </div>


                <div class="quizSection certificateDetailSection certificateValidPeriod">
                    <div class="quizSectionTitle">{{validPeriodSubtitleLabel}}</div>
                    <div style="clear:both"></div>
                </div>
                <div id="certificateValidPeriod" class="SCORMResult">
                    <input  type="radio" name="validPeriod_{{id}}" value="true" class="validPeriod"
                    {{#isPermanent}}checked{{/isPermanent}} />
                    <label class="captionLabel">{{permanent}}</label>
                    <input type="radio" name="validPeriod_{{id}}" value="false" class="validPeriod" style="margin-left:10px;"
                    {{^isPermanent}}checked{{/isPermanent}} />
                    <label class="captionLabel">{{year}}</label>
                </div>


                <div class="quizSection certificateDetailSection">
                    <div class="quizSectionTitle">{{publishBadgeSubtitleLabel}}</div>
                    <div style="clear:both"></div>
                </div>
                <div id="certificatePublishBadge" class="SCORMResult">
                    <input id="publishBadge_{{id}}" type="checkbox" class="publishBadgeCheckbox"
                    {{#publishBadge}}checked{{/publishBadge}} />
                    <label class="captionLabel">{{publishBadgeLabel}}</label>

                    <div id="shortDescriptionSection_{{id}}">
                        {{shortDescriptionLabel}}
                        <input type="text" style="margin-left: 5px;" value="{{shortDescription}}"
                               class="shortDescription" id="shortDescription_{{id}}"/>
                     <!--   <button id="certificateShortDescriptionUpdate_{{id}}" title="{{saveShortDescription}}"
                                class="shortDescriptionUpdate button28 buttonInstall"></button>-->
                    </div>
                </div>


                <div class="quizSection certificateDetailSection">
                    <div class="quizSectionTitle">{{sitesSubtitleLabel}}</div>
                    <abbr title="{{sitesSubtitleLabel}}">
                        <button id="addSites" class="button24x18 buttonList editQuestionsButton"></button>
                    </abbr>


                    <div style="clear:both"></div>
                </div>
                <ul class="siteSortableList" id="certificateSitesSortable_{{id}}"></ul>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>

    </div>
</script>

<script type="text/mustache" id="certificateSiteItem">
    <li id="siteSortableListItem_{{siteID}}">

        <div style="float: left; margin-right: 30px;">{{title}}</div>
        <div style="float: right; margin-right: 5px">
            <button id="certificateRemoveSite_{{siteID}}"
                    class="button24x18 removeQuizButton buttonRemoveSite certificateRemoveSite"></button>
        </div>
        <div style="clear:both"></div>
        <div style="margin-top:5px; margin-left: 20px">{{description}}</div>

        <input class="hiddenSiteID" type="hidden" value="{{siteID}}"/>
    </li>
</script>

<script type="text/mustache" id="certificateItemEditUsers">
    <div class="fluidRowsContent">
        <div class="fluidLeftPart ui-layout-west">
            <div id="certificateUserTreeView_{{id}}"></div>
        </div>
        <div class="fluidRightPart ui-layout-center">
            <div class="SCORMPackageListHeaderButtons">
                <abbr title="{{removeTreeElementButtonLabel}}">
                    <button id="certificateRemoveUser" class="button28 editQuizButton buttonRemove"></button>
                </abbr>
                <abbr title="{{addQuestionTreeElementButtonLabel}}">
                    <button id="certificateAddUser" class="button28 editQuizButton buttonAddQuestion"></button>
                </abbr>

                <div style="clear:both"></div>
            </div>
            <div id="certificateUserContent">
                <div id="jsTreeCourseGrade_{{id}}"></div>

            </div>
        </div>

        <div style="width:100%; clear: both"></div>
    </div>
</script>


<script type="text/mustache" id="liferaySiteDialogView">
    <div id="liferaySiteDialog">
        <div id="siteList">
        </div>
    </div>
</script>
<script type="text/mustache" id="liferaySiteElementView">
    <div id="liferaySiteElement" class="portlet-learn-scorm">
        <button id="selectSiteButton" class="button28 buttonInstall quizManagementButton"></button>
        <div><b>{{title}}</b></div>
        <div style="margin-top:5px; margin-left: 20px">{{description}}</div>
        <br>
        <hr>
    </div>
</script>

<script type="text/mustache" id="liferayUserDialogView">
    <div id="liferayUserDialog">
        <div class="userSearch">
            <input placeholder="{{certificateSearchPlaceholderLabel}}" type="text" id="userSearch" class="SCORMSearch"/>
            <abbr title="Sort">
                <button id="sortUser" class="textButton sortButton">{{sortOrderAscLabel}}</button>
            </abbr>
        </div>

        <ul id="userList" class="userList"></ul>
    </div>
</script>
<script type="text/mustache" id="liferayUserElementView">
    <div id="liferayUserElement" class="portlet-learn-scorm">
        <hr>
        <button id="selectUserButton" class="button28 buttonInstall quizManagementButton"></button>
        <div style="width:60px; float:left;">
            {{#userPublicPageUrl}}
            <a href="{{userPublicPageUrl}}" target="_blank">
                {{/userPublicPageUrl}}

                <img src="{{portrait}}" alt="{{name}}" width="60px"/>
                {{#userPublicPageUrl}}
            </a>
            {{/userPublicPageUrl}}
        </div>
        <div style="margin-left: 65px; margin-top: 5px">
            {{name}}
            <br>
            {{email}}
        </div>
        <br>
        <br clear="all"/>
    </div>
</script>

<script type="text/mustache" id="userCourseGradeDialog">
    <div id="userCourseGrade" title="{{reviewDialogTitleLabel}}">
        <div class="SCORMGradebookDialogButtons">
            <div id="userCourseCommentPlaceholder">
                <label for="certificateCourseComment">{{courseCommentLabel}}</label>

                <textarea rows="10" style="width: 100%" id="certificateCourseComment"></textarea>
            </div>
            <div id="userCourseGradePlaceholder">
                <label>{{gradeLabel}}</label>
                <table class="gradeTable">
                    <tr>
                        <td><input type="radio" value="0" title="0" name="grade" align="left"/></td>
                        <td><input type="radio" value="0.1" title="1" name="grade" align="left"/></td>
                        <td><input type="radio" value="0.2" title="2" name="grade" align="left"/></td>
                        <td><input type="radio" value="0.3" title="3" name="grade" align="left"/></td>
                        <td><input type="radio" value="0.4" title="4" name="grade" align="left"/></td>
                        <td><input type="radio" value="0.5" title="5" name="grade" align="left"/></td>
                        <td><input type="radio" value="0.6" title="6" name="grade" align="left"/></td>
                        <td><input type="radio" value="0.7" title="7" name="grade" align="left"/></td>
                        <td><input type="radio" value="0.8" title="8" name="grade" align="left"/></td>
                        <td><input type="radio" value="0.9" title="9" name="grade" align="left"/></td>
                        <td><input type="radio" value="1" title="10" name="grade" align="left"/></td>
                    </tr>
                    <tr>
                        <td>0</td>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                        <td>7</td>
                        <td>8</td>
                        <td>9</td>
                        <td>10</td>
                    </tr>
                </table>
            </div>

            <div class="float-right" style="float: right;">
                <input type="button" id="saveCourseGradeButton" class="textbutton" value="{{saveButtonLabel}}"/>
                <input type="button" id="cancelCourseGradeButton" class="textbutton"
                       value="{{reviewDialogCloseButtonLabel}}"/>
            </div>

            <div class="clear"></div>
            <input type="hidden" value="" id="certificatingCourseID"/>
            <input type="hidden" value="" id="certificatingUserID"/>
        </div>
    </div>


</script>


<script type="text/mustache" id="certificateMemberListView">
    <div class="SCORMAddNewButton">
        <button class="certificateAddItem" id="addMember">{{addNewStudentButtonLabel}}</button>
    </div>

    <div>
        <div id="certificateMemberList">
        </div>
    </div>
</script>

<script type="text/mustache" id="certificateMemberListItemView">
    <div class="availableQuizItem">
        <div class="certificateItemHeader">
            <div class="quizItemTitle">{{name}}</div>
            <abbr>
                <button id="memberDelete" class="button28 removeQuizButton buttonRemove"
                        style="margin-top: 2px;"></button>
            </abbr>
            <abbr title="{{open}}">
                <button id="expandUserInfo_{{id}}" class="commandButton quizManagementButton expandMember">
                    {{open}}
                </button>
            </abbr>
            <abbr title="{{close}}">
                <button id="collapseUserInfo_{{id}}" class="commandButton quizManagementButton collapseMember"
                        style="display: none">
                    {{close}}
                </button>
            </abbr>


            <div style="clear:both"></div>
        </div>

        <div class="itemBody certificateItemBody" id="userInfoBody_{{id}}" style="display: none">
            <div style="float:left; width: 14% ">
                <img src="{{portrait}}" alt="" width="85px">
            </div>
            <div style="float: right; width: 84%">
                <div class="itemBody">
                    <div class="quizBodyContent bodyContentWide">

                        <div class="SCORMPackageList">
                            <div class="SCORMPackageListHeader">
                                <div class="SCORMPackageListHeaderText">{{studentProgress}}</div>
                                <div style="clear:both"/>
                            </div>
                            <table style="width: 100%" cellpadding="0" class="myCertificateGrid" cellspacing="0">
                                <thead>
                                <tr>
                                    <th scope="col" class="scormSiteTitleColumn sortable listTitle" ref="title">
                                        {{courseTitleHeaderLabel}}
                                    </th>
                                    <th scope="col" class="scormSiteGradeColumn listTitle">{{courseGradeHeaderLabel}}
                                    </th>
                                    <th scope="col" class="scormSiteGradeColumn listTitle"></th>
                                </tr>
                                </thead>
                                <tbody id="userCoursesGrid_{{id}}">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
</script>

<script type="text/mustache" id="userCourseProgressLinkRow">
    <tr>
        <td>
            <div><a href="{{url}}" target="_blank">{{{title}}}</a></div>
            <div style="margin-top:5px; margin-left: 20px">{{description}}</div>
        </td>
        <td>
            <div id="reviewGrade_{{siteID}}">{{{grade}}}</div>
        </td>
        <td>
            <button id="reviewButton_{{siteID}}" class='userCourseReview button28 removeQuizButton buttonEdit'></button>
        </td>
    </tr>
</script>

