<script type="text/mustache" id="experimental">
    <table id="GradeTable" border="1">
        <thead>
                <tr> <th>{{userNameLabel}}</th>
                    {{#packages}}
                     <th>{{title}}</th>
                    {{/packages}}
                     <th>{{totalGrade}}</th>
                     <th>{{gradeButton}}</th>
                </tr>
        </thead>
        <tbody>
            {{#users}}
            <tr>
                <td class="userTD"> {{userName}} </td>
                {{#grades}} <td> {{userGrade}} </td> {{/grades}}
                <td> {{totalGrade}} </td>
                <td> <button class="smallTextbutton" onclick="courseGradeFunc({{userID}})"> {{{courseGrade}}} </button> </td>
            </tr>
            {{/users}}
        </tbody>
        </table>
</script>

<script type="text/mustache" id="GradeDialog">
    <div id="userCourseGrade" title="{{reviewDialogTitleLabel}}">
        <div class="SCORMGradebookDialogButtons">
            <div id="userCourseCommentPlaceholder">
                <label for="certificateCourseComment">{{courseCommentLabel}}</label>

                <textarea rows="10" style="width: 100%" id="certificateCourseComment"></textarea>
            </div>
            <div id="userCourseGradePlaceholder">
                <label>{{gradeLabel}}</label>
                <table class="gradeTable">
                    <tr>
                        <td><input type="radio" value="0" title="0" name="grade" align="left"/></td>
                        <td><input type="radio" value="0.1" title="1" name="grade" align="left"/></td>
                        <td><input type="radio" value="0.2" title="2" name="grade" align="left"/></td>
                        <td><input type="radio" value="0.3" title="3" name="grade" align="left"/></td>
                        <td><input type="radio" value="0.4" title="4" name="grade" align="left"/></td>
                        <td><input type="radio" value="0.5" title="5" name="grade" align="left"/></td>
                        <td><input type="radio" value="0.6" title="6" name="grade" align="left"/></td>
                        <td><input type="radio" value="0.7" title="7" name="grade" align="left"/></td>
                        <td><input type="radio" value="0.8" title="8" name="grade" align="left"/></td>
                        <td><input type="radio" value="0.9" title="9" name="grade" align="left"/></td>
                        <td><input type="radio" value="1" title="10" name="grade" align="left"/></td>
                    </tr>
                    <tr>
                        <td>0</td>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                        <td>7</td>
                        <td>8</td>
                        <td>9</td>
                        <td>10</td>
                    </tr>
                </table>
            </div>

            <div class="float-right" style="float: right;">
                <input type="button" id="saveCourseGradeButton" class="textbutton" value="{{saveButtonLabel}}"/>
                <input type="button" id="cancelCourseGradeButton" class="textbutton"
                       value="{{reviewDialogCloseButtonLabel}}"/>
            </div>

            <div class="clear"></div>
            <input type="hidden" value="" id="certificatingCourseID"/>
            <input type="hidden" value="" id="certificatingUserID"/>
        </div>
    </div>
</script>


