<script type="text/mustache" id="liferayAccountInfoView">
    <div style="width:100px; float:left;">
        <img src="{{portrait}}" alt="{{name}}" width="90px"/>
    </div>
    <div style="margin-left: 105px; margin-top: 5px; font-size: 14px;">
        <b>{{name}}</b>
        <br>
        {{email}}
    </div>
    <br>
    <br clear="all"/>


    <div id="userCertificatesList" class="badge-list SCORMAddNewButton">
        <div id="UserCertificateTitle">{{curriculumMyTabsHeaderLabel}}</div>
    </div>
</script>

<script type="text/mustache" id="userCertificateItemView" class="availableQuizItem">
    <div class="badge-item">
        <div class="openbadge">
            <img src="{{logo}}" width="100" />

            <p>
                <!--{{^isPermanent}}-->
                {{expireDateLabel}} {{expireDate}}
                <!--{{/isPermanent}}-->
            </p>

            <p class="issuer">{{title}}</p>
        </div>
    </div>


</script>


