/* CSS Document */

.certificate-editGoals-dialog .ui-corner-all.ui-sortable-helper {
    background: #f2f2f2 !important;
}

.certificate-editGoals-dialog .ui-corner-all.ui-sortable-helper .user-name {
    width: 52%!important;
}

/* --- modals --- */

.certificate-modals-container .nav.nav-tabs li.active {
    border-bottom: 1px solid #d3d4d5;
}

/* --- show members --- */

.certificate-editMembers-dialog .content-wrapper {
    min-height: 430px;
}

.certificate-editMembers-dialog .sidebar-wrapper button {
    margin: 0px !important;
}

.certificate-editMembers-dialog .page-content .popup-content-header {
    margin-right: 20px;
    padding-right: 0px;
}

.certificate-editMembers-dialog .page-content .select-row {
    margin-left: 20px;
}

.certificate-editMembers-dialog table.valamis td {
    padding-top: 7px !important;
    padding-bottom: 7px !important;
}

.certificate-editMembers-dialog table.valamis img {
    border: 1px solid #DDDDDD;
}

.certificate-editMembers-dialog table td:first-child {
    padding-left: 20px;
}

.certificate-editMembers-dialog table td:last-child {
    padding-right: 20px;
}

.certificate-editMembers-dialog .page-content table td.checkbox {
    width: 40px;
}

/* --- add members --- */

.bbm-modal__topbar.add-members-modal {
    z-index: 2;
}

.certificate-modals-container .bbm-wrapper:nth-child(2) .bbm-modal {
    max-height: 900px;
    max-width: 900px;
    margin-top: 25px;
}

.certificate-modals-container .bbm-wrapper:nth-child(3) .bbm-modal {
    max-height: 900px;
    max-width: 900px;
    margin-top: 50px;
}

.certificate-modals-container .page-content-wrapper {
    max-height: 700px;
    overflow-y: auto;
    overflow-x: hidden;
}

.certificate-addMembers-dialog {
    overflow: auto;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.bbm-modal__topbar.add-members-modal {
    background: url("../images/popup-header-bg.jpg") repeat-x scroll left top #F4F4F4;
    margin-bottom: 0px;
}

.certificate-addMembers-dialog .add-members-content-header {
    padding: 20px;
}

.certificate-addMembers-dialog table td:first-child {
    padding-left: 20px;
}

.certificate-addMembers-dialog table td:last-child {
    padding-right: 20px;
}

.certificate-addMembers-dialog table.valamis img {
    border: 1px solid #DDDDDD;
}

.certificate-addMembers-dialog table.valamis input {
    float: right;
}

.certificate-addMembers-dialog .content-header {
    padding-right: 0px;
}

.certificate-addMembers-dialog .content-wrapper {
    min-height: 325px;
}


.certificate-addGoal-dialog {
    overflow: auto;
}

.certificate-addGoal-dialog .popup-content-header {
    float:left;
}

.certificate-addGoal-dialog .content-wrapper {
    min-height: 240px;
}

.certificate-addGoal-dialog .valamis-paginator {
    padding-top: 10px;
}

.certificate-addGoal-dialog .contentTable td.amount {
    width: 25px;
    padding-top: 2px;
}

.certificate-addGoal-dialog .contentTable td:first-child {
    padding-left: 15px;
}

.certificate-addGoal-dialog .contentTable td:last-child {
    padding-right: 15px;
}

.certificate-addGoal-dialog .contentTable input,
.certificate-addGoal-dialog .contentTable select {
    margin-bottom: 0px !important;
}

.page-content.certificates-collection {
    padding:0;
}

.page-content.certificates-collection .tab-content {
    padding:20px;
    overflow: initial;
}

/* --- */

.sidebar-wrapper {
    padding: 20px;
}

.page-content .certificate-items {
    padding-top: 40px;
}

.certificate-items .unpublished {
    opacity: 0.5;
}

.certificate-editDetails-dialog .valid-div input[type="radio"] {
    margin-top: 11px;
}

.certificate-editDetails-dialog .valid-div label {
    margin-top: 7px;
}

.certificate-editDetails-dialog .valid-div label.right-margined {
    margin-right: 20px;
}

.certificate-editDetails-dialog .list-table td.checkbox-container input {
    margin-top: -5px;
}

.certificate-editGoals-dialog .filter-by-type input {
    margin-top: 0px;
    margin-right: 5px;
}

.certificate-editGoals-dialog .popup-content-header .dropdown-button {
    margin-right: 0px;
}

.certificate-editGoals-dialog .list-table td.amount {
    width: 25px;
    padding-top: 2px;
}

.list-table td.duringPeriod {
    width: 240px; /* do not reduce it: will cause bug in firefox*/
    min-width: 200px;
    padding-top: 2px;
}

.list-table td.duringPeriod .select-element {
    margin: 0!important;
}

.certificate-editGoals-dialog .list-table input,
.certificate-editGoals-dialog .list-table select {
    margin: 0px !important;
}

.list-table td.duringPeriod label {
    margin-top: 5px;
    margin-right: 10px;
}

.certificate-editGoals-dialog .list-table td:first-child {
    padding-left: 5px;
    padding-right: 5px;
}

.certificate-editGoals-dialog .list-table td:last-child {
    padding-right: 5px;
}

.certificate-editGoals-dialog .dropdown-button-menu.dropdown-visible {
    z-index: 1;
}

.certificate-users, .certificate-courses {
    float: left;
    padding-right: 10px;
    /*padding-top: 7px;*/
}

.inline-valamis {
    float:left;
}

@media (max-width: 766px) {
    .certificate-editGoals-dialog .ui-corner-all.ui-sortable-helper .user-name {
        width: 45%!important;
    }

    /* hidden-xs */

    .certificate-addGoal-dialog .sidebar-wrapper {
        margin-top: 50px;
    }

    .popup-content-header {
        padding: 0px;
    }

    .popup-content-header .valamis-row {
        padding: 0 10px;
    }

    .valamis-row {
        margin-bottom: 10px;
    }

    .inline-valamis {
        display: table-row;
        float: none;
    }

    .inline-block-div {
        display: inline-block;
    }

    .sidebar-wrapper {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .page-content.grid-view {
        padding-bottom: 10px;
    }


    .certificate-editMembers-dialog .popup-content-container {
        margin-top: 50px;
    }

    .certificate-editMembers-dialog .popup-content {
        left: 0;
    }

    .certificate-editMembers-dialog .popup-content button,
    .certificate-editMembers-dialog .page-content button {
        text-indent: -9999px;
        padding: 0 !important;
        background-position: center !important;
        margin-right: 10px;
        width: 36px;
    }

    .certificate-editMembers-dialog .page-content table td.text-right {
        width: 100px;
    }

    .certificate-editMembers-dialog .popup-sidebar,
    .certificate-editMembers-dialog .popup-content {
        position: static;
    }

    .certificate-editMembers-dialog .popup-sidebar {
        width: 100%;
        padding-bottom: 50px;
    }

    .big-table td {
        padding: 10px 10px !important;
    }

    .list-table td.duringPeriod {
        width: 1px;
        overflow: visible;
    }

    .valamis-item-buttons button {
        text-indent: -9999px;
        width: 36px;
        padding: 0 !important;
        background-position: center !important;
    }

    .certificate-editDetails-dialog .select-element {
        margin: 0;
    }
}

@media (min-width: 767px) and (max-width: 1199px) {
    .certificate-editGoals-dialog .ui-corner-all.ui-sortable-helper .user-name {
        width: 45%!important;
    }
}

.buttons.text-right {
    width: 50%;
}

.certificateContent {
    padding: 0 !important;
}

.certificate-logo-uploader-dialog {
    padding-bottom: 30px;
}

.certificate-selectStatements-dialog {
    padding: 0;
}

.certificate-selectStatements-dialog #allStatementsList table button {
    margin-right: 15px;
}

/* .amountLabel {
    width: 20px;
    text-align: right;
}*/ 

.toolBar {
    margin-bottom: 30px;
}