.modals-container .bbm-wrapper:nth-child(2) .bbm-modal {
    max-height: 700px;
    max-width: 700px;
}

.upload-modal .bbm-modal .bbm-modal__section {
    padding-top:30px;
    padding-bottom: 30px;
}

.content button.menu-toggle{
    padding-left: 0px!important;
    background-position: center!important;
    width: 42px !important;
}

.flipper img {
    max-height: 163px;
    max-width: 260px;
}

/* common things */

.popup-content-header {
    padding: 5px 0px 0px 20px;
}

.sidebar-wrapper {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.sidebar-wrapper .wideButton,
.logo-div .wideButton {
    width: 100%;
    margin-top: 10px !important;
    padding-left: 80px !important;
    background-position: 40px center !important;
}

div.full-width {
    width: 100%;
}

div.upload {
    width: 145px;
    height: 33px;
    background: url("../img/uploadButton.png") no-repeat transparent !important;
    overflow: hidden;
    color: #ffffff;
    border-radius: 5px;
}

div.upload input {
    display: block !important;
    width: 145px !important;
    height: 33px !important;
    opacity: 0 !important;
    overflow: hidden !important;

}

div.upload:hover {
    background: url("../img/uploadButtonHovered.png") no-repeat transparent !important;
}

.bbm-modal__section {
    position: relative;
}

.bbm-modal__bottombar {
    border-top: none;
}

.bbm-modal__bottombar button.big {
    margin-top: -2px;
}

.bbm-modal .sidebar-wrapper {
    background-color: #f4f4f4;
}

.button.valamis:last-child {
    margin-right: 0px !important;
}

.box-sizing {
    width: 100% !important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

input.valamis.box-sizing {
    line-height: 20px !important;
    height: 36px !important;
}

textarea.valamis.box-sizing {
    line-height: 20px !important;
}

table.valamis {
    display: inline-table;
}

.internal-collection {
    min-height: 1em;
}

.ui-state-highlight {
    height: 1.5em;
    line-height: 1.2em;
    background-color: green;
    opacity: 0.3;
}

.ui-wrong-helper {
    background-color: red;
    opacity: 0.3;
}

.category-expand-button {
    width: 38px;
    height: 38px;
    background-image: url(/learn-portlet/images/icon-next.png);
}

.category-expand-button.category-collapsed {
    background-image: url(/learn-portlet/images/icon-select-button.png);
}

.certificate-tile {
    display: block;
    float: left;
    margin: 20px;
    border: 1px solid #d3d4d5;
    width: 260px;
    background: #FFFFFF;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.certificate-content {
    padding: 20px;
}

.centered-content {
    text-align: center;
}