.flip-container,
.flip-container .front,
.flip-container .back {
    height: 300px;
}


/* flip speed goes here */
.flipper {
    transition: 0.8s;
    transform-style: preserve-3d;
    position: relative;
}

.flip-container .front,
.flip-container .back {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition: -moz-transform 500ms;
    -o-transition: -o-transform 500ms;
    -webkit-transition: -webkit-transform 500ms;
    transition: transform 500ms;
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
.flip-container .front {
    -moz-transform: perspective(1000) rotateY(0);
    -webkit-transform: perspective(1000) rotateY(0);
    transform: perspective(1000) rotateY(0);
    z-index: 4;
}
.flip-container .back {
    -moz-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    z-index: 3;

}
.flip-container:hover .front {
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -moz-transform: perspective(300) rotateY(180deg);
    -webkit-transform: perspective(300) rotateY(180deg);
    transform: perspective(300) rotateY(180deg);
}
.flip-container:hover .back {
    z-index: 5;
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -moz-transform: perspective(1000) rotateY(0deg);
    -webkit-transform: perspective(1000) rotateY(0deg);
    transform: perspective(1000) rotateY(0deg);
    *zoom: 1;
    background-color: #ddd !important;

}
.flip-container .front {
    *zoom: 1;
    box-sizing: border-box;
    background-color: #f8f8f8 !important;
}
.flip-container .back {
    display: block;
    height: 300px;
    *zoom: 1;
    box-sizing: border-box;
    background-color: #ddd !important;
}


