.val-icon-exit {
    background-image: url(../images/popup-close.png);
    background-position: left center;
}

body {
    background: #f2f2f2;
}

.bbm-modal {
    /*width: 90% !important;*/
}

.bbm-modal.edit-grade {
    /*width: 50% !important;*/
}

.bbm-modal.review {
    /*width: 70% !important;*/
}

.simple-description {
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 20px;

}

.modals-container > .bbm-wrapper > .bbm-modal {
    overflow: hidden;
}

/*.filter-toggler {*/
    /*width: 43px;*/
    /*height: 38px;*/
    /*margin-left: 15px !important;*/
/*}*/

.portlet-learn-scorm input[type="text"] {
    height: auto;
    width: 90%;
}

.portlet-learn-scorm select {
    height: 34px;
    width: 100%;
}

/*.overflow-hidden {*/
    /*overflow: hidden;*/
    /*min-height: 400px;*/
    /*position: relative;*/
/*}*/

.text-input {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100% !important;
    line-height: 20px !important;
    height: 36px !important;
}

#courseGradePlaceholder {
    margin-bottom: 10px;
}

/* ------------ Gradebook Filter  ----------------*/
.multiselect-container {
    border: 2px solid #ccc;
    background-color: #ffffff;
    width: 90%;
    height: 100px;
    overflow-y: scroll;
}

.checkbox-group {
    margin-left: 5px !important;
}

/* ------------ Gradebook Table  ----------------*/

.student-click {
    cursor: pointer;
}

.table-fixed-column {
    overflow-x: scroll;
    overflow-y: auto;
    width: 250px;
    margin-left: 120px;
    /*margin-top: 30px;*/
}

td, th {
    padding: 5px 20px;
    width: 100px;
}

th:first-child,
td:first-child {
    /*position: absolute;*/
    left: 5px
}

/* ------------ Gradebook Student View  ----------------*/

.student-view-dialog {
    padding: 0px !important;

}

div.student-info-panel {
    margin-left: 0;
    left: 0;
    width: 100%;
    height: auto;
    max-height: 0;
    background: #f2f2f2;
    position: relative;
    overflow-y: auto;
    z-index: 1;
    transition: all 0.4s linear 0s;
    border-right: 0;
}

div.student-grades-panel {
    width: 100%;
    /*margin-bottom: 20px;*/
    max-height: 800px;
    overflow-y: scroll;
    overflow-style: scrollbar;
}

.student-info {
    display: block;
    margin: 20px;

}

.student-name-label {

}

.student-info-label {
    margin-top: 10px;
    color: #777777;
    vertical-align: middle;
}

.address-icon {
    background-image: url(../images/location.png);
    /*background-position: right center;*/
    width: 16px;
    height: 20px;
    display: inline-block !important;
    margin-right: 10px;
}

.org-icon {
    background-image: url(../images/organization.png);
    /*background-position: left center;*/
    width: 16px;
    height: 16px;
    display: inline-block !important;
    margin-right: 10px;
}

/* ------------ Gradebook Student View Table  ----------------*/

/*tr.table-row {*/

/*}*/

/*tr.expand {*/

/*}*/


.expand > .expand-col > .expand-icon {
    background-image: url(../images/icon-expand.png);
    width: 20px;
    height: 20px;
    padding: 0;
    margin-top: 5px;
}

.expand-text {
    margin-left: 0px;
}

.expand > .expand-col > .expand-text {
    margin-left: 10px;
}

tr.collapse > .expand-col > .expand-icon {
    width: 20px;
    height: 20px;
    padding: 0;
    margin-top: 5px;
}

.collapse > .expand-col > .expand-text {
    margin-left: 10px;
}

tr.total-row {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.statementTable td{
    background: #ffffff!important;
}

.verb{
    font-weight: bold;
}

.obj{
    color: #222222;
}

/*tr.collapsed > td.expanded-child{*/
/*visibility: hidden;*/
/*}*/

/* ------------ Gradebook Student Review   ----------------*/
.package-info-label {
    margin-top: 10px;
    color: #777777;
    display: block;
    vertical-align: middle;
}

.package-name-label {

}

.package-info {
    display: block;
    margin: 20px;

}

.attemptSelector {
    display: inline-block;
}

.prev-next {
    float: none !important;
    display: inline-block;
    vertical-align: top;
}

#attemptChoice {
    height: 34px;
}



#GradeTable tr td:first-child {
    border-left: none;
}

.grade-table td.grade,
.grade-table .edit-button-td {
    width: 1%;
    white-space: nowrap;
    border-right: none!important;
    border-left: none!important;
}

.grade-table td.autograde{
    width: 5%;
    white-space: nowrap;
}

#GradeTable td .user-name-wrapper,
.grade-table td .user-name-wrapper {
    height: 40px;
    display: table;
}

#GradeTable td .user-name-wrapper .user-name,
.grade-table td .user-name-wrapper .user-name {
    display: table-cell;
    vertical-align: middle;
}




/* ------------ Responsive  ----------------*/

/**
* Tablet
*/
@media (min-width: 767px) and (max-width: 1199px) {

    #GradeTable td:nth-child(2),
    #GradeTable th:nth-child(2) {
        display: none;
    }
}

/**
* Mobile
*/
@media (max-width: 766px) {

    #GradeTable td:nth-child(2),
    #GradeTable th:nth-child(2),
    #GradeTable td:nth-child(3),
    #GradeTable th:nth-child(3),
    #GradeTable td.user-img .user-img {
        display: none;
    }

    .show-mode-group{
        display: none;
    }

    #GradeTable tr td:first-child,
    #GradeTable {
        border-left: 1px solid #d3d4d5;
    }
}




/**
* Table with fixed column
*/
.scroll-table {
    width: 100%;
    overflow: scroll;
    /*height: 300px;*/
    /*position: relative;*/
}

.noscroll-table {
    overflow: hidden;
    /*display: inline;*/
    /*height: 300px;*/
    /*position: relative;*/
}

.detailed-row-header{
    color: #777777;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
    line-height: 20px;
    padding: 10px 20px!important;
}

.detailed-column-total-grade-header{
    font-weight: 600!important;
}

.DTFC_LeftBodyWrapper table thead tr th,
.dataTables_scrollBody table thead tr th{
    display: none;
}

.dataTable{
    margin-bottom: 0px!important;
}




/*
* Student view package table content
*/

.Grid {
    display: block;
    font-size: 0;
    margin: 0;
    padding: 0;
    text-align: left;
}

.Grid-cell {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    font-size: 14px;
    margin: 0;
    padding: 0;
    text-align: left;
    vertical-align: top;
    width: 100%;
}

.u-mb10 {
    margin-bottom: 10px!important;
}

.StreamItem {
    position: relative;
}

.ProfileTweet {
    background-color: #FFF;
    border: 1px solid #d8e2e8;
    border-radius: 6px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.375em;
    padding: 13px 15px 15px;
    margin-left: 15px;
}

.u-textBreak {
    word-wrap: break-word!important;
}

.ProfileTweet-header {
    margin: 0 0 10px;
    transition: color .15s;
}
.u-textMute {
    color: #8899a6;
}

.ProfileTweet--high .ProfileTweet-text {
    font-size: 18px;
    font-weight: 300;
    line-height: 34px;
}
.u-dir[dir="ltr"] {
    direction: ltr!important;
    text-align: left!important;
    unicode-bidi: embed;
}
.ProfileTweet-text {
    color: #292f33;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 10px;
    /*white-space: pre-wrap;*/
}
/*blockquote, dl, dd, h1, h2, h3, h4, h5, h6, figure, p, pre {*/
    /*margin: 0;*/
/*}*/

.ProfileTweet-actionList {
    margin-top: 5px;
}
/*ol, ul {*/
    /*margin: 0;*/
    /*list-style: none;*/
    /*padding: 0;*/
/*}*/

#courseComment {
    background: #FAFAFA!important;
    border: 1px solid #d4d4d4!important;
    border-radius: 1px!important;
    line-height: 20px!important;
    padding: 8px 10px!important;
    margin-bottom: 0!important;
    font-size: 14px!important;
    color: #777777!important;
    width: 300px;
    font-family: "Ubuntu", Ubuntu, sans-serif;
    -webkit-transition: 0.05s all linear;
    -moz-transition: 0.05s all linear;
    transition: 0.05s all linear;
    box-shadow: none!important;
    -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important;
    min-height: 100px;
    resize: vertical;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#courseComment:focus {
    background: #FFFFFF!important;
    border-color: #a9cb4f!important;
    color: #2c2c2c!important;

}

.page-content-div {
    overflow-y: scroll;
    height: 450px;
    min-height: 150px;
}

.avatar-medium {
    width:60px;
    height:60px;
}

.avatar-large {
    width:64px;
    height:64px;
    float:left;
    margin-right:10px;
}
.avatar-small {
    float: left;
    margin-right:10px;
    width:48px;
    height:48px;
}

.student-name-title, .package-name-title {
    padding-left: 10px;
}

.package-logo-medium {
    width: 48px;
    height: 48px;
}

.package-logo-large {
    float: left;
    width: 100%;
    height: 100%;
}

.comment-list {
    margin-left: 20px;
}