.image-galley-container .bbm-modal{
    max-width: 1199px !important;
}

.image-gallery-icon {
    display: block;
    float: left;
    height: 170px;
    margin: 10px 4px;
    padding: 5px 15px 0;
    text-align: center;
}

.image-gallery-icon:hover {
    background-color: #d3e8f1;
}

.image-gallery-icon:hover .image-thumbnail img {
    background-color: #b0d2e1;
    border-color: #7abfdd;
}

.image-gallery-icon .image-thumbnail {
    display: inline-block;
    position: relative;
}

.image-gallery-icon .image-thumbnail img {
    background: #eaeaea;
    border: 1px solid #CCC;
    margin: 0;
    padding: 5px;
}

.image-gallery-icon .image-title {
    clear: both;
    display: block;
    padding: 0 10px;
    word-wrap: break-word;
}

.bbm-modal__topbar.lf-gallery-modal {
    background: url("../images/popup-header-bg.jpg") repeat-x scroll left top #F4F4F4;
    margin-bottom: 0px;
}

.galleryContent {
    padding: 0 !important;
}

.lf-gallery-dialog {
    overflow: auto;
}

.lf-gallery-dialog .popup-content-header {
    float:left;
}

.lf-gallery-dialog .content-wrapper {
    min-height: 240px;
}

.lf-gallery-dialog .contentTable td.amount {
    width: 25px;
    padding-top: 2px;
}

.lf-gallery-dialog .contentTable td:first-child {
    padding-left: 15px;
}

.lf-gallery-dialog .contentTable td:last-child {
    padding-right: 15px;
}

.lf-gallery-dialog .contentTable input,
.lf-gallery-dialog .contentTable select {
    margin-bottom: 0px !important;
}


.lf-gallery-dialog .sidebar-wrapper {
    padding: 20px;
}
@media (max-width: 766px) {
    .lf-gallery-dialog .sidebar-wrapper {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}