/* ------------ Player window ----------*/

.portlet-learn-scorm .scormData {
    border: 1px solid #333333;
    max-height: 600px;
    width: 100%;
    background: white;
}

.portlet-learn-scorm .valamis-item-footer {
    padding-top: 0px;
}

#SCORMPlayerView {
    padding: 10px;
}

.personalPackageList .bbm-modal {
    width: 50%!important;
}

/* ------------ Buttons ----------*/

.portlet-learn-scorm .SCORMNavigation {
    margin-bottom: 10px;
}

.portlet-learn-scorm .navBtnFirst {
    background-position: 0px -140px !important;
}

.portlet-learn-scorm .navBtnFirst:hover {
    background-position: -28px -140px !important;
}

.portlet-learn-scorm .navBtnPrev {
    background-position: -1px -169px !important;
    height: 26px !important;
    width: 26px !important;
    margin-left: 5px !important;
}

.portlet-learn-scorm .navBtnPrev:hover {
    background-position: -29px -169px !important;
}

.portlet-learn-scorm .navBtnNext {
    height: 26px !important;
    width: 26px !important;
    background-position: -2px -197px !important;
    margin: 0 !important;
}

.portlet-learn-scorm .navBtnNext:hover {
    background-position: -30px -197px !important;
}

.portlet-learn-scorm .navBtnLast {
    background-position: 0px -224px !important;
}

.portlet-learn-scorm .navBtnLast:hover {
    background-position: -28px -224px !important;
}

.portlet-learn-scorm .playerButton {
    display: inline;
    margin-left: 5px;
}

.portlet-learn-scorm .playerButtonDouble {
    display: inline;
    margin: 0px;
}

.portlet-learn-scorm .SCORMToggleButton {
    background: url("../img/player-expand.png") no-repeat scroll left center transparent !important;
    border: medium none !important;
    border-radius: 0 0 0 0 !important;
    cursor: pointer;
    height: 26px;
    width: 14px;
}

.portlet-learn-scorm .SCORMToggleButton:hover {
    background: url("../img/player-expand-hover.png") no-repeat scroll left center transparent !important;
}

.portlet-learn-scorm .toggle-button-active {
    background: url("../img/player-reduce.png") no-repeat scroll left center transparent !important;
    border: none !important;
    cursor: pointer;
}

.portlet-learn-scorm .toggle-button-active:hover {
    background: url("../img/player-reduce-hover.png") no-repeat scroll left center transparent !important;
}

/* ------------ LEFT PART ----------------*/

.portlet-learn-scorm .SCORMMenuheader {
    font-size: 14px;
    font-weight: bold;
    margin: 0px 0px 4px 0px;
}

.portlet-learn-scorm #SCORMPackages, .portlet-learn-scorm #SCORMOrganizations {
    margin: 0px 0px 14px 0px;
    padding: 1px;
}

.portlet-learn-scorm #SCORMTogglePanel {
    min-width: 200px;
}

.portlet-learn-scorm .player-buttons {
    margin-top: 25px;
    margin-right: 10px;
}

/* ------------- OVERWRITING THINGS-------------------- */

.portlet-learn-scorm .jstree a {
    white-space: normal;
}

/*.portlet-learn-scorm .SCORMNavigation button {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}*/

.portlet-learn-scorm .SCORMToggleButton button {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}

.sidebar-wrapper {
    padding: 20px;
}


:-webkit-full-screen {
    background: #ffffff;
}

:-moz-full-screen {
    background: #ffffff;
}

:-ms-fullscreen {
    background: #ffffff;
}

:full-screen {
    /*pre-spec */
    background: #ffffff;
}

:fullscreen {
    /* spec */
    background: #ffffff;
}

.custom-fullscreen{
    background: #F2F2F2;
    background-color: #F2F2F2;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 400;
}

.custom-fullscreen-exit-button{
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 401;
    opacity: 0.4;
}

.custom-fullscreen-exit-button:hover{
    opacity: 1.0;
}

@media (min-width: 767px) and (max-width: 1199px) {
    .personalPackageList .bbm-modal {
        width: 90%!important;
    }
}

@media (max-width: 766px) {
    .personalPackageList .bbm-modal {
        width: 90%!important;
    }

    .sidebar-wrapper {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .portlet-learn-scorm .player-buttons {
        margin-top: 10px;
    }

    .package-items {
        padding: 0;
    }
}


img.logo{
    max-height: 180px;
    max-width: 260px;
}

img.attempted-icon {
    position:absolute;
    top: 0;
    left: 0;
}

.page-content .certificate-items {
    padding-top: 40px;
}