.show-global-base-wrapper {
    padding:20px 0 0 20px;
}
.show-global-base-wrapper .checkbox.valamis {
    margin: 2px 5px 0 0;
}

ul.questionBankTree {
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    margin-top: 20px;
    border-left: none;
    overflow: hidden;
}

ul.questionBankTree.no-border {
    border: 0 !important;
}

.questionBankTree ul,
.questionBankTree li {
    list-style-type: none;
}

.questionBankTree ul {
    margin: 0;
    padding: 0;
}

.questionBankTree li {
    position: relative;
    cursor: pointer;
}

.questionBankTree .qbItem
{
    display: block;
    position: relative;
    border-collapse: collapse;
    border-bottom: 1px solid #d3d4d5;
    word-break: normal;
    vertical-align: middle !important;
    margin: 0;
    color: #777777;
    font-weight: bold;
    text-align: left;
    font-size: 13px;
    text-transform: uppercase;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
}

.questionBankTree > li > ul > li.questionRow > .qbItem{
    padding-left: 15px;
}

.questionBankTree li > ul > li > ul > li .qbItem {
    padding-left: 48px;
    background:  #F2F2F2;
}

.questionBankTree .center-text {
    text-align: center;
}

.questionBankTree .qbItem:hover
{
    /*background: #efecbd;*/
}

.questionBankTree .selectedEntity > .qbItem{
    background: #90ae1d;
    color: #FFF;
    border-color: #90ae1d;
}

.expand-icon{
    background-image: url('../images/icon-next.png');
    width: 12px;
    height: 12px;
    cursor: pointer;
    display: inline-block !important;
    padding: 7px 15px 3px 5px;
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
}


.questionBankTree .qbItem > .expand-icon {
    background-image: url('../images/icon-next.png');
}

.questionBankTree .expanded > .qbItem > .expand-icon
{
    background-image: url('../images/icon-select-button.png');
}

.questionBankTree .selectedEntity > .qbItem > .expand-icon {
    background-image: url('../images/icon-next-hovered.png');
}

.questionBankTree .expanded.selectedEntity > .qbItem > .expand-icon
{
    background-image: url('../images/icon-expanded-hovered.png');
}

.qbItem > .qbItemTitle{
    word-break: break-all;
}


.qbItem > .qbItemTitle:before{
    display: block;
    position: relative;
    float: left;
    margin-right: 10px;
    content: "";
    background: url('../images/question.png') center no-repeat;
    background-size: 18px 18px;
    width: 20px;
    height: 40px;
}

.qbItemTitle[data-count]:before {
    background: url('../images/folder_grey.png') center no-repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 40px;
}

#qbRoot > .qbItem > .qbItemTitle:before{
    width: 0;
    margin-right: 0;
}
.qbItemTitle[data-count]:after{
    position: absolute;
    top: 10px;
    right: 10px;
    content: attr(data-count);
    display: block;
    /*min-width: 7px;*/
    border-radius: 10px;
    padding: 0px 8px;
    height: 20px;
    line-height: 20px;
    background: #BBBBBB;
    color: #FFFFFF;
    font-size: 11px;
    min-width: 26px;
    text-align: center;
    z-index: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul > li > ul{
    display: none;
}

li.expanded > ul{
    display: block;
}
/*.qbElementsCount {*/
/*float: right;*/
/*background: grey;*/
/*color: #ffffff;*/
/*width: 20px;*/
/*height: 12px;*/
/*font-size: xx-small;*/
/*text-align: center;*/
/*-webkit-border-radius: 5px;*/
/*-moz-border-radius: 5px;*/
/*border-radius: 5px;*/
/*margin-right: 5px;*/
/*line-height: 12px;*/
/*}*/

.questionBankTree li ul li .qbItem {
    padding-left: 8px;
}

li.selectedEntity .qbItemTitle[data-count]:after {
    background: #4c5f19;
}

li.selectedEntity ul li .qbItemTitle[data-count]:after {
    background: #bbbbbb;
}

.questionBankTree li .qbItem:after {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    width: 80px;
    -webkit-box-shadow: inset -60px 0px 30px 0px #e4e4e4;
    -moz-box-shadow: inset -60px 0px 30px 0px #e4e4e4;
    -o-box-shadow: inset -60px 0px 30px 0px #e4e4e4;
    box-shadow: inset -60px 0px 30px 0px #e4e4e4;
}

.questionBankTree .selectedEntity > .qbItem:after {
    -webkit-box-shadow: inset -60px 0px 30px 0px #90ae1d;
    -moz-box-shadow: inset -60px 0px 30px 0px #90ae1d;
    -o-box-shadow: inset -60px 0px 30px 0px #90ae1d;
    box-shadow: inset -60px 0px 30px 0px #90ae1d;
}

.questionBankTree li > ul > li > ul > li .qbItem:after {
    -webkit-box-shadow: inset -60px 0px 30px 0px #f2f2f2;
    -moz-box-shadow: inset -60px 0px 30px 0px #f2f2f2;
    -o-box-shadow: inset -60px 0px 30px 0px #f2f2f2;
    box-shadow: inset -60px 0px 30px 0px #f2f2f2;
}

@media (max-width: 766px) {
    .questionBankTree li .qbItem:after {
        -webkit-box-shadow: inset -60px 0px 30px 0px #f2f2f2;
        -moz-box-shadow: inset -60px 0px 30px 0px #f2f2f2;
        -o-box-shadow: inset -60px 0px 30px 0px #f2f2f2;
        box-shadow: inset -60px 0px 30px 0px #f2f2f2;
    }
}

.content-manager .questionBankTree {
    border-top: none;
    border-bottom: none;
}

.content-manager .questionBankTree li .qbItem:after {
    -webkit-box-shadow: inset -60px 0px 30px 0px #ffffff;
    -moz-box-shadow: inset -60px 0px 30px 0px #ffffff;
    -o-box-shadow: inset -60px 0px 30px 0px #ffffff;
    box-shadow: inset -60px 0px 30px 0px #ffffff;
}

.content-manager .questionBankTree .selectedEntity > .qbItem:after {
    -webkit-box-shadow: inset -60px 0px 30px 0px #90ae1d;
    -moz-box-shadow: inset -60px 0px 30px 0px #90ae1d;
    -o-box-shadow: inset -60px 0px 30px 0px #90ae1d;
    box-shadow: inset -60px 0px 30px 0px #90ae1d;
}

.questionBankTree .qbItem .checkbox {
    margin-top: 12px;
}

