.ribbon-red{
    background-color: rgb(250, 125, 125) !important;
}
.ribbon-black{
    background-color: rgb(190, 190, 190) !important;
}

.ribbon-wrapper {
    position: relative;
}

.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  right: 0px;
}

.ribbon-green {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  position: relative;
  height: 30px;
  line-height: 30px;
  right: 5px;
  top: 15px;
  width: 120px;
  background-color: #90ae1d;
  color: #FFFFFF;
}
