.content-wrapper {
    padding-left: 300px;
    transition: all 0.4s ease 0s;
    min-height: 200px;
}

.sidebar-wrapper {
    margin-left: -300px;
    left: 300px;
    top: 0px;
    width: 300px;
    background: #e4e4e4;
    position: absolute;
    height: 100%;
    overflow-y: auto;
    z-index: 1;
    transition: all 0.4s ease 0s;
    border-right: 1px solid #d3d4d5!important;
}

.sidebar-wrapper.filter-panel {
    padding: 20px;
}

.forced-content-wrapper {
    padding-left: 0;
}
.forced-sidebar-wrapper {
    left: 0;
}

.forced-content-wrapper.active .forced-sidebar-wrapper {
    left: 300px;
    width: 300px;
    transition: all 0.4s ease 0s;
    /*scrolling: yes;*/
    overflow-y: auto;
}

.page-content-wrapper {
    width: 100%;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 300px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-nav li {
    line-height: 40px;
    text-indent: 20px;
}

.sidebar-nav li a {
    color: #333;
    display: block;
    text-decoration: none;
}

.sidebar-nav li a:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
    text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    line-height: 60px;
    font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
    color: #333;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.content-header {
    padding: 20px;
    /*line-height: 38px;*/
}

.content-header h3 {
    display: inline-block;
    font-size: 23px;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

.sidebar-wrapper h3 {
    font-size: 18px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 20px;
}


@media (max-width: 766px) {
    .sidebar-wrapper {
        border-right: none!important;
    }
    .content-header {
        /*padding-top: 0;
        padding-right: 0;*/
    }

    .content-header h3 {
        margin: 0;
    }
}
@media (min-width: 767px) and (max-width: 1199px) {
    .content-header h3 {
        margin: 0;
    }
}

.menu-toggle {
    display: none!important;
}

.forced-menu-toggle {
    display: inline-block;
}

@media (max-width: 1199px) {

    .content-wrapper {
        padding-left: 0;
    }

    .sidebar-wrapper {
        left: 0;
    }

    .content-wrapper.active .sidebar-wrapper {
        left: 300px;
        width: 300px;
        transition: all 0.4s ease 0s;
        /*scrolling: yes;*/
        overflow-y: auto;
        z-index: 100!important;
    }
    #packagesSearchWrapper {
        z-index: 1000 !important;
    }

    .menu-toggle {
        display: inline-block!important;
    }

    .inset {
        padding: 15px;
    }

}


/*
    Move left when ..
*/

.sidebar-nav{

}

@media (max-width: 766px) {
    .sidebar-wrapper {
        margin-left: 0;
        left: 0;
        width: 100%;
        height: auto;
        max-height: 0;
        background: #f2f2f2;
        position: relative;
        overflow-y: auto;
        z-index: 1;
        transition: all 0.4s linear 0s;
        border-right: 0;
    }

    .sidebar-wrapper.filter-panel {
        padding: 0px;
    }

    .content-wrapper {
        padding-left: 0;
    }

    .content-wrapper.active .sidebar-wrapper {
        left: 0;
        width: 100%;
        height: auto;
        max-height: 500px;
        transition: all 0.4s linear 0s;
    }

    .search-wrapper {
        padding: 0 10px !important;
    }

    .search-wrapper form {
        border-bottom: 1px solid #d3d4d5;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

    .search-wrapper button {
        width: 100%;
        height: 34px;
    }
}

.valamis-row .text-input {
    background: #FAFAFA!important;
    border: 1px solid #d4d4d4!important;
    border-radius: 1px!important;
    line-height: 20px!important;
    /*height:38px!important;*/
    padding: 8px 10px!important;
    margin-bottom: 0!important;
    font-size: 14px!important;
    color: #777777!important;
    width: 300px;
    font-family: "Ubuntu", Ubuntu, sans-serif;
    -webkit-transition: 0.05s all linear;
    -moz-transition: 0.05s all linear;
    transition: 0.05s all linear;
    box-shadow: none!important;
    -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important;
}

.valamis-row .text-input:hover {
    background: #FFFFFF!important;
    border-color: #a9cb4f!important;
    color: #2c2c2c!important;

}