.liferay-site-select-modal .bbm-modal__topbar {
    background: url("../images/popup-header-bg.jpg") repeat-x scroll left top #F4F4F4;
    margin-bottom: 0px;
}

.liferay-site-select-dialog {
    overflow: auto;
    padding: 0 !important;
}

.liferay-site-select-dialog .bbm-modal__bottombar {
    margin-top: 0px;
}

.liferay-site-select-dialog .sidebar-wrapper {
    padding: 20px;
}

.liferay-site-select-dialog .popup-content-header {
    float:left;
}

.liferay-site-select-dialog .content-wrapper {
    min-height: 240px;
}

.liferay-site-select-dialog .valamis-paginator {
    padding: 20px;
    padding-left: 0px;
}

.liferay-site-select-dialog .contentTable td.amount {
    width: 25px;
    padding-top: 2px;
}

.liferay-site-select-dialog .contentTable td:first-child {
    padding-left: 15px;
}

.liferay-site-select-dialog .contentTable td:last-child {
    padding-right: 15px;
}

.liferay-site-select-dialog .contentTable input,
.liferay-site-select-dialog .contentTable select {
    margin-bottom: 0px !important;
}