@charset "UTF-8";
/* CSS Document */

section {
    /*should be changed by portlet body*/
    background: #F2F2F2;
    color: #2C2C2C;
    font-family: Ubuntu, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

.portlet-content {
    padding: 0px !important;
    background: #F2F2F2;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

/*a {*/
/*text-decoration: underline;*/
/*}*/

/*a:hover, a:active {*/
/*text-decoration: none;*/
/*}*/

.valamis-row:before,
.valamis-row:after {
    display: table;
    line-height: 0;
    content: "";
}

.wrapper:after,
.section:after,
.valamis-row:after {
    clear: both;
}

.valamis-row {
    margin-bottom: 20px;
    /*margin-left: 5px;*/
}

.valamis-row.margined {
    margin-left: 5px;
}

h1.valamis, .h1label.valamis {
    color: #2C2C2C;
    font-size: 22px;
    font-weight: 500;
    font-family: Ubuntu, Arial, sans-serif;
    margin-top: 0px;
    margin-bottom: 20px;
}

h2.valamis, .h2label.valamis {
    color: #2C2C2C;
    font-size: 18px;
    font-weight: 500;
    font-family: Ubuntu, Arial, sans-serif;
    margin-top: 0px;
    margin-bottom: 20px;
}

h3.valamis, .h3label.valamis {
    color: #2C2C2C;
    font-size: 16px;
    font-weight: 500;
    font-family: Ubuntu, Arial, sans-serif;
    margin-top: 0px;
    margin-bottom: 10px;
}

h4.valamis, .h4label.valamis {
    color: #2C2C2C;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-family: Ubuntu, Arial, sans-serif;
    margin-top: 0px;
}

h1.valamis.margined, h2.valamis.margined, h3.valamis.margined, h4.valamis.margined {
    margin-left: 5px;
}

#navbar {
    padding: 0;
    background: #2C2C2C;
    color: #FFFFFF;
    font-family: Ubuntu, Arial, sans-serif;
}

#navbar ul {
    margin: 0;
}

#navbar ul li {
    padding: 0;
}

#navbar a {
    color: #AAAAAA;
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding: 20px 16px;
}

#navbar ul li a:hover {
    background: #1C1C1C;
    color: #FFFFFF;
    box-shadow: inset 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.valamis-logo {
    width: 128px;
    height: 60px;
    background: url(../images/valamis-logo.jpg) left center no-repeat;
    float: left;
    margin-right: 30px;
    margin-left: 30px;
}

/*img {*/
img .valamis {
    width: 100%;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

.img-circle {
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
}

.valamis-tabs {
    font-size: 16px;
    font-weight: 500 !important;
    font-family: Ubuntu;
    letter-spacing: 0.03em;
}

.bbm-modal .valamis-tabs {
    position: relative;
}

.valamis-tabs ul li.active a {
    border-top: 2px solid #a9cb4f !important;
}

.valamis-tabs ul.nav.nav-tabs {
    padding-left: 10px;
    padding-top: 5px;
    margin-bottom: 0px;
}

.valamis-tabs .tab-content {
    /*margin-top: 10px;*/
}

@media (max-width: 767px) {
    .valamis-tabs ul.nav.nav-tabs {
        padding-right: 10px;
    }

    .valamis-tabs li {
        float: initial !important;
    }
}