.content-manager {
  /* Vars */

}
.content-manager #bundle .filter-panel {
  width: 300px;
  position: absolute;
  height: 100%;
  z-index: 1000;
  top: 0;
}
.content-manager .header > span {
  font-size: 200%;
}
.content-manager .show-filter-button {
  margin-left: 0 !important;
}
.content-manager .portlet-body {
  position: relative;
  overflow: hidden;
}
.content-manager .filter-panel {
  background-color: #e4e4e4;
  transition: all 0.4s ease 0s;
  border-right: 1px solid #dedede;
  /*box-sizing: border-box;*/

}
.content-manager .filter-panel.show {
  padding: 20px;
}
.content-manager .lesson-content-edit .filter-panel {
  width: 259px;
  padding-right: 0px;
  padding-left: 0px;
}
.content-manager .content-panel {
  transition: all 0.4s ease 0s;
  margin: 20px;
}
.content-manager .content-panel > .header {
  margin-bottom: 20px;
}
.content-manager .select-action {
  margin-bottom: 0px;
}
.content-manager .lesson-list-container {
  margin-top: 20px;
}
.content-manager button.valamis {
  margin-right: 0px;
}
.content-manager .lesson-item-tile {
  height: 310px;
  width: 260px;
  list-style-type: none;
  float: left;
  margin: 20px;
}
.content-manager .lesson-list {
  margin: 0px;
}
.content-manager .cover-image {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 258px;
  height: 180px;
  background: #dedede;
  border-bottom: 1px solid #dedede;
  position: relative;
}
.content-manager .lesson-item-list {
  list-style-type: none;
  margin-top: 10px;
  background-color: #FFFFFF;
  border: 1px solid #d3d4d5;
  height: 90px;
  overflow: hidden;
}
.content-manager .lesson-item-list :after {
  clear: both;
}
.content-manager .lesson-item-list .cover-image {
  width: 130px;
  height: 90px;
  margin-right: 10px;
}
.content-manager .lesson-item-list .lesson-description,
.content-manager .lesson-item-list .lesson-title {
  max-width: 330px;
  overflow: visible;
  white-space: nowrap;
}
.content-manager .lesson-buttons {
  margin-top: 28px;
  background: #FFFFFF;
  padding: 0px 20px;
}
.content-manager .lesson-buttons button {
  margin-right: 10px;
}
.content-manager .lesson-buttons button:last-child {
  margin-right: 0px;
}
.content-manager .modal {
  width: 90%;
  margin-left: -45%;
}
.content-manager .next-page-button {
  float: right;
}
.content-manager .previous-page-button {
  float: left;
}
.content-manager .portlet-header-base .header {
  font-size: 200%;
}
.content-manager .flip-container .command {
  font-size: 200%;
  margin: 10px;
  cursor: pointer;
}
.content-manager .lesson-title {
  font-size: 16px;
  text-align: left;
  color: #a9cb4f;
}
.content-manager .lesson-title.list {
  padding-top: 15px;
}
.content-manager .lesson-description {
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 27px;
  white-space: nowrap;
}
.content-manager img.logo-mini {
  max-width: 130px;
  max-height: 90px;
}
.content-manager img.logo-xs {
  max-width: 64px;
  max-height: 64px;
}
.content-manager img.logo {
  max-height: 180px;
  max-width: 260px;
}
.content-manager .bottom-paginator .select-items-per-page {
  display: none;
}
.content-manager .bottom-paginator .select-element:first-child {
  display: none;
}
.content-manager .select-action {
  max-width: 100px;
}
.content-manager .hide-filter {
  display: none;
  cursor: pointer;
}
.content-manager select {
  margin-top: 0px !important;
}
.content-manager .bbm-modal {
  width: 90% !important;
}
.content-manager hr {
  margin: 3px !important;
}
.content-manager .popup-sidebar {
  overflow: hidden;
}
.content-manager .add-content {
  width: 100%;
  padding: 10px;
  padding-left: 40px;
  background-image: url("../../images/icon-edit.png");
  background-position: left center;
  background-repeat: no-repeat !important;
  font-family: Ubuntu;
  color: #777;
  font-weight: bold;
  text-transform: uppercase;
  font-size: small;
  border-top: 1px solid #d3d4d5;
  border-bottom: 1px solid #d3d4d5;
  margin-top: -1px;
  margin-bottom: -1px;
  cursor: pointer;
}
.content-manager .popup-content {
  left: 260px;
}
.content-manager .selected > .item-body {
  background: #e4e4e4;
}
.content-manager .unselect-lesson {
  display: none;
}
.content-manager .selected .unselect-lesson {
  display: inline;
}
.content-manager .selected .select-lesson {
  display: none;
}
.content-manager .lesson-content-info .bbm-modal {
  width: 800px!important;
}
.content-manager .lesson-content-info .bbm-modal .bbm-modal__topbar {
  border-bottom: none;
}
.content-manager .lesson-content-info .bbm-modal .content {
  padding: 0;
}
.content-manager .lesson-content-info .bbm-modal .content .logo-div {
  width: 30%;
  padding: 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #f4f4f4;
  border: 1px solid #d3d4d5;
  border-left: none;
  min-height: 231px;
}
.content-manager .lesson-content-info .bbm-modal .content .logo-div img {
  max-width: 200px;
}
.content-manager .lesson-content-info .bbm-modal .content .info-div {
  width: 70%;
}
.content-manager .lesson-content-info .bbm-modal .content table td:first-child {
  width: 30%;
}
.content-manager .lesson-content-edit .bbm-modal .bbm-modal__section {
  padding-left: 0;
  height: auto;
}
.content-manager .lesson-content-edit .bbm-modal .bbm-modal__section .popup-content {
  left: 0;
  margin-left: 259px;
  position: static;
  min-height: 480px;
  max-height: 700px;
  overflow: auto;
}
.content-manager .lesson-content-edit .bbm-modal .bbm-modal__section .popup-content .internal-collection {
  overflow: hidden;
}
.content-manager .lesson-content-edit .bbm-modal .bbm-modal__section .popup-content .collapsed {
  max-height: 0;
}
.content-manager .question-select-modal .content > div {
  max-height: 490px;
  overflow: auto;
  border-bottom: 1px solid #DEDEDE;
  border-top: 1px solid #DEDEDE;
  margin-top: 40px;
}
.content-manager .question-select-modal .content .questionBankTree {
  margin-top: 0px!important;
}
.content-manager .lesson-content .item-body {
  background-color: #FFFFFF;
}
.content-manager .lesson-content .category > .item-body {
  background-color: #f8f8f8;
}
.content-manager .lesson-content .category.selected > .item-body {
  background-color: #e4e4e4;
}
.content-manager .lesson-content .category:last-child {
  border-bottom: 1px solid #DEDEDE;
}
.content-manager .lesson-content > div:nth-child(2n+1) {
  background: #f8f8f8;
}
.content-manager .lesson-content > div {
  background: #FFFFFF;
}
.content-manager .lesson-content .internal-collection {
  margin-left: 35px;
}
.content-manager .lesson-content .internal-collection.collapsed img,
.content-manager .lesson-content .internal-collection.collapsed label,
.content-manager .lesson-content .internal-collection.collapsed button {
  display: none;
}
.content-manager .lesson-content .item-body {
  height: 57px;
  border: 1px solid #d3d4d5;
  margin-top: -1px;
  padding-right: 20px;
}
.content-manager .lesson-content .item-body div.checkbox-container {
  width: 75px;
  float: left;
  position: relative;
  height: 74px;
}
.content-manager .lesson-content .item-body input {
  margin-top: 7px;
}
.content-manager .lesson-content .item-body div.title-container button {
  margin-top: 7px;
  margin-left: 10px;
}
.content-manager .lesson-content .item-body div.title-container label {
  padding-top: 8px;
  font-size: 16px;
}
.content-manager .liferay-article.selected {
  background-color: #eee;
}
.content-manager .internal-collection {
  min-height: 1em;
}
.content-manager .ui-state-highlight {
  height: 1.5em;
  line-height: 1.2em;
  background-color: green;
  opacity: 0.3;
}
.content-manager .ui-wrong-helper {
  background-color: red;
  opacity: 0.3;
}
.content-manager .category-expand-button {
  width: 38px;
  height: 38px;
  background-image: url(/learn-portlet/images/icon-next.png);
}
.content-manager .category-expand-button.category-collapsed {
  background-image: url(/learn-portlet/images/icon-select-button.png);
}
.content-manager .liferay-articles-modal table {
  margin-top: 10px;
  width: 100%;
}
.content-manager .liferay-articles-modal table td:first-child {
  padding-right: 10px;
}
.content-manager .liferay-articles-modal table th:first-child {
  padding-right: 10px;
  text-align: left;
  padding-left: 20px;
}
.content-manager .liferay-articles-modal table td:last-child {
  padding-top: 5px;
  padding-right: 10px;
  width: 50%;
  text-align: right;
}
.content-manager .add-presentation-modal table.valamis,
.content-manager .add-external-resource-modal table.valamis {
  margin-top: -1px;
  border-left: 1px solid #DEDEDE;
}
.content-manager .add-presentation-modal table.valamis td:first-child,
.content-manager .add-external-resource-modal table.valamis td:first-child {
  width: 30%;
}
.content-manager .add-presentation-modal table.valamis td:last-child,
.content-manager .add-external-resource-modal table.valamis td:last-child {
  width: 70%;
}
.content-manager .add-external-resource-modal .content button {
  margin: 20px 0px;
}
.content-manager .add-external-resource-modal .content iframe {
  width: 100%;
  height: 250px;
}
.content-manager .preview-modal iframe {
  width: 100%;
  margin: 20px 0px;
  height: 500px;
}
@media (max-width: 767px) {
  .content-manager .lesson-content-edit .bbm-modal__section {
    padding: 0px;
  }
  .content-manager .filter-panel {
    background-color: #f2f2f2;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
  }
  .content-manager .filter-panel .hide-filter {
    display: none;
  }
  .content-manager .filter-panel * {
    width: 100%;
  }
  .content-manager .tool-panel {
    display: none;
  }
  .content-manager .item-view-picker {
    display: none;
  }
  .content-manager .header {
    display: block;
  }
  .content-manager .bottom-paginator {
    width: 100%;
    text-align: center;
  }
  .content-manager .bottom-paginator .paginator-next-page {
    position: absolute;
    right: 5px;
    bottom: 5px;
  }
  .content-manager .bottom-paginator .paginator-previous-page {
    position: absolute;
    left: 5px;
    bottom: 5px;
  }
  .content-manager .bottom-paginator .select-element-label-wrapper {
    position: absolute;
    left: 50%;
    bottom: 2px;
  }
  .content-manager .bottom-paginator .select-element-label {
    position: relative;
    left: -50%;
    bottom: 2px;
  }
  .content-manager .bottom-paginator {
    display: inline-block;
  }
  .content-manager .tablet-showable {
    max-height: 450px;
  }
  .content-manager .show {
    max-height: 400px;
  }
  .content-manager .content-panel {
    margin: 0px;
  }
  .content-manager .header {
    margin: 20px;
  }
  .content-manager .liferay-articles-modal select {
    max-width: 150px;
  }
  .content-manager .lesson-content-info .bbm-modal {
    width: 90%!important;
  }
  .content-manager .lesson-content-info .bbm-modal .content .wideButton {
    background-position: center!important;
    text-indent: -9999px;
    padding: 0 !important;
    max-width: 200px;
  }
  .content-manager .lesson-content-info .bbm-modal .content .logo-div,
  .content-manager .lesson-content-info .bbm-modal .content .info-div {
    width: 100%;
    float: initial;
  }
  .content-manager .lesson-content-info .bbm-modal .content .logo-div {
    text-align: center;
  }
  .content-manager .modals-container .bbm-wrapper:nth-child(2) .bbm-modal {
    width: 90%!important;
  }
  .content-manager .lesson-content-edit .bbm-modal .popup-content {
    margin-left: 0px!important;
  }
  .content-manager .lesson-content-edit .bbm-modal .sidebar-wrapper {
    padding: 0px;
  }
  .content-manager .lesson-content-edit .bbm-modal .sidebar-wrapper.show {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    margin-bottom: 20px;
  }
  .content-manager .lesson-item-list .lesson-description,
  .content-manager .lesson-item-list .lesson-title {
    max-width: 50px;
  }
  .content-manager .lesson-buttons {
    padding: 0px;
  }
  .content-manager .content-panel {
    margin-bottom: 25px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .content-manager .lesson-content-edit .bbm-modal__section {
    padding: 0px;
  }
  .content-manager .filter-panel {
    width: 300px;
    position: absolute;
    height: 100%;
    z-index: 1000;
    top: 0;
    left: -350px;
  }
  .content-manager .filter-panel.show {
    left: 0;
    padding: 20px;
  }
  .content-manager .filter-panel.show .hide-filter {
    display: inline;
    right: 10px;
    top: 10px;
  }
  .content-manager .bottom-paginator {
    float: right;
  }
  .content-manager .liferay-articles-modal select {
    max-width: 400px;
  }
  .content-manager .lesson-content-info .bbm-modal {
    width: 90%!important;
  }
  .content-manager .lesson-content-info .bbm-modal .content .wideButton {
    padding-left: 65px !important;
    background-position: 25px center !important;
  }
  .content-manager .modals-container .bbm-wrapper:nth-child(2) .bbm-modal {
    width: 90%!important;
  }
  .content-manager .lesson-content-edit .bbm-modal .popup-content {
    margin-left: 0px!important;
  }
  .content-manager .lesson-content-edit .bbm-modal .sidebar-wrapper {
    padding: 20px 0px 0px 0px;
  }
  .content-manager .lesson-item-list .lesson-description,
  .content-manager .lesson-item-list .lesson-title {
    max-width: 200px;
  }
}
@media (min-width: 1200px) {
  .content-manager .filter-panel {
    width: 300px;
    position: absolute;
    height: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    padding: 20px;
  }
  .content-manager .hide-filter {
    display: none;
  }
  .content-manager .show-filter-button-showable {
    visibility: hidden;
  }
  .content-manager .content-panel {
    margin-left: 320px;
  }
  .content-manager .tablet-showable {
    left: 300px;
  }
  .content-manager .bottom-paginator {
    float: right;
  }
  .content-manager .show-filter-button {
    display: none;
  }
}
