
/* Tabs restyling */

.portlet-learn-scorm #certificateTabs {
    background: transparent;
    border: none;
}

.portlet-learn-scorm #certificateTabs .ui-widget-header {
    background: transparent;
    border: none;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    padding-left: 10px;
}

.portlet-learn-scorm #certificateTabs .ui-state-default {
    background: #D9DCDD;
    border: none;
    margin-right: 5px;
    border-top: 1px solid #BBBDBE;
    border-left: 1px solid #BBBDBE;
    border-right: 1px solid #BBBDBE;
}

.portlet-learn-scorm #certificateTabs .ui-state-active {
    background: #edeeef;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    border-top: 1px solid #BBBDBE;
    border-left: 1px solid #BBBDBE;
    border-right: 1px solid #BBBDBE;
}

.portlet-learn-scorm #certificateTabs .ui-state-default a {
    color: #000;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.portlet-learn-scorm #certificateTabs .ui-state-active a {
    background: #edeeef;
    color: #000;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.portlet-learn-scorm #certificateTabs .ui-tabs-panel {
    background: #edeeef;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 15px;
    border: 1px solid #BBBDBE;
}


.portlet-learn-scorm #SCORMButtonAddCertificate {
    color: #000 !important;
    background: url("../img/add-new.png") no-repeat transparent !important;
    height: 22px !important;
    padding-left: 26px !important;
    border: none !important;
    cursor: pointer !important;
    font-size: 14px !important;
    font-weight: bold !important;
    font-family: sans-serif !important;
}

.portlet-learn-scorm #SCORMButtonAddCertificate:hover {
    background: url("../img/add-new-hover.png") no-repeat transparent !important;
    height: 22px !important;
    padding-left: 26px !important;
    border: none !important;
    cursor: pointer !important;
    font-size: 14px !important;
    font-weight: bold !important;
    font-family: sans-serif !important;
    color: #D34040 !important;
}

.certificateDetails{
    min-height:100px;
    height:auto !important;
    height:100px;
}

.myCertificateGrid {
    background: #fff;
    border-collapse: collapse;
    text-align: left;
    font-size: 14px;
}

.portlet-learn-scorm .myCertificateGrid th {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    padding: 10px 10px 3px 10px;
    border-bottom: 2px solid #CCC;
}

.portlet-learn-scorm .myCertificateGrid td {
    border-bottom: 1px solid #CCC;
    color: #333333;
    padding: 11px 10px 10px 10px;
}

.portlet-learn-scorm .myCertificateGrid tbody tr:hover td {
    background: #EFECBD;
    color: #000;
}

.SCORMPackageList {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #fff;
    margin: 10px 0px 5px 0;
    padding: 5px 5px 10px 5px;
    box-shadow: 0px 0px 8px -2px #A5A9AA;
}

.SCORMPackageListHeader {
    padding: 3px;
    font-weight:bold;
    background-color: #EDEEEF;
    border: 1px solid #EDEEEF;
}

.SCORMPackageListHeaderText {
    padding: 7px 7px 6px 7px;
    float: left;
    font-size: 15px;
    font-weight: bold;
}


.sortable {
    cursor: pointer
}

.scormSiteTitleColumn{

}

.scormSiteGradeColumn{
    width: 100px;
}

.scormSiteGradeEditColumn{
    width: 100px;
}

.listTitle {
    background: #fff
}

.userList{
    margin: 0px;
}

.userSearch{
    margin-bottom: 5px;
}

#userSearch{
    width: 85%;
}




.siteSortableList ul { width: 300px; list-style: none; margin: 0; padding: 0; }
.siteSortableList li { background: white; position:relative;margin: 1em 0; padding: 1em; border: 2px solid gray; list-style: none; padding-left: 42px; }
.siteSortableList li .handle { background: #f8f8f8; position: absolute; left: 0; top: 0; bottom: 0; padding:8px; }
.siteSortableList .ui-selecting { background: #eee; }
.siteSortableList .ui-selecting .handle { background: #ddd; }
.siteSortableList .ui-selected { background: #def; }
.siteSortableList .ui-selected .handle { background: #cde; }


.membership{
    background-image: url("../img/membership.png") !important;
    background-color: transparent !important;
    background-repeat: no-repeat !important;
    border: 0px none !important;
    cursor: pointer !important;
    height: 28px !important;
    width: 28px !important;
    cursor: pointer !important;
    margin-left: 2px !important;
    float: right;
}

.membership:hover{
    background-image: url("../img/membership_hovered.png") !important;
}

.buttonRemoveSite {
    background-position: 0px -56px !important;
}

.buttonRemoveSite:hover {
    background-position: -24px -56px !important;
}