/* ------------ BASIC LAYOUT ----------------*/

.portlet-learn-scorm .SCORMPlayerContentDisplay {
  margin: 20px 10px;
}

.portlet-learn-scorm .SCORMPlayerContentDisplay .playerHeader {
	margin: 0 0 20px 0;
}

.portlet-learn-scorm .SCORMPlayerContentDisplay .playerMainArea {
	margin: 10px 5px 10px 5px;
}

.portlet-learn-scorm .SCORMPlayerContentDisplay .playerPageNavigation {
	margin: 27px 0 10px 0;
	width: 100%;
	border-top: 1px dashed #666666;
	padding: 7px 0;
}

.portlet-learn-scorm .SCORMPlayerContentDisplay h1 {
  font-weight: bold;
  font-size: 16px;
  margin: 2px 2px 2px 0;
}

.portlet-learn-scorm .SCORMPlayerContentDisplay h2 {
  font-weight: normal;
  font-size: 14px;
  font-style: italic;
}

.portlet-learn-scorm .playerPageNavigation .playerPrevious {
	float: left;
}

.portlet-learn-scorm .playerPageNavigation .playerNext {
	float: right;
}

/* ------------ Choice Question ----------------*/

.portlet-learn-scorm .playerMainArea .radio, .playerMainArea .checkbox {
  margin: 7px 6px 0 0;
}


/* ------------ Short Answer Question ----------------*/

.portlet-learn-scorm .playerMainArea .playerShortAnswerField {
  background: #D9DCDD;
  border: 1px solid #666666;
  font-size: 14px;
  padding: 4px;
  font-family: "Tahoma", sans-serif;
}

.portlet-learn-scorm .playerMainArea .playerShortAnswerField:focus {
  background: #EFECBD;
}


/* ------------ Long Answer Question ----------------*/

.portlet-learn-scorm .playerMainArea .playerLongAnswerField {
  background: #D9DCDD;
  border: 1px solid #666666;
  font-size: 14px;
  padding: 4px;
  font-family: "Tahoma", sans-serif;
}

.portlet-learn-scorm .playerMainArea .playerLongAnswerField:focus {
	background: #EFECBD;
}


/* ------------ Placing Question ----------------*/

.portlet-learn-scorm .playerMainArea .playerPlacingAnswers {
}

.portlet-learn-scorm .playerMainArea .playerPlacingAnswers ul {
  	list-style-type: none;
    margin: 5px;
    padding: 0;
}

.portlet-learn-scorm .playerMainArea .playerPlacingAnswers ul li {
  	background-color: #EFECBD;
    border: 2px dotted #666666;
    margin: 8px;
    padding: 5px;
    width: 200px;
    text-align: center;
    cursor: move;
    line-height: 1.2em;
}

.portlet-learn-scorm .playerMainArea .playerPlacingAnswers ul li:hover {
  	background-color: #F7E55C;
}


/* ------------ Categorize Question ----------------*/


.portlet-learn-scorm .playerMainArea .playerCategorizeAnswers ul.categorizationAnswerElements {
  	list-style-type: none;
    margin: 5px;
    padding: 0;
    float: left;
}

.portlet-learn-scorm .playerMainArea .playerCategorizeAnswers ul li {
  	background-color: #EFECBD;
    border: 2px dotted #666666;
    margin: 8px;
    padding: 5px;
    width: 120px;
    text-align: center;
    cursor: move;
    line-height: 1.2em;
}

.portlet-learn-scorm .playerMainArea .playerCategorizeAnswers ul li:hover {
  	background-color: #F7E55C;
}


.portlet-learn-scorm .categorizationAnswerBoxs {
  	float: left;
  	margin: 0 0 0 20px;
}

.portlet-learn-scorm .categorizationAnswerBoxs th {
  	font-size: 14px;
  	font-weight: normal;
  	background: #666666;
  	font-size: 14px;
  	padding: 1px 2px 3px 2px;
  	color: #FFF;
  	font-weight: bold;
}

.portlet-learn-scorm .categorizationAnswerBoxs td {
  	background-color: #FFF;
  	min-height: 100px;
  	font-size: 14px;
  	padding: 0 0 10px 0;
}

.portlet-learn-scorm .categorizationAnswerBoxs .answerContainer {
    height: auto;
    list-style-type: none;
    margin: 0;
    min-height: 100px;
    padding: 5px;
    width: 180px;
    border: 2px solid #666666;
}