/* ------------ MAIN CONTENT ----------------*/

.portlet-learn-scorm .padded {
    padding: 5px;
}

.portlet-learn-scorm .fluidRowsContent {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-left: -5px;
    margin-right: -5px;
}

.portlet-learn-scorm .fluidLeftPart {
    float: left;
    padding: 10px;
    width: auto;
    white-space: normal;
    min-width: 150px;
    max-width: 60%;
    margin-right: 2%;
}

.portlet-learn-scorm .fluidRightPart {
    background: #fff;
    overflow: auto;
    padding: 10px;
    white-space: normal;
    width: auto;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
}

.portlet-learn-scorm .staticToolbar {
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid #808080;
    height: 40px;
    top: 0px;
    background-color: #eee;
    padding-top: 2px;
}

.portlet-learn-scorm .staticToolbar70px {
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid #808080;
    width: 100%;
    height: 70px;
    top: 0px;
    background-color: #eee;
    padding-top: 2px;
}

/* ------------- OVERWRITING THINGS-------------------- */

.portlet-learn-scorm .jstree a {
    white-space: normal;
}

.portlet-learn-scorm .image-wrapper {
    float: left;
    text-align: center;
    cursor: pointer;
}

.portlet-learn-scorm .image {
    width: 100px;
    height: 74px;
}

.portlet-learn-scorm .folder {
    width: 100px;
    height: 74px;
    background: url("../js/libs/redactor/css/images/folder.png") no-repeat scroll left center transparent;
}

.portlet-learn-scorm .text-wrapper {
    margin-left: -10px;
    margin-top: -10px;
}

.portlet-learn-scorm .quizCollectionItem td {
    height: 30px;
    vertical-align: middle;
}

.portlet-learn-scorm .quizList {
    list-style-type: none;
    margin: 0;
}

.portlet-learn-scorm .search {
    font-size: 130% !important;
}

.portlet-learn-scorm .quizItemTitle {
    font-size: 16px;
    font-weight: bold;
    vertical-align: middle;
    float: left;
    padding: 5px 10px 5px 3px;
}

.portlet-learn-scorm .availableQuizItem {
    margin-bottom: 5px;
    background: #fff;
    margin: 10px 0;
    padding: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 0 4px -2px #A5A9AA;
}

.portlet-learn-scorm .quizBodyContent {
    padding: 5px;
}

.portlet-learn-scorm .availableQuizLabel {
    display: block;
    font-weight: bold;
    font-size: large;
}

.portlet-learn-scorm .itemHeader {
    padding: 3px;
    font-weight: bold;
    background-color: #EDEEEF;
    border: 1px solid #EDEEEF;
    margin-bottom: 12px;
}

.portlet-learn-scorm .categoryView {
    margin: 10px;
    background: #fff;
    overflow: auto;
    padding: 10px;
    white-space: normal;
    width: auto;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.portlet-learn-scorm .quizQuestionView {
    margin: 10px;
    background: #fff;
    overflow: auto;
    padding: 10px;
    white-space: normal;
    width: auto;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

/*----*/

.portlet-learn-scorm .sortButton {
    cursor: pointer;
    padding: 5px 10px 6px !important;
}

.portlet-learn-scorm .editTitleButton {
    background: #edeeef;
    float: left;
}

.portlet-learn-scorm .editDescriptionButton {
    background: #fff;
    float: right;
}

.portlet-learn-scorm .editQuestionsButton {
    background-color: transparent;
    float: right;
}

.portlet-learn-scorm .quizManagementButton {
    background-color: transparent;
    float: right;
}

.portlet-learn-scorm .removeQuizButton {
    background: #edeeef;
    float: right;
}

.portlet-learn-scorm .editQuizButton {
    background: #edeeef;
    float: right;
}

.portlet-learn-scorm .buttonList {
    background-position: 0px 0px !important;
}

.portlet-learn-scorm .buttonList:hover {
    background-position: -24px 0px !important;
}

.portlet-learn-scorm .buttonAddCategory {
    background-position: 0px 0px !important;
}

.portlet-learn-scorm .buttonAddCategory:hover {
    background-position: -28px 0px !important;
}

.portlet-learn-scorm .buttonAddQuestion {
    background-position: 0px -28px !important;
}

.portlet-learn-scorm .buttonAddQuestion:hover {
    background-position: -28px -28px !important;
}

.portlet-learn-scorm .buttonRemove {
    background-position: 0px -56px !important;
}

.portlet-learn-scorm .buttonRemove:hover {
    background-position: -28px -56px !important;
}

.portlet-learn-scorm .buttonEdit {
    background-position: 0px -112px !important;
}

.portlet-learn-scorm .buttonEdit:hover {
    background-position: -28px -112px !important;
}

.portlet-learn-scorm .buttonDone {
    background-position: 0px -280px !important;
}

.portlet-learn-scorm .buttonDone:hover {
    background-position: -28px -280px !important;
}

.portlet-learn-scorm .buttonDownload {
    background-position: 0px -252px !important;
}

.portlet-learn-scorm .buttonDownload:hover {
    background-position: -28px -252px !important;
}

.portlet-learn-scorm .buttonInstall {
    background-position: 0px -280px !important;
}

.portlet-learn-scorm .buttonInstall:hover {
    background-position: -28px -280px !important;
}

/* Tabs restyling */

.portlet-learn-scorm #quizTabs {
    background: transparent;
    border: none;
}

.portlet-learn-scorm #quizTabs .ui-widget-header {
    background: transparent;
    border: none;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    padding-left: 10px;
}

.portlet-learn-scorm #quizTabs .ui-state-default {
    background: #D9DCDD;
    border: none;
    margin-right: 5px;
    border-top: 1px solid #BBBDBE;
    border-left: 1px solid #BBBDBE;
    border-right: 1px solid #BBBDBE;
}

.portlet-learn-scorm #quizTabs .ui-state-active {
    background: #edeeef;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    border-top: 1px solid #BBBDBE;
    border-left: 1px solid #BBBDBE;
    border-right: 1px solid #BBBDBE;
}

.portlet-learn-scorm #quizTabs .ui-state-default a {
    color: #000;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.portlet-learn-scorm #quizTabs .ui-state-active a {
    background: #edeeef;
    color: #000;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.portlet-learn-scorm #quizTabs .ui-tabs-panel {
    background: #edeeef;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 15px;
    border: 1px solid #BBBDBE;
}

/* ------------- 2nd edition -------------------- */

.portlet-learn-scorm .quizSection {
    border-bottom: solid 1px #CCCCCC;
    margin: 2px 0px 10px 0px;
}

.portlet-learn-scorm .quizSectionTitle {
    font-weight: bold;
    float: left;
}

.portlet-learn-scorm .SCORMResult {
    margin: 7px 0px 10px 0px;
}

.portlet-learn-scorm #SCORMQuestionTypeDiv {
    margin: 0 0 10px;
}

.portlet-learn-scorm #SCORMQuestionType {
    margin: 0 6px;
}

.portlet-learn-scorm .quizSectionType {
    float: left;
    font-weight: bold;
    padding-right: 4px;
    padding-top: 0;
}

.portlet-learn-scorm .SCORMCheckbox {
    margin: 5px 0;
}

.portlet-learn-scorm .SCORMAnswerTitle {
    font-weight: bold;
    font-style: italic;
    float: left;
    max-width: 80%;
    padding: 6px 6px 3px 0;
}

.portlet-learn-scorm .SCORMAnswerText {
    float: left;
    width: 80%;
}

.portlet-learn-scorm input#SCORMAnswerText, input#SCORMAnswerRangeFrom, input#SCORMAnswerRangeTo {
    border: solid 1px #B3B3B3;
    padding: 4px;
    background: #FFF;
}

.portlet-learn-scorm input#SCORMAnswerText:focus,
.portlet-learn-scorm input#SCORMAnswerRangeFrom:focus,
.portlet-learn-scorm input#SCORMAnswerRangeTo:focus {
    border: solid 1px #B3B3B3;
    padding: 4px;
    background: #EFECBD;
}

.portlet-learn-scorm .SCORMAnswerHeader {
    padding: 4px 0;
}

.portlet-learn-scorm .SCORMAnswerTextArea {
    padding: 5px 0 8px 0;
}

.portlet-learn-scorm .answerSectionTitle {
    font-weight: bold;
    padding: 2px 0;
}

.portlet-learn-scorm #SCORMCategoryView,
.portlet-learn-scorm #SCORMCategoryEdit,
.portlet-learn-scorm #SCORMQuestionContentDiv {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    background: #FFF;
    margin: 5px;
}

.portlet-learn-scorm .SCORMPackageListHeaderButtons {
    background-color: #EDEEEF;
    font-weight: bold;
    padding: 3px;
    margin-bottom: 12px;
}

.portlet-learn-scorm #SCORMQuizHeader {
    margin-bottom: 15px;
}

.portlet-learn-scorm .itemHeader #quizEditTitle {
    float: none;
}

.portlet-learn-scorm .quizQuestionAmount {
    font-style: italic;
}

/* ------------ Search ----------------*/

.portlet-learn-scorm .SCORMSearch {
    background: #FFF;
    border: solid 2px #A5A9AA;
    outline: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 7px 10px 6px 30px;
    font-family: sans-serif;
    font-size: 14px;
    background-image: url("../img/icons/search.png");
    background-position: 8px 4px;
    background-repeat: no-repeat;
    color: #000;
    box-shadow: 0px 0px 8px -2px #A5A9AA;
}

.portlet-learn-scorm .SCORMSearch:focus {
    background-color: #EFECBD;
    border-color: #333333;
    box-shadow: 0px 0px 10px -2px #A5A9AA;
}

/* ------------ Buttons ----------------*/

.portlet-learn-scorm .questionbankAnswerDelete {
    background-position: 0px -51px !important;
}

.portlet-learn-scorm .questionbankAnswerDelete:hover {
    background-position: -24px -51px !important;
}

.portlet-learn-scorm .buttonAddCategory {
    background-position: 0px 0px !important;
}

.portlet-learn-scorm .buttonAddCategory:hover {
    background-position: -28px 0px !important;
}

.portlet-learn-scorm .buttonAddQuestion {
    background-position: 0px -28px !important;
    float: left;
}

.portlet-learn-scorm .buttonAddQuestion:hover {
    background-position: -28px -28px !important;
}

.portlet-learn-scorm .buttonRemove {
    background-position: 0px -56px !important;
}

.portlet-learn-scorm .buttonRemove:hover {
    background-position: -28px -56px !important;
}

.portlet-learn-scorm .buttonPen {
    background-position: 0px -18px !important;
}

.portlet-learn-scorm .buttonPen:hover {
    background-position: -24px -18px !important;
}

.portlet-learn-scorm .questionbankButton {
    float: right;
}

.portlet-learn-scorm .SCORMAddNewButton {
    color: #000 !important;
    background: #FFF !important;
    display: block !important;
    -moz-border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    border-radius: 5px !important;
    padding: 7px !important;
    margin-top: 10px !important;
    box-shadow: 0px 0px 4px -2px #A5A9AA !important;
}

.portlet-learn-scorm #SCORMButtonAddQuiz {
    color: #000 !important;
    background: url("../img/add-new.png") no-repeat transparent !important;
    height: 22px !important;
    padding-left: 26px !important;
    border: none !important;
    cursor: pointer !important;
    font-size: 14px !important;
    font-weight: bold !important;
    font-family: sans-serif !important;
}

.portlet-learn-scorm #SCORMButtonAddQuiz:hover {
    background: url("../img/add-new-hover.png") no-repeat transparent !important;
    height: 22px !important;
    padding-left: 26px !important;
    border: none !important;
    cursor: pointer !important;
    font-size: 14px !important;
    font-weight: bold !important;
    font-family: sans-serif !important;
    color: #D34040 !important;
}

.portlet-learn-scorm #SCORMButtonAddAnswer {
    color: #000 !important;
    background: url("../img/add-new.png") no-repeat transparent !important;
    height: 22px !important;
    padding-left: 26px !important;
    border: none !important;
    cursor: pointer !important;
    font-size: 14px !important;
    font-weight: bold !important;
    font-family: sans-serif !important;
}

.portlet-learn-scorm #SCORMButtonAddAnswer:hover {
    background: url("../img/add-new-hover.png") no-repeat transparent !important;
    height: 22px !important;
    padding-left: 26px !important;
    border: none !important;
    cursor: pointer !important;
    font-size: 14px !important;
    font-weight: bold !important;
    font-family: sans-serif !important;
    color: #D34040 !important;
}

.portlet-learn-scorm #SCORMButtonAddElement {
    color: #000 !important;
    background: url("../img/add-new.png") no-repeat scroll 0 0 transparent !important;
    border: medium none !important;
    cursor: pointer !important;
    font-family: sans-serif !important;
    font-size: 14px !important;
    font-weight: normal !important;
    height: 22px !important;
    padding-left: 26px !important;
}

.portlet-learn-scorm #SCORMButtonAddElement:hover {
    background: url("../img/add-new-hover.png") no-repeat transparent !important;
    height: 22px !important;
    padding-left: 26px !important;
    border: none !important;
    cursor: pointer !important;
    font-size: 14px !important;
    font-weight: normal !important;
    color: #D34040 !important;
}

.portlet-learn-scorm .SCORMSave {
    float: right;
}

.portlet-learn-scorm .questionarieTreeEditButton {
    float: right;
}

.portlet-learn-scorm .SCORMAddNewButton {
    color: #000 !important;
    background: #FFF !important;
    display: block !important;
    -moz-border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    border-radius: 5px !important;
    padding: 7px !important;
    margin-top: 10px !important;
    box-shadow: 0px 0px 4px -2px #A5A9AA !important;
}

.portlet-learn-scorm #SCORMButtonAddAnswer {
    color: #000 !important;
    background: url("../img/add-new.png") no-repeat transparent !important;
    height: 22px !important;
    padding-left: 26px !important;
    border: none !important;
    cursor: pointer !important;
    font-size: 14px !important;
    font-weight: bold !important;
    font-family: sans-serif !important;
}

.portlet-learn-scorm #SCORMButtonAddAnswer:hover {
    background: url("../img/add-new-hover.png") no-repeat transparent !important;
    height: 22px !important;
    padding-left: 26px !important;
    border: none !important;
    cursor: pointer !important;
    font-size: 14px !important;
    font-weight: bold !important;
    font-family: sans-serif !important;
    color: #D34040 !important;
}

.portlet-learn-scorm #quizTabs li .ui-icon-close {
    float: left;
    margin: 0.4em 0.2em 0 0;
    cursor: pointer;
}