/* ------------ BASIC LAYOUT ----------------*/

* {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}

.portlet-learn-scorm body {
    /*font-size: 14px;
    font-family: "Tahoma", sans-serif;*/
}

.portlet-learn-scorm .marged {
    margin: 3px;
}

.portlet-learn-scorm .SCORMTitle {
    text-align: center;
    font-weight: bold;
    margin: 0px 5px 18px 0px;
    background-color: #D9DCDD;
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    float: left;
    font-size: 16px;
    text-shadow: -1px -1px #FFFFFF;
    border: 1px solid #BBBDBE;
}

.portlet-learn-scorm .float-right {
    float: right;
}

.portlet-learn-scorm .clear {
    clear: both;
}

.portlet-learn-scorm abbr, acronym {
    border: none;
    cursor: default;
}

.portlet-learn-scorm select {
    background: none repeat scroll 0 0 #FFFFFF !important;
    border: 1px solid #727272 !important;
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2) inset !important;
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2) inset !important;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2) inset !important;
    color: #000000 !important;
}

/* ------------ Buttons  ----------------*/

.portlet-learn-scorm .textbutton {
    background: none repeat scroll 0 0 #333333 !important;
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
    border-radius: 5px 5px 5px 5px !important;
    color: #FFFFFF !important;
    font-weight: bold !important;
    padding: 3px 8px 4px !important;
    font-size: 14px !important;
    margin: 7px 0 0 0 !important;
    cursor: pointer !important;
}

.portlet-learn-scorm .textbutton:hover {
    background: #D34040 !important;
}

.portlet-learn-scorm .smallTextbutton {
    background: none repeat scroll 0 0 #333333 !important;
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
    border-radius: 5px 5px 5px 5px !important;
    color: #FFFFFF !important;
    cursor: pointer !important;
    font-size: 12px !important;
    font-weight: bold !important;
    padding: 2px 3px !important;
    text-shadow: none;
}

.portlet-learn-scorm .smallTextbutton:hover {
    background: #D34040 !important;
}

.portlet-learn-scorm .button32 {
    border: 0px !important;
    width: 32px !important;
    height: 32px !important;
    cursor: pointer !important;
    background-repeat: no-repeat !important;
    background-image: url('../img/sprite-32x32.png') !important;
    margin-left: 3px !important;
}

.portlet-learn-scorm .button28 {
    background-image: url("../img/sprite-28x28.png") !important;
    background-color: transparent !important;
    background-repeat: no-repeat !important;
    border: 0px none !important;
    cursor: pointer !important;
    height: 28px !important;
    width: 28px !important;
    cursor: pointer !important;
    margin-left: 2px !important;
}

.portlet-learn-scorm .button24x18 {
    border: 0px !important;
    width: 24px !important;
    height: 18px !important;
    cursor: pointer !important;
    background-repeat: no-repeat !important;
    background-image: url('../img/sprite-24x18.png') !important;
    background-color: transparent !important;
    margin-bottom: 1px !important;
    float: right !important;
}

.portlet-learn-scorm .buttonDisabled {
    opacity: 0.2 !important;
    filter: alpha(opacity = 20) !important; /* For IE8 and earlier */
}

.growlUIComplete {
    background: url('../img/check48.png') no-repeat 10px 10px;
}

.growlUIWarning {
    background: url('../img/attention48.png') no-repeat 10px 10px;
}