/* ------------ Gradebook Settings  ----------------*/

.portlet-learn-scorm .gradebookSettings {
    margin-bottom: 15px;
}

.portlet-learn-scorm .SCORMGradebookPackageChoice, .portlet-learn-scorm .SCORMGradebookUserChoice {
    margin-bottom: 8px;
}

.SCORMGradebookDialogButtons {
 	margin: 5px 0;
}

/* ------------ Gradebook Table  ----------------*/

.portlet-learn-scorm .jstree-grid-header-regular {
    background: #D9DCDD;
    margin: 2px 0;
}

.portlet-learn-scorm .altRow {
    background: #EDEEEF !important;
}

.portlet-learn-scorm .jstree-grid-header-cell {
    font-weight: bold;
    padding: 5px;
}

.portlet-learn-scorm table.SCORMTableGradebook {
    font-size: 14px;
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    margin: 5px 0;
    border: #D9DCDD 3px solid;
}

.portlet-learn-scorm tr.SCORMTableGradebookHeader {
    background: #D9DCDD;
    margin-bottom: 4px;
}

.portlet-learn-scorm .SCORMTableGradebook th {
    font-weight: bold;
    padding: 2px 5px 4px 5px;
}

.portlet-learn-scorm .SCORMTableGradebook tr {
}

.portlet-learn-scorm .SCORMTableGradebook tr td {
    font-weight: normal;
    padding: 5px 5px 4px 5px;
    letter-spacing: -0.01em;
}

.portlet-learn-scorm .SCORMTableGradebook tr.alt td {
    background: #EDEEEF;
}

.portlet-learn-scorm .gradebookTable {
    margin-bottom: 10px;
}

.portlet-learn-scorm .jstree-grid-separator-regular {
    border-color: #C9C9C9;
    border-style: solid;
}

.portlet-learn-scorm .jstree-grid-separator {
    border-width: 0 2px 0 0;
    display: inline-block;
    float: left;
    height: 25px;
    margin-right: 0;
}
.gradeTable tr td{padding: 5px; }

#GradeTable thead th {
  padding: 5px;
  background-color: #D9DCDD;
}

#GradeTable tr td {
  padding: 5px;
}

.userTD {
  background-color: #D9DCDD;
}