/* ------------ Player window ----------*/

.portlet-learn-scorm .scormData {
    border: 1px solid #333333;
    max-height: 600px;
    width: 100%;
    background: white;
}

/* ------------ Buttons ----------*/

.portlet-learn-scorm .SCORMNavigation {
    float: right;
    margin-top: 28px;
}

.portlet-learn-scorm .navBtnFirst {
    background-position: 0px -140px !important;
}

.portlet-learn-scorm .navBtnFirst:hover {
    background-position: -28px -140px !important;
}

.portlet-learn-scorm .navBtnPrev {
    background-position: -1px -169px !important;
    height: 26px !important;
    width: 26px !important;
    margin-left: 5px !important;
}

.portlet-learn-scorm .navBtnPrev:hover {
    background-position: -29px -169px !important;
}

.portlet-learn-scorm .navBtnNext {
    height: 26px !important;
    width: 26px !important;
    background-position: -2px -197px !important;
    margin: 0 !important;
}

.portlet-learn-scorm .navBtnNext:hover {
    background-position: -30px -197px !important;
}

.portlet-learn-scorm .navBtnLast {
    background-position: 0px -224px !important;
}

.portlet-learn-scorm .navBtnLast:hover {
    background-position: -28px -224px !important;
}

.portlet-learn-scorm .playerButton {
    display: inline;
    margin-left: 5px;
}

.portlet-learn-scorm .playerButtonDouble {
    display: inline;
    margin: 0px;
}

.portlet-learn-scorm .SCORMToggleButton {
    background: url("../img/player-expand.png") no-repeat scroll left center transparent !important;
    border: medium none !important;
    border-radius: 0 0 0 0 !important;
    cursor: pointer;
    height: 26px;
    width: 14px;
}

.portlet-learn-scorm .SCORMToggleButton:hover {
    background: url("../img/player-expand-hover.png") no-repeat scroll left center transparent !important;
}

.portlet-learn-scorm .toggle-button-active {
    background: url("../img/player-reduce.png") no-repeat scroll left center transparent !important;
    border: none !important;
    cursor: pointer;
}

.portlet-learn-scorm .toggle-button-active:hover {
    background: url("../img/player-reduce-hover.png") no-repeat scroll left center transparent !important;
}

/* ------------ LEFT PART ----------------*/

.portlet-learn-scorm .SCORMMenuheader {
    font-size: 14px;
    font-weight: bold;
    margin: 0px 0px 4px 0px;
}

.portlet-learn-scorm #SCORMPackages, .portlet-learn-scorm #SCORMOrganizations {
    margin: 0px 0px 14px 0px;
    padding: 1px;
}

.portlet-learn-scorm #SCORMTogglePanel {
    min-width: 200px;
}

/* ------------- OVERWRITING THINGS-------------------- */

.portlet-learn-scorm .jstree a {
    white-space: normal;
}

/*.portlet-learn-scorm .SCORMNavigation button {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}*/

.portlet-learn-scorm .SCORMToggleButton button {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}