<script type="text/template" id="modals-template">
    <div class="modals-container valamis"></div>
</script>

<script type="text/template" id="modal-template-roles">
    <div class="bbm-modal__topbar">
        <h3 class="bbm-modal__title">{{selectRoleLabel}}</h3>

        <div class="modal-close">
        </div>
    </div>
    <div class="bbm-modal__section select-role-dialog">
    </div>
</script>

<script type="text/mustache" id="deleteConfirmationTemplate">
    <div class="confirmation-question">{{renewDatabaseWarningLabel}}</div>
    <div>
        <button class='confirmation btn-primary'>{{yesLabel}}</button>
        <button>{{cancelLabel}}</button>
    </div>
</script>