<script type="text/html" id="reportFilter">
    <h3 class="hidden-sm hidden-xs">{{searchTitleLabel}}</h3>
     <form>
        <div class="select-scope-group form-group position-relative">
            <label class="form-label">{{scopeLabel}}</label>
             <div class="valamis-select">
                <select class="select-scope form-control">
                    <option value="instance">{{scopeInstance}}</option>
                    <option value="course">{{scopeCourse}}</option>
                </select>
            </div>
        </div>

        <button type="button" class="button valamis medium grey text-center hidden-lg hidden-md">{{searchLabel}}</button>
    </form>
</script>

<script type="text/html" id="courseViewTemplate">
    <div id="course-report-frame">
        <div class="course-report-grey" style="float: none;">
            <div style="padding-left: 10px; width: 120px; float: left; font-weight: bold;">{{coursesLabel}}</div><span >{{coursesCount}}</span></div>
        <div class="course-report-white" style="float: none;">
            <div style="padding-left: 10px; width: 120px; float: left; font-weight: bold;">{{learnersLabel}}</div><span > {{studentsCount}}</span></div>
        <div class="course-report-grey">
            <div style="padding-left: 10px; width: 120px; float: left; font-weight: bold;">{{startedLabel}}</div><span> {{studentsStartedCount}}</span></div>
        <div class="course-report-white">
            <div style="padding-left: 10px; width: 120px; float: left; font-weight: bold;">{{unknownLabel}}</div><span> {{studentsUnknownPercentage}}% ({{studentsUnknownCount}} {{ofLabel}} {{studentsCount}})</span></div>
        <div class="course-report-grey">
            <div style="padding-left: 10px; width: 120px; float: left; font-weight: bold;">{{incompletedLabel}}</div><span> {{studentsIncompletedPercentage}}% ({{studentsIncompletedCount}} {{ofLabel}} {{studentsCount}})</span></div>
        <div class="course-report-white">
            <div style="padding-left: 10px; width: 120px; float: left; font-weight: bold;">{{completedLabel}}</div><span> {{studentsCompletedPercentage}}% ({{studentsCompletedCount}} {{ofLabel}} {{studentsCount}})</span></div>
        <div class="course-report-grey">
            <div style="padding-left: 10px; width: 120px; float: left; font-weight: bold;">{{failedLabel}}</div><span> {{studentsFailedPercentage}}% ({{studentsFailedCount}} {{ofLabel}} {{studentsCount}})</span></div>
        <div class="course-report-white">
            <div style="padding-left: 10px; width: 120px; float: left; font-weight: bold;">{{PassedLabel}}</div><span> {{studentsPassedPercentage}}% ({{studentsPassedCount}} {{ofLabel}} {{studentsCount}})</span></div>
    </div>
</script>

<script type="text/html" id="loadingViewTemplate">
    <p style="padding-left: 10px">Loading...</p>
</script>