<script type="text/mustache" id="curriculumHeaderTemplate">
    <div class="pull-left button-upload-area">
        <button class="filter-toggler button valamis big grey menu-toggle menu-open val-icon-search"></button>
    </div>

    <h3 class="content-header-padded pull-left hidden-sm hidden-xs"> {{certificatesLabel}} </h3>

    <div class="pull-right button-upload-area">
        <button id="addCertificate" class="button valamis big green val-icon-plus">{{addNewCertificateButtonLabel}}
        </button>
    </div>
</script>

<script type="text/mustache" id="curriculumSearchTemplate">

    <div class="menu-toggle hidden-xs menu-close modal-close-div">
    </div>
    <div class="pull-right">
    </div>

    <h1 class="valamis hidden-sm hidden-xs">{{refineSearchLabel}}</h1>

    <div class="valamis-row">
        <label class="h4label valamis">{{searchByNameLabel}}</label>
        <input type="text" id="certificateFilter" class="search form-control text-input valamis"
               placeholder="{{searchLabel}}">
    </div>

    <div class="valamis-row">
        <label class="h4label valamis"> {{sortLabel}} </label>

        <div class="valamis-select" class="userSearchSelect">
            <select id="certificateOrder">
                <option value="name:true">{{byNameAscLabel}}</option>
                <option value="name:false">{{byNameDescLabel}}</option>
                <option value="creationDate:true">{{byDateAscLabel}}</option>
                <option value="creationDate:false">{{byDateDescLabel}}</option>
            </select>
        </div>
    </div>

    <!--{{#scopeAvailable}}-->
    <div class="valamis-row">
        <label class="h4label valamis"> {{scopeLabel}} </label>

        <div class="valamis-select" class="userSearchSelect">
            <select id="certificateScopeFilter">
                <option value="">{{instanceScopeLabel}}</option>
                <option value="{{currentCertificateID}}">{{currentSiteScopeLabel}}</option>
            </select>
        </div>
    </div>
    <!--{{/scopeAvailable}}-->
</script>

<script type="text/mustache" id="certificateListItemViewTemplate">

    <div class="certificate-cover-image pull-left">
        <img
        {{#logo}}
        src="{{contextPath}}api/files/images?folderId={{id}}&file={{logo}}"
        {{/logo}}

        {{^logo}}
        src="../../learn-portlet/img/certificate-default.png"
        {{/logo}}

        class="logo-mini">

        <!--{{^isPublished}}-->
        <div class="ribbon-wrapper-green hidden-sm hidden-xs">
            <div class="ribbon-green">{{unpublishedLabel}}</div>
        </div>
        <!--{{/isPublished}}-->
    </div>
    <div class="certificate-list-content pull-left">
        <div class="certificate-title">{{title}}</div>
        <div class="certificate-description">{{description}}</div>
        <div class="certificate-users hidden-xs">
            <label>{{userCount}}&nbsp;{{usersSubtitleLabel}}</label>
        </div>
        <div class="certificate-courses hidden-xs">
            <label>{{goalsCount}}&nbsp;{{goalsSubtitleLabel}}</label>
        </div>
    </div>
    <div class="certificate-buttons pull-right">
        <button class="button valamis big grey val-icon-edit no-text editCertificateCommand"></button>
        <button style="margin-right: 4px;"
                class="button valamis big red val-icon-delete no-text deleteCertificateCommand"></button>

    </div>
</script>

<script type="text/mustache" id="certificateTileItemViewTemplate">
    <div class="flip-container certificate-tile" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front">
                <div class="certificate-cover-image">
                    <img id='certificateList_Icon_{{id}}'
                    {{#logo}}
                    src="{{contextPath}}api/files/images?folderId={{id}}&file={{logo}}"
                    {{/logo}}

                    {{^logo}}
                    src="../../learn-portlet/img/certificate-default.png"
                    {{/logo}}
                    class="logo"
                    >
                    <!--{{^isPublished}}-->
                    <div class="ribbon-wrapper-green hidden-sm hidden-xs">
                        <div class="ribbon-green">{{unpublishedLabel}}</div>
                    </div>
                    <!--{{/isPublished}}-->
                </div>
                <div class="certificate-content">
                    <div class="certificate-title">{{title}}</div>
                    <div class="certificate-description">{{description}}</div>
                </div>
                <div class="certificate-footer">
                    <div class="certificate-users">{{userCount}}&nbsp;{{usersSubtitleLabel}}</div>
                    <div class="certificate-courses">{{goalsCount}}&nbsp;{{goalsSubtitleLabel}}</div>
                </div>
            </div>
            <div class="back">
                <div>
                    <button class="button valamis medium grey val-icon-edit val-command editCertificateCommand">
                        {{editCertificateLabel}}
                    </button>
                    <button class="button valamis medium grey val-icon-edit val-command editCourseCertificateCommand">
                        {{editCoursesLabel}}
                    </button>
                    <button class="button valamis medium grey val-icon-edit val-command editUserCertificateCommand">
                        {{editUsersLabel}}
                    </button>
                    <button class="button valamis medium grey val-icon-clone val-command cloneCertificateCommand">
                        {{cloneCertificateLabel}}
                    </button>
                    <!--{{^isPublished}}-->
                    <button class="button valamis medium grey val-icon-publish val-command publishCertificateCommand">
                        {{publishCertificateLabel}}
                    </button>
                    <!--{{/isPublished}}-->
                    <!--{{#isPublished}}-->
                    <button class="button valamis medium grey val-icon-publish val-command unpublishCertificateCommand">
                        {{unpublishCertificateLabel}}
                    </button>
                    <!--{{/isPublished}}-->
                    <button class="button valamis medium grey val-icon-delete val-command deleteCertificateCommand">
                        {{deleteCertificateLabel}}
                    </button>
                </div>
            </div>
        </div>
    </div>

</script>

<script type="text/mustache" id="certificatesListTemplate">


    <div class="pull-right full-width">
        <!--<button class="button valamis medium grey val-icon-check">Select All</button>-->
        <!--<button class="button valamis medium grey dropdown-button active">Action</button>-->
        <div class="select-element pull-right paginator" id="certificateListPaginator"></div>

        <div class="select-element pull-right hidden-xs">
            <div class="select-element-label">{{viewsLabel}}</div>
            <div class="button-group">
                <button class="button valamis medium grey val-icon-list-view
                no-text {{^talesView}} active {{/talesView}}" id="certificatesListView">
                </button>
                <button class="button valamis medium grey val-icon-grid-view
                no-text {{#talesView}} active {{/talesView}}"
                        id="certificatesTilesView">
                </button>
            </div>
        </div>
    </div>

    <div class="certificate-items clearfix grid-view">

    </div>

</script>

<script type="text/template" id="certificate-modals-template">
    <div class="certificate-modals-container"></div>
</script>

<script type="text/mustache" id="certificateItemEditDetailsTemplate">
    <div class="content-wrapper clearfix">
        <div class="page-content-wrapper" style="padding-top: 0px;">
            <div class="content-header clearfix">


                <div class="sidebar-wrapper">
                    <div>  <!--<div style="padding: 20px;">-->
                        <h2 class="valamis">{{coverImageLabel}}</h2>

                        <div class="valamis-row centered-content">
                            <img id='certificateIcon_{{id}}'
                            {{#logo}}
                            src="{{contextPath}}api/files/images?folderId={{id}}&file={{logo}}"
                            {{/logo}}

                            {{^logo}}
                            src="../../learn-portlet/img/certificate-default.png"
                            {{/logo}}
                            class='logo val-icon-upload'>
                        </div>
                        <button class="button valamis big green val-icon-upload wideButton">
                            {{uploadLogoLabel}}
                        </button>
                        <div>
                            <button class="designBadge button valamis big grey val-icon-design-new wideButton">
                                {{designNewBadge}}
                            </button>
                        </div>

                        <input type="hidden" id="certificateLogo">
                    </div>
                </div>

                <div class="page-content">
                    <div class="popup-content-header">
                        <div class="valamis-row pull-left">
                            <h2 class="valamis">{{detailsAnsSettingsLabel}}</h2>
                        </div>

                        <div class="pull-right">
                            <div class="menu-toggle upload-image" style="text-align: center;">


                                <button class="button valamis big green val-icon-upload hidden-xs">
                                    {{uploadLogoLabel}}
                                </button>

                                <button id="publishCertificate" class="button valamis big green ">
                                    publish
                                </button>

                                <button id="unpublishCertificate" class="button valamis big green ">
                                    unpublish
                                </button>
                                <img
                                {{#logo}}
                                src="{{contextPath}}api/files/images?folderId={{id}}&file={{logo}}"
                                {{/logo}}

                                {{^logo}}
                                src="../../learn-portlet/img/certificate-default.png"
                                {{/logo}}

                                class="logo-xs val-icon-upload"/>
                            </div>
                        </div>
                    </div>

                    <table class="valamis list-table big-table box-sizing">
                        <tbody>
                        <tr>
                            <td class="h4label valamis">{{certificateTitleLabel}}</td>
                            <td class="buttons text-right">
                                <input type="text"
                                       class="text-input valamis certificateTitle box-sizing"
                                       value="{{title}}"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="h4label valamis">{{certificateScopeLabel}}</td>
                            <td class="buttons text-right">
                                <div class="clearfix div-table">
                                    <div class="div-row">
                                        <div class="div-col">
                                            <input type="text" id="certificateScopeName"
                                                   class="text-input valamis certificateTitle no-margin"
                                                   value="{{scopeName}}" disabled="disabled"
                                                   style="width:100%;"/>
                                        </div>
                                        <div class="div-col" style="width: 125px;">
                                            <button class="button valamis medium grey val-icon-edit no-text"
                                                    id="editScope">Edit
                                            </button>
                                            <button class="button valamis medium red val-icon-delete no-text"
                                                    id="cleanScope">Edit
                                            </button>
                                        </div>
                                    </div>
                                    <!--<input type="hidden" id="certificateScopeID" value="{{scope.id}}"/>-->
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="h4label valamis">{{certificateDescriptionLabel}}</td>
                            <td class="buttons text-right">
                                <textarea rows="5" class="textarea valamis certificateDescription box-sizing">{{description}}</textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="h4label valamis">{{validPeriodLabel}}</td>
                            <td class="no-padding-right">
                                <div class="valid-div">
                                    <div class="inline-valamis">
                                        <input type="radio" value="true" name="validPeriod" id="permanentPeriod"
                                               class="pull-left"/>
                                        <label class="pull-left right-margined">{{permanentLabel}}</label>
                                    </div>
                                    <div class="inline-valamis">
                                        <input type="radio" value="false" name="validPeriod" id="nonPermanentPeriod"
                                               class="pull-left"/>
                                        <label class="pull-left">{{validForLabel}}</label>
                                    </div>
                                    <div>
                                        <input type="text" class="onlyDigits pull-left" id="validPeriodValue"/>

                                        <div class="valamis-select" class="userSearchSelect">
                                            <select id="periodType">
                                                <option value="DAYS">{{daysLabel}}</option>
                                                <option value="WEEKS">{{weeksLabel}}</option>
                                                <option value="MONTH">{{monthLabel}}</option>
                                                <option value="YEAR">{{yearLabel}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="h4label valamis">Open badges integration</td>
                            <td class="checkbox-container">
                                <div id="openBadgeIntegration"
                                     class="checkbox valamis {{#isOpenBadgesIntegration}}checked{{/isOpenBadgesIntegration}}"></div>
                            </td>
                        </tr>
                        <tr class="openBadgesDescription">
                            <td class="h3label valamis">{{shortDescriptionLabel}}</td>
                            <td class="buttons">
                                <input type="text" id="shortDescription" value="{{shortDescription}}"
                                       class="text-input valamis box-sizing"/>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

    <div class="bbm-modal__bottombar">
        <a href="#" class="bbm-button button valamis big grey">{{cancelLabel}}</a>

        <button class="button valamis big green val-icon-save-check saveCloseCertificate">
            {{certificateSaveButtonTooltipLabel}}
        </button>
        <button class="button valamis big green val-icon-save-next saveNextCertificate">
            {{certificateContinueLabel}}
        </button>
    </div>

</script>

<script type="text/mustache" id="deleteConfirmationTemplate">
    <div>{{warningDeleteCertificateMessageLabel}}<br/>
        <button class='confirmation btn-valamis btn-primary'>{{yesLabel}}</button>
        <button class='btn-valamis' style='margin: 0 8px 0 8px'>{{cancelLabel}}</button>
    </div>
</script>


<script type="text/mustache" id="certificateItemEditGoalsTemplate">
    <div id="goalsContentWrapper" class="content-wrapper clearfix">
        <div class="page-content-wrapper" style="padding-top: 0px;">
            <div class="content-header clearfix">

                <div class="page-content">
                    <div class="popup-content-header">
                        <div class="valamis-row">
                            <div class="pull-left button-upload-area">
                                <button class="filter-toggler button valamis big grey menu-toggle menu-open val-icon-search"></button>
                            </div>

                            <h4 id="goalAmount" class="valamis padded-left hidden-xs">{{goalsCount}}</h4>
                            <h4 class="valamis padded-left hidden-xs">{{goalsListedLabel}}</h4>

                            <div class="select-element pull-right">
                                <button id="addGoals"
                                        class="button valamis dropdown-button big green val-icon-plus">
                                    {{addGoalLabel}}
                                </button>
                                <ul id="dropdownGoalsMenu" class="dropdown-button-menu unstyled ">
                                    <li class="valamis">
                                        <button class="addCourse button valamis medium grey val-icon-plus light ">
                                            {{addCourse}}
                                        </button>
                                    </li>
                                    <li class="valamis">
                                        <button class="addStatement button valamis medium grey val-icon-plus light ">
                                            {{addStatement}}
                                        </button>
                                    </li>
                                    <li class="valamis">
                                        <button class="addActivity button valamis medium grey val-icon-plus light ">
                                            {{addActivity}}
                                        </button>
                                    </li>
                                </ul>
                            </div>

                        </div>

                        <div class="hidden-xs valamis-row">
                            <button id="selectAllGoals" class="button valamis medium grey val-icon-check pull-left">
                                {{selectAllLabel}}
                            </button>
                            <div class="select-element">
                                <button id="chooseAction" class="button valamis medium grey dropdown-button">
                                    {{actionLabel}}
                                </button>
                                <ul id="dropdownActionMenu" class="dropdown-button-menu unstyled ">
                                    <li class="valamis">
                                        <button class="deleteGoals button valamis medium grey light ">
                                            {{deleteLabel}}
                                        </button>
                                    </li>
                                </ul>
                            </div>

                        </div>

                        <div class="sidebar-wrapper">
                            <div>
                                <div class="menu-toggle hidden-xs menu-close modal-close-div">
                                </div>

                                <h2 class="valamis">{{refineSearchLabel}}</h2>

                                <div class="valamis-row filter-by-type">
                                    <label class="h4label valamis"> {{filterByTypeLabel}} </label>

                                    <div class="checkbox valamis checked" id="toggleCourses"/>
                                    {{coursesLabel}}<br/>

                                    <div class="checkbox valamis checked" id="toggleStatements"/>
                                    {{tincanstatementsLabel}}<br/>

                                    <div class="checkbox valamis checked" id="toggleActivities"/>
                                    {{activitiesLabel}}<br/>
                                </div>
                                <div class="valamis-row">
                                    <label class="h4label valamis"> {{searchByNameLabel}} </label>
                                    <input placeholder="{{certificateSearchPlaceholderLabel}}" type="text"
                                           id="goalSearch"
                                           class="search form-control text-input valamis"/>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div id="certificateItemGoals">
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="bbm-modal__bottombar">
        <a href="#" class="bbm-button button valamis big grey">{{cancelLabel}}</a>

        <button class="button valamis big green val-icon-save-next saveNextCertificate">
            {{certificateContinueLabel}}
        </button>
    </div>
</script>

<script type="text/mustache" id="certificateGoalsListTemplate">
    <div class="valamis-row">
        <table class="valamis list-table medium-table">
            <tbody id="certificateCoursesTable">
            <tr>
                <th colspan="4">{{coursesLabel}}</th>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="valamis-row">
        <table class="valamis list-table medium-table">
            <tbody id="certificateStatementsTable">
            <tr>
                <th colspan="4">{{tincanstatementsLabel}}</th>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="valamis-row">
        <table class="valamis list-table medium-table">
            <tbody id="certificateActivitiesTable">
            <tr>
                <th colspan="5">{{activitiesLabel}}</th>
            </tr>
            </tbody>
        </table>
    </div>
</script>

<script type="text/mustache" id="goalRowTemplate">
    <td class="checkbox-container">
        {{#canDelete}}
        <div class="checkbox valamis"></div>
        {{/canDelete}}
    </td>
    {{#isActivity}}
    <td class="amount"><input type="text" class="onlyDigits" id="goalsAmount" value="{{activityCount}}"/></td>
    {{/isActivity}}
    <td class="user-name">{{title}}</td>

    <td class="duringPeriod">
        <label class="pull-left">{{duringLabel}} </label>
        <input type="text" class="onlyDigits pull-left" id="duringPeriod" value="{{value}}"
        {{^canDelete}}disabled="disabled"{{/canDelete}} />

        <div class="valamis-select" class="userSearchSelect">
            <select id="duringPeriodType" {{^canDelete}}disabled="disabled"{{/canDelete}}>
            <option value="DAYS">{{daysLabel}}</option>
            <option value="WEEKS">{{weeksLabel}}</option>
            <option value="MONTH">{{monthLabel}}</option>
            <option value="YEAR">{{yearLabel}}</option>
            </select>
        </div>
    </td>
    <td class="buttons text-right" style="width:1px; overflow:visible; padding-right: 5px;">
        {{#canDelete}}
        <button class="button valamis medium red val-icon-delete no-text">{{deleteLabel}}</button>
        {{/canDelete}}

        {{#status}}
        {{status}}
        {{/status}}
    </td>
</script>


<!--user views -->
<script type="text/mustache" id="certificateItemEditMembers">
    <div id="editMembersDialog" class="content-wrapper clearfix">
        <div class="page-content-wrapper" style="padding-top: 0px;">
            <div class="content-header clearfix">
                <div class="popup-content-header">
                    <div class="valamis-row">
                        <div class="pull-left button-upload-area">
                            <button class="filter-toggler button valamis big grey menu-toggle menu-open val-icon-search"></button>
                        </div>
                        <h4 class="valamis amountLabel pull-left" id="membersListedAmount"></h4>
                        <h4 class="valamis pull-left hidden-xs">&nbsp;{{usersListedLabel}}</h4>
                        <h4 class="valamis pull-left hidden-md hidden-lg">&nbsp;{{listedLabel}}</h4>

                        <button id="addCertificateMembers" class="button valamis big green val-icon-plus float-right">
                            {{addUsersLabel}}
                        </button>

                    </div>

                    <!--<div class="pull-left">-->
                    <!--<div class="menu-toggle">-->

                    <!--</div>-->
                    <!--</div>-->

                </div>
                <div class="sidebar-wrapper">
                    <div class="menu-toggle hidden-xs menu-close modal-close-div">
                    </div>

                    <h2 class="valamis hidden-xs hidden-md">{{refineSearchLabel}}</h2>

                    <div class="valamis-row">
                        <label class="h4label valamis"> {{searchByNameLabel}} </label>
                        <input placeholder="{{certificateSearchPlaceholderLabel}}" type="text" id="memberSearch"
                               class="text-input valamis search"/>
                    </div>
                    <div class="valamis-row">
                        <label class="h4label valamis"> {{sortLabel}} </label>

                        <div class="valamis-select">
                            <select id="sortMembers" class="userSearchSelect fixed-width">
                                <option value="name:true">{{byNameAscLabel}}</option>
                                <option value="name:false">{{byNameDescLabel}}</option>
                                <option value="userJoined:true">{{byJoinDateAscLabel}}</option>
                                <option value="userJoined:false">{{byJoinDateDescLabel}}</option>
                            </select>
                        </div>
                    </div>

                    <hr class="hidden-xs hidden-md">


                    <h2 class="valamis hidden-xs hidden-md">{{filterByOrganizationLabel}}</h2>

                    <div class="valamis-row">
                        <label class="h4label valamis"> {{selectOrganizationLabel}} </label>

                        <div class="valamis-select">
                            <select id="memberOrganization" class="userSearchSelect fixed-width">
                                <option value="-1"></option>
                            </select>
                        </div>
                    </div>
                </div>

                <div id="allMembersList" class="page-content"></div>
            </div>
        </div>
    </div>

    <div class="bbm-modal__bottombar">
        <a href="#" class="bbm-button button valamis big grey">{{cancelLabel}}</a>
        <button class="button valamis big green val-icon-save-check saveCloseCertificate">
            {{certificateSaveButtonTooltipLabel}}
        </button>
    </div>
</script>

<script type="text/mustache" id="certificateMembersListView">
    <div id="allCertificateMembersList">
        <div class="hidden-xs valamis-row select-row pull-left">
            <button id="selectAllMembers" class="button valamis medium grey val-icon-check pull-left">
                {{selectAllLabel}}
            </button>
            <div class="select-element">
                <button class="button valamis medium grey dropdown-button ">{{actionLabel}}</button>
                <ul class="dropdown-button-menu unstyled ">
                    <li class="valamis">
                        <button class="deleteMembers button valamis medium grey light ">
                            {{deleteLabel}}
                        </button>
                    </li>
                </ul>
            </div>

        </div>

        <div class="select-element pull-right paginator" id="memberListPaginator"></div>

        <table class="valamis medium-table list-table">
            <tbody id="membersList"></tbody>
        </table>
        <label id="noMembersLabel" class="h2label valamis" style="display: none; margin-left: 20px;">
            {{noAvailableUsersLabel}}</label>
    </div>

</script>


<script type="text/mustache" id="certificateMemberElementView">
    <td class="checkbox">
        <div id="selectMemberCheckbox" class="checkbox valamis"></div>
    </td>
    <td class="user-img"> {{#pageUrl}}
        <a href="{{pageUrl}}" target="_blank">
            {{/pageUrl}}

            <img src="{{picture}}" alt="{{name}}" class="img-circle">
            {{#pageUrl}}
        </a>
        {{/pageUrl}}
    </td>
    <td class="user-name"> {{name}}</td>
    <td class="buttons text-right">
        {{status}}
        <button id="viewDetails" value={{id}} class="button valamis medium grey val-icon-preview no-text">
            {{viewDetailsLabel}}
        </button>
        <button class="button valamis medium red val-icon-delete no-text"> {{removeLabel}}</button>
    </td>
</script>

<script type="text/template" id="certificate-add-course-modal-template">
    <div class="bbm-modal__topbar add-members-modal">
        <h3 class="bbm-modal__title valamis">{{headerTitle}}</h3>

        <div class="modal-close">
        </div>
    </div>

    <div class="bbm-modal__section certificate-addCourse-dialog certificateContent">
    </div>
</script>


<script type="text/mustache" id="liferayUserDialogView">
    <div id="liferayUserDialog" class="content-wrapper clearfix">
        <div class="page-content-wrapper" style="padding-top: 0px;">
            <div class="content-header clearfix">
                <div class="popup-content-header">
                    <div class="valamis-row">
                        <div class="pull-left button-upload-area">
                            <button class="filter-toggler button valamis big grey menu-toggle menu-open val-icon-search"></button>
                        </div>

                        <h4 class="valamis amountLabel pull-left" id="usersListedAmount"></h4>
                        <h4 class="valamis pull-left hidden-xs">&nbsp;{{usersListedLabel}}</h4>
                        <h4 class="valamis pull-left hidden-md hidden-lg">&nbsp;{{listedLabel}}</h4>

                        <button class="button valamis medium grey val-icon-check margined pull-right"
                                id="selectAllAvailableUsers">
                            {{selectAllLabel}}
                        </button>
                        <div class="select-element paginator pull-right" id="availableUserListPaginator"></div>


                    </div>

                </div>
                <div class="sidebar-wrapper">
                    <div class="menu-toggle hidden-xs menu-close modal-close-div">
                    </div>


                    <h2 class="valamis">{{refineSearchLabel}}</h2>

                    <div class="valamis-row">
                        <label class="h4label valamis"> {{searchByNameLabel}} </label>
                        <input placeholder="{{certificateSearchPlaceholderLabel}}" type="text" id="userSearch"
                               class="text-input valamis search"/>
                    </div>
                    <div class="valamis-row">
                        <label class="h4label valamis"> {{sortLabel}} </label>

                        <div class="valamis-select">
                            <select id="sortUser" class="userSearchSelect fixed-width">
                                <option value="true">{{sortOrderAscLabel}}</option>
                                <option value="false">{{sortOrderDescLabel}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="valamis-row">
                        <label class="h4label valamis"> {{selectOrganizationLabel}} </label>

                        <div class="valamis-select">
                            <select id="userOrganization" class="userSearchSelect fixed-width">
                                <option value="-1"></option>
                            </select>
                        </div>
                    </div>
                </div>

                <div id="allUsersList" class="page-content"></div>
            </div>
        </div>
    </div>

    <div class="bbm-modal__bottombar">
        <a href="#" class="bbm-button button valamis big grey">{{cancelLabel}}</a>
        <button class="button valamis big green val-icon-plus" id="addUsersButton">{{addUsersLabel}}</button>
    </div>

</script>


<script type="text/mustache" id="liferayUserListView">
    <div id="liferayUserList">
        <table class="valamis medium-table list-table">
            <tbody id="userList"></tbody>
        </table>
        <label id="noUsersLabel" class="h2label valamis" style="display: none; margin-left: 20px;">
            {{noAvailableUsersLabel}} </label>
    </div>
</script>

<script type="text/mustache" id="liferayUserElementView">

    <td class="user-img"> {{#pageUrl}}
        <a href="{{pageUrl}}" target="_blank">
            {{/pageUrl}}

            <img src="{{picture}}" alt="{{name}}" class="img-circle">
            {{#pageUrl}}
        </a>
        {{/pageUrl}}
    </td>
    <td class="user-name"> {{name}}</td>
    <td class="checkbox-container">
        <button class="button valamis big grey val-icon-check no-text toggleButton"></button>
    </td>

</script>

<script type="text/mustache" id="certificateViewUserDetails">
    <div id="userResultsList">
    </div>
</script>


<script type="text/mustache" id="liferaySiteDialogView">
    <div id="liferaySitesWrapper" class="content-wrapper clearfix">
        <div class="page-content-wrapper" style="padding-top: 0px;">
            <div class="content-header clearfix">

                <div class="popup-content-header">
                    <div class="valamis-row">
                        <div class="pull-left button-upload-area">
                            <button class="filter-toggler button valamis big grey menu-toggle menu-open val-icon-search"></button>
                        </div>

                        <h4 class="valamis amountLabel pull-left" id="sitesListedAmount"></h4>
                        <h4 class="valamis pull-left hidden-xs">&nbsp;{{sitesListedLabel}}</h4>
                        <h4 class="valamis pull-left hidden-md hidden-lg">&nbsp;{{listedLabel}}</h4>
                    </div>
                </div>

                <div class="sidebar-wrapper">

                    <div class="menu-toggle hidden-xs menu-close modal-close-div">
                    </div>

                    <h2 class="valamis margined">{{refineSearchLabel}}</h2>

                    <div class="valamis-row">
                        <label class="h4label valamis"> {{searchByNameLabel}} </label>
                        <input placeholder="{{certificateSearchPlaceholderLabel}}" type="text" id="siteSearch"
                               class="valamis search"/>
                    </div>
                    <div class="valamis-row">
                        <label class="h4label valamis"> {{sortLabel}} </label>

                        <div class="valamis-select">
                            <select id="sortSite" class="userSearchSelect fixed-width">
                                <option value="true">{{sortOrderAscLabel}}</option>
                                <option value="false">{{sortOrderDescLabel}}</option>
                            </select>
                        </div>
                    </div>
                </div>


                <div id="sitesContainer" class="page-content"></div>

            </div>
        </div>
    </div>
    {{^singleSelect}}
    <div class="bbm-modal__bottombar">
        <a href="#" class="bbm-button button valamis big grey">{{cancelLabel}}</a>
        <button class="button valamis big green val-icon-plus addCourses">{{addCoursesLabel}}</button>
    </div>
    {{/singleSelect}}
</script>

<script type="text/mustache" id="liferaySiteListView">
    <div class="select-element pull-right paginator" id="siteListPaginator"></div>

    <table class="valamis list-table medium-table contentTable">
        <tbody id="siteList"></tbody>
    </table>

</script>

<script type="text/mustache" id="liferaySiteElementView">

    <td class="user-name">{{title}}</td>
    <td class="checkbox-container">
        <button id="toggleSiteButton" class="button valamis big grey val-icon-check no-text"></button>
    </td>

</script>


<script type="text/mustache" id="liferayActivityElementView">
    <!--<td class="amount"><input type="text" class="onlyDigits" id="activitiesAmount" value="1"/></td>-->
    <td class="user-name">{{title}}</td>
    <td class="checkbox-container">
        <button class="button valamis big grey val-icon-check no-text toggleButton"></button>
    </td>

</script>


<script type="text/mustache" id="liferayActivityDialogView">

    <table class="valamis list-table medium-table contentTable">
        <tbody id="activityList">
        </tbody>
    </table>

    <div class="bbm-modal__bottombar">
        <a href="#" class="bbm-button button valamis big grey">{{cancelLabel}}</a>
        <button class="button valamis big green val-icon-plus addCourses">{{addActivitiesLabel}}</button>
    </div>
</script>

<script type="text/mustache" id="statementElementView">
    <td class="user-name">{{actorLabel}}</td>
    <td class="user-name">
        {{verbLabel}}
        <div class="valamis-select">
            <select id="verbSelection">
                {{#verbs}}
                <option value="{{id}}"> {{title}}</option>
                {{/verbs}}
            </select>
        </div>
    </td>
    <td class="buttons text-right">
        <input id="objectSelection" type="text" class="text-input valamis box-sizing"/>
    </td>
    <td class="checkbox-container">
        <button class="button valamis medium red val-icon-delete no-text"></button>
    </td>
</script>


<script type="text/mustache" id="statementDialogView">
    <table class="valamis list-table medium-table contentTable">
        <tbody id="statementList">
        </tbody>
    </table>


    <div class="bbm-modal__bottombar">
        <button class="button valamis big green newStatement pull-left">{{newStatementsLabel}}</button>
        <div class="inline-block-div">
            <a href="#" class="bbm-button button valamis big grey">{{cancelLabel}}</a>
            <button class="button valamis big green val-icon-plus addStatements">{{addStatementsLabel}}</button>
        </div>
    </div>
</script>

<!-- curriculum user -->

<script type="text/mustache" id="curriculumUserViewTemplate">
    <div class="pull-left button-upload-area">
        <button class="filter-toggler button valamis big grey menu-toggle menu-open val-icon-search"></button>
    </div>

    <div class="valamis-tabs">
        <ul class="nav nav-tabs" id="certificateCollectionTabs">
            <li class="active"><a href="#myCertificates" data-toggle="tab" class="certificate-collection-tab">
                {{curriculumMyTabsHeaderLabel}} </a></li>
            <li><a href="#availableCertificates" data-toggle="tab" class="certificate-collection-tab">{{curriculumAvailableTabsHeaderLabel}}</a>
            </li>
        </ul>

        <div id='certificateSearchWrapper' class='sidebar-wrapper'></div>

        <div class="tab-content" style="position: relative">
            <div id="myCertificates" class="tab-pane active myCertificates-dialog"></div>
            <div id="availableCertificates" class="tab-pane availableCertificates-dialog"></div>
        </div>

    </div>
</script>


<script type="text/mustache" id="userCertificatesListTemplate">
    <div class="pull-right full-width">

        <!--{{#isMyCollection}}-->
        <div class="select-element pull-right paginator" id="userMyCertificateListPaginator"></div>
        <!--{{/isMyCollection}}-->

        <!--{{^isMyCollection}}-->
        <div class="select-element pull-right paginator" id="userAvailableCertificateListPaginator"></div>
        <!--{{/isMyCollection}}-->

        <div class="select-element pull-right hidden-xs">
            <div class="select-element-label">{{viewsLabel}}</div>
            <div class="button-group">
                <button class="button valamis medium grey val-icon-list-view
                no-text {{^talesView}} active {{/talesView}}" id="userCertificatesListView">
                </button>
                <button class="button valamis medium grey val-icon-grid-view
                no-text {{#talesView}} active {{/talesView}}"
                        id="userCertificatesTilesView">
                </button>
            </div>
        </div>
    </div>

    <div class="certificate-items clearfix grid-view"></div>
</script>

<script type="text/mustache" id="userCertificateTileItemViewTemplate">
    <div class="flip-container certificate-tile" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front">
                <div class="certificate-cover-image">
                    <img id='userCertificateList_Icon_{{id}}'
                    {{#logo}}
                    src="{{contextPath}}api/files/images?folderId={{id}}&file={{logo}}"
                    {{/logo}}

                    {{^logo}}
                    src="../../learn-portlet/img/certificate-default.png"
                    {{/logo}}
                    class="logo"
                    >
                    <!--{{#successStatus}}-->
                    <div class="ribbon-wrapper-green hidden-sm hidden-xs">
                        <div class="ribbon-green">{{Success}}</div>
                    </div>
                    <!--{{/successStatus}}-->
                    <!--{{#failedStatus}}-->
                    <div class="ribbon-wrapper-green hidden-sm hidden-xs">
                        <div class="ribbon-red ribbon-green">{{Failed}}</div>
                    </div>
                    <!--{{/failedStatus}}-->
                    <!--{{#overdueStatus}}-->
                    <div class="ribbon-wrapper-green hidden-sm hidden-xs">
                        <div class="ribbon-black ribbon-green">{{Overdue}}</div>
                    </div>
                    <!--{{/overdueStatus}}-->
                </div>
                <div class="certificate-content">
                    <div class="certificate-title">{{title}}</div>
                    <div class="certificate-description">{{description}}</div>
                </div>
                <div class="certificate-footer">
                    <div class="certificate-users">{{userCount}}&nbsp;{{usersSubtitleLabel}}</div>
                    <div class="certificate-courses">{{goalsCount}}&nbsp;{{goalsSubtitleLabel}}</div>
                </div>
            </div>
            <div class="back">
                <div>
                    <button class="button valamis medium grey val-icon-preview val-command viewCertificateDetailsCommand">
                        {{viewDetailsLabel}}
                    </button>
                    <button class="button valamis medium grey val-icon-preview val-command viewCertificateGoalsCommand">
                        {{viewGoalsLabel}}
                    </button>

                    <!--{{#isMyCollection}}-->
                    <button class="button valamis medium grey val-command val-icon-minus leaveCertificateCommand">
                        {{leaveCertificate}}
                    </button>
                    <!--{{/isMyCollection}}-->

                    <!--{{^isMyCollection}}-->
                    <button class="button valamis medium grey val-command val-icon-plus joinCertificateCommand"> {{joinCertificate}}
                    </button>
                    <!--{{/isMyCollection}}-->

                </div>
            </div>
        </div>
    </div>

</script>

<script type="text/mustache" id="userCertificateListItemViewTemplate">

    <div class="certificate-cover-image pull-left">
        <img
        {{#logo}}
        src="{{contextPath}}api/files/images?folderId={{id}}&file={{logo}}"
        {{/logo}}

        {{^logo}}
        src="../../learn-portlet/img/certificate-default.png"
        {{/logo}}

        class="logo-mini">
        <!--{{#successStatus}}-->
        <div class="ribbon-wrapper-green hidden-sm hidden-xs">
            <div class="ribbon-green">{{Success}}</div>
        </div>
        <!--{{/successStatus}}-->
        <!--{{#failedStatus}}-->
        <div class="ribbon-wrapper-green hidden-sm hidden-xs">
            <div class="ribbon-red ribbon-green">{{Failed}}</div>
        </div>
        <!--{{/failedStatus}}-->
        <!--{{#overdueStatus}}-->
        <div class="ribbon-wrapper-green hidden-sm hidden-xs">
            <div class="ribbon-black ribbon-green">{{Overdue}}</div>
        </div>
        <!--{{/overdueStatus}}-->

    </div>
    <div class="certificate-list-content pull-left">
        <div class="certificate-title">{{title}}</div>
        <div class="certificate-description">{{description}}</div>

        <div class="certificate-users hidden-xs">
            <label>{{userCount}}&nbsp;{{usersSubtitleLabel}}</label>
        </div>
        <div class="certificate-courses hidden-xs">
            <label>{{goalsCount}}&nbsp;{{goalsSubtitleLabel}}</label>
        </div>
    </div>
    <div class="certificate-buttons pull-right">
        <button class="button valamis medium grey val-icon-preview no-text viewCertificateDetailsCommand"></button>
        <!--{{#isMyCollection}}-->
        <button style="margin-right: 4px;" class="button valamis medium red val-icon-minus leaveCertificateCommand">
            {{leaveCertificate}}
        </button>
        <!--{{/isMyCollection}}-->

        <!--{{^isMyCollection}}-->
        <button style="margin-right: 4px;" class="button valamis medium green val-icon-plus joinCertificateCommand">
            {{joinCertificate}}
        </button>
        <!--{{/isMyCollection}}-->
    </div>
</script>

<script type="text/mustache" id="userCertificateItemEditDetailsTemplate">
    <div class="content-wrapper clearfix">
        <div class="page-content-wrapper" style="padding-top: 0px;">
            <div class="content-header clearfix">


                <div class="sidebar-wrapper">
                    <div>
                        <h2 class="valamis">{{coverImageLabel}}</h2>

                        <div class="valamis-row centered-content">
                            <img id='userCertificateIcon_{{id}}'
                            {{#logo}}
                            src="{{contextPath}}api/files/images?folderId={{id}}&file={{logo}}"
                            {{/logo}}

                            {{^logo}}
                            src="../../learn-portlet/img/certificate-default.png"
                            {{/logo}}
                            class='logo val-icon-upload'>
                        </div>
                    </div>
                </div>

                <div class="page-content">
                    <div class="popup-content-header">
                        <div class="valamis-row pull-left">
                            <h2 class="valamis">{{detailsAnsSettingsLabel}}</h2>
                        </div>

                        <div class="pull-right">
                            <div class="menu-toggle upload-image">
                                <img
                                {{#logo}}
                                src="{{contextPath}}api/files/images?folderId={{id}}&file={{logo}}"
                                {{/logo}}

                                {{^logo}}
                                src="../../learn-portlet/img/certificate-default.png"
                                {{/logo}}

                                class="logo-xs val-icon-upload"/>
                            </div>


                            <!--{{#isOpenBadgesIntegration}}-->
                            <!--{{#success}}-->
                            <button id="issueBadge" class="button valamis medium grey ">{{earnbadge}}</button>
                            <!--{{/success}}-->
                            <!--{{/isOpenBadgesIntegration}}-->
                        </div>
                    </div>

                    <table class="valamis list-table big-table box-sizing">
                        <tbody>
                        {{#status}}
                        <tr>
                            <td class="h4label valamis">{{certificateStatusLabel}}</td>
                            <td class="buttons text-right">
                                <div style="text-align: left;">{{status}}</div>
                            </td>
                        </tr>
                        {{/status}}
                        <tr>
                            <td class="h4label valamis">{{certificateTitleLabel}}</td>
                            <td class="buttons text-right">
                                <input type="text"
                                       class="text-input valamis certificateTitle box-sizing"
                                       value="{{title}}" disabled="disabled"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="h4label valamis">{{certificateDescriptionLabel}}</td>
                            <td class="buttons text-right">
                                <textarea rows="5" class="textarea valamis certificateDescription box-sizing"
                                          disabled="disabled">{{description}}</textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="h4label valamis">{{validPeriodLabel}}</td>
                            <td class="no-padding-right">
                                <div class="valid-div">
                                    <label id="permanentLabel"
                                           class="pull-left right-margined">{{permanentLabel}}</label>
                                    <label id="nonPermanentLabel" class="pull-left">{{validForLabel}}</label>
                                </div>
                            </td>
                        </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</script>
