<script type="text/template" id="certificate-modals-template">
    <div class="certificate-modals-container"></div>
</script>

<script type="text/template" id="certificate-common-modal-template">
    <div class="bbm-modal__topbar">
        <h3 class="bbm-modal__title">{{certificateModalTitle}}</h3>

        <div class="modal-close val-icon-exit">
        </div>
    </div>

    <div class="certificate-modal-content">
    </div>
</script>

<script type="text/html" id="curriculumLayoutTemplate">
    <div class="val-row filters-row">
        <div class="filter-element shift-left">
            <span class="val-icon-search"></span>
            <input type="text" id="certificateFilter_{{portletId}}" placeholder="{{searchLabel}}" class="js-certificate-filter">
        </div>

        {{#scopeAvailable}}
        <div id="certificateScopeFilter_{{portletId}}" class="dropdown filter-element shift-left js-filter-dropdown" data-value="">
            <button class="button medium simple">
                <span class="dropdown-text"> {{instanceScopeLabel}} </span><span class="val-icon-arrow-down val-icon-right"></span>
            </button>
            <ul class="dropdown-menu">
                <li class="selected" data-value=""> {{instanceScopeLabel}} </li>
                <li data-value="{{currentCertificateID}}"> {{currentSiteScopeLabel}} </li>
            </ul>
        </div>
        {{/scopeAvailable}}

        {{#MODIFY}}
        <div class="filter-element shift-right">
            <button id="addCertificate" class="button medium primary shift-right">{{addNewCertificateButtonLabel}}</button>
        </div>
        {{/MODIFY}}
    </div>

    <div class="val-row filters-row">
        <div class="shift-left filter-element paging-showing-label" id="certificateListPagingShowing"> </div>

        <div id="certificateOrder_{{portletId}}" class="dropdown filter-element shift-right js-filter-dropdown" data-value="creationDate:false">
            <button class="button medium simple">
                <span class="dropdown-text"> {{newestLabel}} </span><span class="val-icon-arrow-down val-icon-right"></span>
            </button>
            <ul class="dropdown-menu">
                <li class="selected" data-value="creationDate:false"> {{newestLabel}} </li>
                <li data-value="creationDate:true"> {{oldestLabel}} </li>
                <li data-value="name:true"> {{byNameAscLabel}} </li>
                <li data-value="name:false"> {{byNameDescLabel}} </li>
            </ul>
        </div>

        <button class="button medium simple no-text hide-s shift-right js-tile-view">
            <span class="val-icon-grid-view">Grid View</span>
        </button>
        <button class="button medium simple no-text hide-s shift-right js-list-view active">
            <span class="val-icon-list-view">List View</span>
        </button>
    </div>

    <div class="js-certificate-items val-row list">
    </div>
    <div class="val-paginator text-center" id="certificateListPaginator"></div>
</script>

<script type="text/html" id="certificateItemViewTemplate">
    <div class="tile-content with-action">
        <div class="image certificate"
        {{#logo}}
        style="background-image: url('/delegate/files/images?folderId={{id}}&file={{logo}}')"
        {{/logo}}>
        </div>
        <ul>
            <li class="title">{{title}}</li>
            <li class="description">{{decodedDescription}}</li>
            <li class="categories"> {{userCount}}&nbsp;{{usersSubtitleLabel}} • {{goalsCount}}&nbsp;{{goalsSubtitleLabel}} </li>
            {{^isPublished}}
            <li class="status">
                <span class="val-label">
                    {{unpublishedLabel}}
                </span>
            </li>
            {{/isPublished}}
        </ul>
        <div class="dropdown actions shift-right">
            <button class="button medium neutral">
                <span class="dropdown-text">{{actionsLabel}}</span><span class="val-icon-arrow-down val-icon-right"></span>
            </button>
            <ul class="dropdown-menu">
                <li class="js-editCertificateCommand">
                    {{#MODIFY}} {{editCertificateLabel}} {{/MODIFY}}
                    {{^MODIFY}} {{viewDetailsLabel}} {{/MODIFY}}
                </li>
                <li class="js-editCourseCertificateCommand">
                    {{#MODIFY}}{{editCoursesLabel}} {{/MODIFY}}
                    {{^MODIFY}}{{viewGoalsLabel}} {{/MODIFY}}
                </li>
                <li class="js-editUserCertificateCommand">
                    {{#MODIFY}} {{editUsersLabel}} {{/MODIFY}}
                    {{^MODIFY}} {{viewUsersLabel}} {{/MODIFY}}
                </li>
                {{#MODIFY}}
                <li class="js-cloneCertificateCommand"> {{cloneCertificateLabel}} </li>
                {{/MODIFY}}

                {{#PUBLISH}}
                <!--{{^isPublished}}-->
                <li class="js-publishCertificateCommand"> {{publishCertificateLabel}} </li>
                <!--{{/isPublished}}-->
                <!--{{#isPublished}}-->
                <li class="js-unpublishCertificateCommand"> {{unpublishCertificateLabel}} </li>
                <!--{{/isPublished}}-->
                {{/PUBLISH}}

                {{#MODIFY}}
                <li class="js-deleteCertificateCommand"> {{deleteCertificateLabel}} </li>
                <li class="js-exportCertificateCommand"> {{export}} </li>
                {{/MODIFY}}
            </ul>
        </div>
    </div>
</script>

<script type="text/html" id="certificateItemEditDetailsTemplate">
    <div class="div-table val-info-table">
        <div class="div-row">
            <div class="div-col name-col">
                {{certificateTitleLabel}}
            </div>
            <div class="div-col content-col">
                <input id="certificateTitle" type="text" class="" value="{{title}}" {{^MODIFY}} disabled="disabled" {{/MODIFY}}
                       placeholder="{{newCertificatePlaceholderLabel}}"/>
            </div>
        </div>
        <div class="div-row">
            <div class="div-col name-col">
                {{coverImageLabel}}
            </div>
            <div class="div-col content-col">
                <div class="{{#MODIFY}} js-upload-logo {{/MODIFY}} shift-left">
                    <img class="val-img-logo" id='certificateIcon_{{id}}'
                    {{#logo}}
                    src="/delegate/files/images?folderId={{id}}&file={{logo}}"
                    {{/logo}}

                    {{^logo}}
                    src="/learn-portlet/img/certificate-default.jpg"
                    {{/logo}}
                    >
                </div>

                <div class="button-block shift-left">
                    {{#MODIFY}}
                    <button class="button medium primary js-upload-logo">
                        {{uploadLogoLabel}}
                    </button>
                    <button class="button medium neutral js-design-badge">
                        {{designNewBadge}}
                    </button>
                    <button class="button medium neutral js-open-media-gallery">
                        {{openMediaGalleryLabel}}
                    </button>
                    {{/MODIFY}}
                </div>
                <input type="hidden" id="certificateLogo">
            </div>
        </div>
        <div class="div-row">
            <div class="div-col name-col">
                {{certificateDescriptionLabel}}
            </div>
            <div class="div-col content-col">
                <textarea id="certificateDescription" rows="5" class=""  {{^MODIFY}} disabled="disabled" {{/MODIFY}}
                          placeholder="{{descriptionPlaceholderLabel}}">{{decodedDescription}}</textarea>
            </div>
        </div>
        <div class="div-row">
            <div class="div-col name-col">
                {{certificateScopeLabel}}
            </div>
            <div class="div-col content-col">
                <input type="text" id="certificateScopeName" class="form-input" value="{{scopeName}}" disabled="disabled" />

                {{#MODIFY}}
                <button class="button medium neutral" id="editScope">
                    {{changeLabel}}
                </button>

                <button class="button medium danger" id="cleanScope">
                    {{removeLabel}}
                </button>
                {{/MODIFY}}
                <input type="hidden" id="certificateScopeID" value="{{scope.id}}"/>
            </div>
        </div>
        <div class="div-row">
            <div class="div-col name-col">
                {{validPeriodLabel}}
            </div>
            <div class="div-col content-col">
                <div class="valid-div">
                     <div>
                        <input type="radio" value="true" name="validPeriod" class="shift-left" id="permanentPeriod" {{^MODIFY}} disabled="disabled" {{/MODIFY}}/>
                        <label for="permanentPeriod">{{permanentLabel}}</label>
                     </div>
                    <div class="clearfix">
                        <input type="radio" value="false" name="validPeriod" class="shift-left" id="nonPermanentPeriod" {{^MODIFY}} disabled="disabled" {{/MODIFY}}/>
                        <label id="labelNonPermanentPeriod" for="nonPermanentPeriod" class="shift-left">{{validForLabel}}</label>

                        <div class="js-valid-period-value shift-left"></div>

                        <div class="val-select shift-left">
                            <select id="periodType">
                                <option value="DAYS">{{daysLabel}}</option>
                                <option value="WEEKS">{{weeksLabel}}</option>
                                <option value="MONTH">{{monthLabel}}</option>
                                <option value="YEAR">{{yearLabel}}</option>
                            </select>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="div-row">
            <div class="div-col name-col">
                {{openBadgesIntegrationLabel}}
            </div>
            <div class="div-col content-col">
                <input type="checkbox" value="None" id="openBadgeIntegration" name="check" class="val-checkbox" {{^MODIFY}} disabled="disabled" {{/MODIFY}}/>
                <label class="checkbox-label" for="openBadgeIntegration"></label>
            </div>
        </div>
        <div class="div-row js-openBadgesDescription">
            <div class="div-col name-col">
                {{shortDescriptionLabel}}
            </div>
            <div class="div-col content-col">
                <input type="text" id="shortDescription" value="{{shortDescription}}" {{^MODIFY}} disabled="disabled" {{/MODIFY}}/>
            </div>
        </div>
    </div>

    <div class="bbm-modal__bottombar">
        <a href="#" class="modal-close button big neutral">{{cancelLabel}}</a>

        {{#MODIFY}}
        <button class="button big primary js-saveCloseCertificate">
            {{certificateSaveButtonTooltipLabel}}
        </button>
        <button class="button big primary js-saveNextCertificate">
            {{certificateContinueLabel}}
        </button>
        {{/MODIFY}}
    </div>
</script>

<!-- extract this -->

<script type="text/mustache" id="deleteConfirmationTemplate">
    <div class="confirmation-question">{{warningDeleteCertificateMessageLabel}}</div>
    <div>
        <button class='confirmation btn-primary'>{{yesLabel}}</button>
        <button>{{cancelLabel}}</button>
    </div>
</script>

<script type="text/mustache" id="certificateUnpublishConfirmationTemplate">
    <div class="confirmation-question">{{warningUnpublishCertificateMessageLabel}}</div>
    <div>
        <button class='confirmation btn-primary'>{{yesLabel}}</button>
        <button>{{cancelLabel}}</button>
    </div>
</script>

<!-- -->

<script type="text/html" id="certificateItemEditGoalsTemplate">
    <div class="val-portlet">
        <div class="portlet-wrapper">
            <div class="portlet-sidebar">
                <div class="sidebar-content no-header modal-sidebar">
                    <div class="">
                        <label for="goalSearch"> {{searchByNameLabel}} </label>
                        <input placeholder="{{searchPlaceholderLabel}}" type="text" id="goalSearch" class="form-input"/>
                    </div>
                    <div class="val-row filter-by-type">
                        <label class="h4label valamis"> {{filterByTypeLabel}} </label>
                        <div>
                            <input type="checkbox" value="None" id="toggleCourses" class="val-checkbox" checked/>
                            <label class="checkbox-label" for="toggleCourses">{{coursesLabel}}</label>
                        </div>
                        <div>
                            <input type="checkbox" value="None" id="toggleStatements" class="val-checkbox" checked/>
                            <label class="checkbox-label" for="toggleStatements">{{tincanstatementsLabel}}</label>
                        </div>
                        <div>
                            <input type="checkbox" value="None" id="toggleActivities" class="val-checkbox" checked/>
                            <label class="checkbox-label" for="toggleActivities">{{activitiesLabel}}</label>
                        </div>
                        <div>
                            <input type="checkbox" value="None" id="toggleLessons" class="val-checkbox" checked/>
                            <label class="checkbox-label" for="toggleLessons">{{lessonGoalsLabel}}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-wrapper">
                <div class="content-container">
                    <div class="filters-row clearfix">
                        <div class="filter-element shift-left">
                            <div class="val-icon-menu cursor-pointer js-toggle-sidebar">
                                <span id="goalAmount">{{goalsCount}}</span>
                                <span>{{goalsListedLabel}}</span>
                            </div>
                        </div>

                        {{^isPublished}}
                        {{#MODIFY}}
                        <div class="filter-element dropdown actions shift-right">
                            <button class="button medium primary">
                                <span class="dropdown-text">{{addGoalLabel}}</span>
                                <span class="val-icon-dropdown val-icon-right"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li class="js-addCourse" data-value="">{{addCourse}}</li>
                                <li class="js-addStatement" data-value="">{{addStatement}}</li>
                                <li class="js-addActivity" data-value="">{{addActivity}}</li>
                                <li class="js-addLesson" data-value="">{{addLesson}}</li>
                            </ul>
                        </div>
                        {{/MODIFY}}
                        {{/isPublished}}
                    </div>

                    {{^isPublished}}
                    {{#MODIFY}}
                    <div class="filters-row clearfix">
                            <div class="filter-element shift-left">
                                <button id="selectAllGoals" class="button medium neutral">
                                    <span class="val-icon-checkbutton"></span> {{selectAllLabel}}
                                </button>
                            </div>

                            <div class="filter-element dropdown actions shift-left">
                                <button class="button medium neutral">
                                    <span class="dropdown-text">{{actionLabel}}</span>
                                    <span class="val-icon-arrow-down val-icon-right"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li class="js-deleteGoals" data-value="1">{{deleteLabel}}</li>
                                </ul>
                            </div>
                    </div>
                    {{/MODIFY}}
                    {{/isPublished}}

                    {{#isPublished}}
                    <div class="filters-row valamis-info-label">
                        {{cannotModifyPublishedCertificateLabel}}
                    </div>
                    {{/isPublished}}

                </div>

                <div id="certificateItemGoals"></div>
            </div>
        </div>
    </div>
    <div class="bbm-modal__bottombar">
        <a href="#" class="modal-close button big neutral">{{cancelLabel}}</a>

        {{#MODIFY}}
        <button class="button big primary js-saveNextCertificate">
            {{certificateContinueLabel}}
        </button>
        {{/MODIFY}}
    </div>
</script>

<script type="text/html" id="certificateGoalsListTemplate">
    <div class="val-row">
        <table id="certificateCoursesMainTable" class="val-table medium list">
            <tbody {{^sortableCourses}} id="certificateCoursesTable" {{/sortableCourses}}>
                <tr>
                    <th colspan="4">{{coursesLabel}}</th>
                </tr>
            </tbody>
        </table>
        {{#sortableCourses}}
        <ul id="certificateCoursesTable" class="val-table medium list" style="list-style-type: none; margin-left: 0; padding-left:0;">

        </ul>
        {{/sortableCourses}}
    </div>

    <div class="val-row">
        <table class="val-table medium list">
            <tbody id="certificateStatementsTable">
            <tr>
                <th colspan="4">{{tincanstatementsLabel}}</th>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="val-row">
        <table class="val-table medium list">
            <tbody id="certificateActivitiesTable">
            <tr>
                <th colspan="5">{{activitiesLabel}}</th>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="val-row">
        <table class="val-table medium list">
            <tbody id="lessonGoalsTable">
            <tr>
                <th colspan="4">{{lessonGoalsLabel}}</th>
            </tr>
            </tbody>
        </table>
    </div>
</script>

<script type="text/html" id="goalRowTemplate">
    <td class="checkbox-col">
        {{#adminView}}
        {{#MODIFY}}
        <input type="checkbox" value="None" id="toggleGoal_{{goalNumber}}" name="check" class="val-checkbox js-toggle-goal"/>
        <label class="checkbox-label" for="toggleGoal_{{goalNumber}}"></label>
        {{/MODIFY}}
        {{/adminView}}
    </td>
    {{#isActivity}}
    <td class="single-element-col">
        <input type="text" class="onlyDigits" id="goalsAmount" value="{{activityCount}}"
        {{^MODIFY}} disabled="disabled" {{/MODIFY}}
        {{^adminView}} disabled="disabled" {{/adminView}}  />
    </td>
    {{/isActivity}}
    <td>{{#url}}
        <a href="/web{{url}}" target="_blank">{{/url}}{{title}}{{#url}}</a>{{/url}}
    </td>

    <td>
        {{^noDate}}
        <!--<label>{{duringLabel}} </label>-->
        <div class="clearfix val-during-period shift-right">
            <input type="text" class="onlyDigits shift-left" id="duringPeriod" value="{{value}}"
            {{^MODIFY}} disabled="disabled" {{/MODIFY}}
            {{^adminView}} disabled="disabled" {{/adminView}} />

            <div class="val-select shift-left">
                <select id="duringPeriodType"
                {{^MODIFY}} disabled="disabled" {{/MODIFY}}
                {{^adminView}} disabled="disabled" {{/adminView}} >
                    <option value="DAYS">{{daysLabel}}</option>
                    <option value="WEEKS">{{weeksLabel}}</option>
                    <option value="MONTH">{{monthLabel}}</option>
                    <option value="YEAR">{{yearLabel}}</option>
                </select>
            </div>
        </div>
        {{/noDate}}
    </td>
    <td class="text-right {{#adminView}} single-element-col {{/adminView}} {{^adminView}} status-col {{/adminView}}">
        {{#MODIFY}}
        {{#adminView}}
        <button class="button medium danger no-text js-goal-delete">
            <span class="val-icon-trash"></span> {{deleteLabel}}
        </button>
        {{/adminView}}
        {{/MODIFY}}

        {{#status}}
        {{status}}
        {{/status}}
    </td>
</script>

<script type="text/html" id="sortableCourseRowTemplate">
    <td class="checkbox-col handle">
        <span class='val-icon-sort'></span>
    </td>

    <td class="checkbox-col">
        <input type="checkbox" value="None" id="toggleGoal_{{goalNumber}}" name="check" class="val-checkbox js-toggle-goal"/>
        <label class="checkbox-label" for="toggleGoal_{{goalNumber}}"></label>
    </td>

    <td>
        {{#url}}<a href="/web{{url}}" target="_blank">{{/url}}{{title}}{{#url}}</a>{{/url}}
    </td>

    <td>
        {{^noDate}}
        <!--<label>{{duringLabel}} </label>-->
        <div class="clearfix val-during-period shift-right">
            <input type="text" class="onlyDigits shift-left" id="duringPeriod" value="{{value}}"
            {{^MODIFY}} disabled="disabled" {{/MODIFY}}
            {{^adminView}} disabled="disabled" {{/adminView}} />

            <div class="val-select shift-left">
                <select id="duringPeriodType"
                {{^MODIFY}} disabled="disabled" {{/MODIFY}}
                {{^adminView}} disabled="disabled" {{/adminView}} >
                <option value="DAYS">{{daysLabel}}</option>
                <option value="WEEKS">{{weeksLabel}}</option>
                <option value="MONTH">{{monthLabel}}</option>
                <option value="YEAR">{{yearLabel}}</option>
                </select>
            </div>
        </div>
        {{/noDate}}
    </td>
    <td class="single-element-col text-right">
        {{#MODIFY}}
        <button class="button medium danger no-text js-goal-delete">
            <span class="val-icon-trash"></span> {{deleteLabel}}
        </button>
        {{/MODIFY}}

        {{#status}}
        {{status}}
        {{/status}}
    </td>
</script>

<script type="text/html" id="certificateItemEditMembers">
    <div class="filters-row clearfix">
        <div class="filter-element shift-left">
            <span class="val-icon-search"></span>
            <input type="text" id="searchMembers" placeholder="{{searchPlaceholderLabel}}">
        </div>
        <div class="dropdown filter-element shift-left" id="memberOrganization" data-value="-1">
            <button class="button medium simple">
                <span class="dropdown-text">{{allOrganizationsLabel}}</span><span class="val-icon-arrow-down val-icon-right"></span>
            </button>
            <ul class="dropdown-menu">
                <li class="selected" data-value="-1">{{allOrganizationsLabel}}</li>
            </ul>
        </div>
        <div class="filter-element paging-showing-label shift-left" id="memberListPagingShowing"></div>

        {{#MODIFY}}
        <div class="filter-element shift-right">
            <button id="addCertificateMembers" class="button medium primary shift-right">
                {{addUsersLabel}}
            </button>
        </div>
        {{/MODIFY}}
    </div>
    <div class="filters-row clearfix">
        {{#MODIFY}}
        <div class="filter-element shift-left">
            <button id="selectAllMembers" class="button medium neutral shift-left">
                <span class="val-icon-checkbutton"></span> {{selectAllLabel}}
            </button>
        </div>

        <div class="dropdown actions filter-element shift-left">
            <button class="button medium neutral">
                <span class="dropdown-text">{{actionLabel}}</span>
                <span class="val-icon-arrow-down val-icon-right"></span>
            </button>
            <ul class="dropdown-menu">
                <li class="js-deleteMembers" data-value="1">{{deleteLabel}}</li>
            </ul>
        </div>
        {{/MODIFY}}
        <div id="sortMembers" class="dropdown filter-element shift-right" data-value="name:true">
            <button class="button medium simple">
                <span class="dropdown-text">{{byNameAscLabel}}</span><span class="val-icon-arrow-down val-icon-right"></span>
            </button>
            <ul class="dropdown-menu">
                <li class="selected" data-value="name:true"> {{byNameAscLabel}} </li>
                <li data-value="name:false"> {{byNameDescLabel}} </li>
                <li data-value="userJoined:true">{{byJoinDateAscLabel}}</li>
                <li data-value="userJoined:false">{{byJoinDateDescLabel}}</li>
            </ul>
        </div>
    </div>

    <label id="noMembersLabel" class="valamis-info-label shifted" style="display: none;"> {{noAvailableUsersLabel}}</label>
    <table class="val-table medium list">
        <tbody id="membersList"></tbody>
    </table>

    <div class="val-paginator text-center" id="memberListPaginator"></div>

    <div class="bbm-modal__bottombar">
        <a href="#" class="modal-close button big neutral">{{cancelLabel}}</a>
        {{#MODIFY}}
        <button class="button big primary js-saveCloseCertificate">
            {{certificateSaveButtonTooltipLabel}}
        </button>
        {{/MODIFY}}
    </div>
</script>

<script type="text/html" id="certificateMemberElementView">
    <td class="checkbox-col">
        <input type="checkbox" value="None" id="toggleMember_{{id}}" name="check" class="val-checkbox js-toggle-member"/>
        <label class="checkbox-label" for="toggleMember_{{id}}"></label>
    </td>

    <td class="single-element-col"> {{#pageUrl}}
        <a href="{{pageUrl}}" target="_blank">
            {{/pageUrl}}

            <img src="{{picture}}" alt="{{name}}" class="img-circle">
            {{#pageUrl}}
        </a>
        {{/pageUrl}}
    </td>
    <td> {{name}}</td>
    <td class="text-right">
        {{status}}
        <button class="button medium neutral no-text js-member-details">
            <span class="val-icon-preview"></span> {{viewDetailsLabel}}
        </button>
        {{#MODIFY}}
        <button class="button medium danger no-text js-member-delete">
            <span class="val-icon-trash"></span> {{removeLabel}}
        </button>
        {{/MODIFY}}
    </td>
</script>

<script type="text/html" id="liferayActivityElementView">
    <td>{{title}}</td>
    <td class="text-right">
        <button class="button medium neutral no-text js-toggle-button">
            <span class="val-icon-checkbutton"></span>
        </button>
    </td>
</script>

<script type="text/html" id="liferayActivityDialogView">
    <table class="val-table medium list">
        <tbody id="activityList">
        </tbody>
    </table>

    <div class="bbm-modal__bottombar">
        <a href="#" class="modal-close button big neutral">{{cancelLabel}}</a>
        <button class="button big primary js-addActivities">{{addActivitiesLabel}}</button>
    </div>
</script>

<script type="text/html" id="statementElementView">
    <td>{{actorLabel}}</td>
    <td>
        {{verbLabel}}
        <div class="select-element position-relative">
            <div class="val-select">
                <select id="verbSelection">
                    {{#verbs}}
                    <option value="{{id}}"> {{title}}</option>
                    {{/verbs}}
                </select>
            </div>
        </div>
    </td>
    <td>
        <input id="objectSelection" type="text" value="{{obj}}" />
    </td>
    <td class="text-right">
        <button class="button medium danger no-text js-statement-delete">
            <span class="val-icon-trash"></span>
        </button>
    </td>
</script>


<script type="text/html" id="statementDialogView">
    <table class="val-table medium list">
        <tbody id="statementList">
        </tbody>
    </table>

    <div class="bbm-modal__bottombar">
        <button class="button big primary js-newStatement pull-left">{{newStatementsLabel}}</button>
        <button class="button big primary js-selectStatements pull-left">{{selectStatementsLabel}}</button>

        <a href="#" class="modal-close button big neutral">{{cancelLabel}}</a>
        <button class="button big primary js-addStatements">{{addStatementsLabel}}</button>
    </div>
</script>

<script type="text/html" id="selectStatementsDialogView">
    <div class="filters-row clearfix">
        <div class="filter-element shift-left">
            <span class="val-icon-search"></span>
            <input type="text" placeholder="{{certificateSearchPlaceholderLabel}}" id="statementsSearch">
        </div>
        <div class="filter-element shift-left">
            <button class="button medium neutral" id="selectAllStatements">
                <span class="val-icon-checkbutton"></span> {{selectAllLabel}}
            </button>
        </div>
        <div class="filter-element paging-showing-label shift-left" id="statementListPagingShowing"></div>

        <div id="sortStatements" class="dropdown filter-element shift-right" data-value="true">
            <button class="button medium simple">
                <span class="dropdown-text">{{byNameAscLabel}}</span><span class="val-icon-arrow-down val-icon-right"></span>
            </button>
            <ul class="dropdown-menu">
                <li class="selected" data-value="true"> {{byNameAscLabel}} </li>
                <li data-value="false"> {{byNameDescLabel}} </li>
            </ul>
        </div>
    </div>

    <label id="noStatementsLabel" class="text-center" style="display: none;"> {{noAvailableStatementsLabel}}</label>
    <table class="val-table medium list">
        <tbody id="statementsList"></tbody>
    </table>

    <div class="val-paginator text-center" id="statementListPaginator"></div>

    <div class="bbm-modal__bottombar">
        <a href="#" class="modal-close button big neutral">{{cancelLabel}}</a>
        <button class="button big primary" id="addStatementsButton">{{selectStatementsLabel}}</button>
    </div>
</script>

<script type="text/html" id="selectStatementsRowView">
<td>{{verbName}}</td>
<td>{{objName}}</td>
<td class="single-element-col">
    <button class="button medium {{^selected}}neutral{{/selected}} {{#selected}}primary{{/selected}} no-text js-toggle-button">
        <span class="val-icon-checkbutton"></span> Add
    </button>
</td>
</script>

<script type="text/template" id="curriculum-select-lesson-goals-dialog">
    <div class="filters-row clearfix">
        <div class="filter-element shift-left">
            <span class="val-icon-search"></span>
            <input type="text" id="searchLesson" placeholder="{{searchPlaceholderLabel}}">
        </div>
        <div class="dropdown filter-element shift-left" id="lessonListTags" data-value="">
            <button class="button medium simple">
                <span class="dropdown-text">{{allCategoriesLabel}}</span><span class="val-icon-arrow-down val-icon-right"></span>
            </button>
            <ul class="dropdown-menu">
                <li class="selected" data-value="">{{allCategoriesLabel}}</li>
            </ul>
        </div>
        <div class="filter-element paging-showing-label shift-left" id="lessonListPagingShowing"></div>
        <div id="sortLesson" class="dropdown filter-element shift-right" data-value="name:true">
            <button class="button meduim simple">
                <span class="dropdown-text">{{byNameAscLabel}}</span><span class="val-icon-arrow-down val-icon-right"></span>
            </button>
            <ul class="dropdown-menu">
                <li class="selected" data-value="name:true"> {{byNameAscLabel}} </li>
                <li data-value="name:false"> {{byNameDescLabel}} </li>
            </ul>
        </div>
    </div>

    <table class="val-table medium list">
        <tbody id="lessonList"></tbody>
    </table>
    <div class="val-paginator text-center" id="lessonListPaginator"></div>

    <div class="bbm-modal__bottombar">
        <a href="#" class="modal-close button big neutral">{{cancelLabel}}</a>
        <button class="button big primary js-addLesson">{{addGoalLabel}}</button>
    </div>
</script>

<script type="text/template" id="curriculum-select-lesson-goals-lesson">
    <td>{{title}}</td>
    <td class="text-right">
        <button class="button medium {{^toggled}}neutral{{/toggled}} {{#toggled}}primary{{/toggled}} no-text js-toggle-button">
            <span class="val-icon-checkbutton"></span> Add
        </button>
    </td>
</script>

<!-- curriculum user -->

<script type="text/html" id="userCertificateItemViewTemplate">
    <div class="tile-content with-action">
        <div class="image certificate"
        {{#logo}}
        style="background-image: url('/delegate/files/images?folderId={{id}}&file={{logo}}')"
        {{/logo}}>
    </div>
    <ul>
        <li class="title">{{title}}</li>
        <li class="description">{{decodedDescription}}</li>
        <li class="categories"> {{userCount}}&nbsp;{{usersSubtitleLabel}} • {{goalsCount}}&nbsp;{{goalsSubtitleLabel}} </li>
        {{#status}}
        <li class="status {{statusClass}}">
            <span class="val-label">
                {{status}}
            </span>
        </li>
        {{/status}}
    </ul>
    <div class="dropdown actions shift-right">
        <button class="button medium neutral">
            <span class="dropdown-text">{{actionsLabel}}</span><span class="val-icon-arrow-down val-icon-right"></span>
        </button>
        <ul class="dropdown-menu">
            <li class="js-editCertificateCommand"> {{viewDetailsLabel}} </li>
            <li class="js-editCourseCertificateCommand"> {{viewGoalsLabel}} </li>
            <!--{{^isMyCollection}}-->
            <li class="js-joinCertificateCommand"> {{joinCertificate}} </li>
            <!--{{/isMyCollection}}-->
            <!--{{#isMyCollection}}-->
            <li class="js-leaveCertificateCommand"> {{leaveCertificate}} </li>
            <!--{{/isMyCollection}}-->
        </ul>
    </div>
    </div>
</script>

<script type="text/html" id="userCertificateItemEditDetailsTemplate">
    <div class="div-table val-info-table">
        <div class="div-row">
            <div class="div-col name-col">
                {{coverImageLabel}}
            </div>

            <div class="div-col content-col">
                <div class="certificate-image shift-left" id="userCertificateIcon_{{id}}"
                {{#logo}}
                style="background-image: url('/delegate/files/images?folderId={{id}}&file={{logo}}')"
                {{/logo}}>

                </div>

                <div class="button-block">
                    {{#isOpenBadgesIntegration}}
                    {{#success}}
                    <button id="issueBadge" class="button big primary">{{earnbadge}}</button>
                    {{/success}}
                    {{/isOpenBadgesIntegration}}
                </div>
            </div>
        </div>
        {{#status}}
        <div class="div-row">
            <div class="div-col name-col">
                {{certificateStatusLabel}}
            </div>
            <div class="div-col content-col">
                {{status}}
            </div>
        </div>
        {{/status}}
        <div class="div-row">
            <div class="div-col name-col">
                {{certificateTitleLabel}}
            </div>
            <div class="div-col content-col">
                {{title}}
            </div>
        </div>
        <div class="div-row">
            <div class="div-col name-col">
                {{{certificateDescriptionLabel}}}
            </div>
            <div class="div-col content-col">
                {{description}}
            </div>
        </div>
        <div class="div-row">
            <div class="div-col name-col">
                {{validPeriodLabel}}
            </div>
            <div class="div-col content-col">
                <div id="permanentLabel" class="shift-left">
                    {{permanentLabel}}
                </div>
                <div id="nonPermanentLabel" class="shift-left">
                    {{validForLabel}}
                </div>
            </div>
        </div>
    </div>
</script>
