<script type="text/template" id="liferayGallery-modal-template">
    <div class="bbm-modal__topbar">
        <h3 class="bbm-modal__title valamis">{{galleryLabel}}</h3>

        <div class="modal-close val-icon-exit">
        </div>
    </div>

    <div class="bbm-modal__section lf-gallery-dialog">
    </div>
</script>

<script type="text/html" id="liferayGalleryElementView">
    <div class="image-gallery-icon shift-left clearfix">
        <span class="image-thumbnail">
            <img alt="welcome_community - " border="no" src="{{imageUrl}}">
        </span>
        <span class="image-title">{{title}}</span>
    </div>
</script>

<script type="text/html" id="liferayImageGalleryDialogView">
    <div class="val-row filters-row">
        <div class="filter-element shift-left">
            <span class="val-icon-search"></span>
            <input type="text" placeholder="{{searchPlaceholderLabel}}" id="gallerySearch"/>
        </div>
        <div class="filter-element paging-showing-label shift-left" id="galeryPagingShowing"></div>

        <div class="dropdown filter-element shift-right js-sorting" data-value="true" id="sortGallery">
            <button class="button medium simple ">
                <span class="dropdown-text"> {{byNameAscLabel}} </span><span class="val-icon-arrow-down val-icon-right"></span>
            </button>
            <ul class="dropdown-menu" name="sort">
                <li class="selected" data-value="true"> {{byNameAscLabel}} </li>
                <li data-value="false"> {{byNameDescLabel}} </li>
            </ul>
        </div>
    </div>

    <div id="galleryContainer" class="gallery-modal-container clearfix"></div>
    <div class="val-paginator text-center" id="galleryPaginator"></div>
</script>