<script type="text/template" id="liferayGallery-modal-template">
    <div class="bbm-modal__topbar lf-gallery-modal">
        <h3 class="bbm-modal__title valamis">{{galleryLabel}}</h3>

        <div class="modal-close">
        </div>
    </div>

    <div class="bbm-modal__section lf-gallery-dialog galleryContent">
    </div>
</script>

<script type="text/mustache" id="liferayGalleryElementView">
    <div class="image-gallery-icon">
        <span class="image-thumbnail" style="height: 136px; width: 136px;">
            <img alt="welcome_community - " border="no" src="{{imageUrl}}" style="max-height: 128px; max-width: 128px;">
        </span>
        <span class="image-title">{{title}}</span>
    </div>
</script>
<script type="text/mustache" id="liferayGalleryDialogView">
    <div class="select-element pull-right valamis-paginator headerPaginator" id="galleryPaginator"></div>
    <div id="gallery" class="clearfix" style="padding-top: 70px;"> </div>
</script>


<script type="text/mustache" id="liferayImageGalleryDialogView">
    <div id="liferayGalleryWrapper" class="content-wrapper clearfix">
        <div class="page-content-wrapper" style="padding-top: 0px;">
            <div class="content-header clearfix">

                <div class="popup-content-header">
                    <div class="valamis-row">
                        <div class="pull-left button-upload-area">
                            <button class="filter-toggler button valamis big grey menu-toggle menu-open val-icon-search"></button>
                        </div>

                        <h4 class="valamis amountLabel pull-left" id="imagesListedAmount"></h4>
                        <h4 class="valamis pull-left hidden-xs">&nbsp;{{imagesListedLabel}}</h4>
                        <h4 class="valamis pull-left hidden-md hidden-lg">&nbsp;{{listedLabel}}</h4>
                    </div>
                </div>

                <div class="sidebar-wrapper">

                    <div class="menu-toggle hidden-xs menu-close modal-close-div">
                    </div>

                    <h2 class="valamis margined">{{refineSearchLabel}}</h2>

                    <div class="valamis-row">
                        <label class="h4label valamis"> {{searchByNameLabel}} </label>
                        <input placeholder="{{certificateSearchPlaceholderLabel}}" type="text" id="gallerySearch"
                               class="text-input valamis search"/>
                    </div>
                    <div class="valamis-row position-relative">
                        <label class="h4label valamis"> {{sortLabel}} </label>

                        <div class="valamis-select">
                            <select id="sortGallery" class="userSearchSelect fixed-width">
                                <option value="true">{{sortOrderAscLabel}}</option>
                                <option value="false">{{sortOrderDescLabel}}</option>
                            </select>
                        </div>
                    </div>
                </div>


                <div id="galleryContainer" class="page-content"></div>

            </div>
        </div>
    </div>
</script>