<!--Package list view-->

<script type="text/html" id="packageListTemplate">
    <div class="val-row filters-row">
        <div class="filter-element shift-left">
            <span class="val-icon-search"></span>
            <input type="text" id="playerPackageFilter" placeholder="{{searchLabel}}">
        </div>
        <div id="playerPackageTags" class="dropdown filter-element shift-left js-filter-dropdown" data-value="">
            <button class="button medium simple">
                <span class="dropdown-text">{{allCategoriesLabel}}</span><span class="val-icon-arrow-down val-icon-right"></span>
            </button>
            <ul class="dropdown-menu">
                <li class="selected" data-value="">{{allCategoriesLabel}}</li>
            </ul>
        </div>
    </div>

    <div class="val-row filters-row">
       <div class="shift-left filter-element paging-showing-label" id="lessonViewerPagingShowing"> </div>

        <div id="playerPackageOrder" class="dropdown filter-element shift-right js-filter-dropdown" data-value="date:false">
            <button class="button medium simple">
                <span class="dropdown-text"> {{newestLabel}} </span><span class="val-icon-arrow-down val-icon-right"></span>
            </button>
            <ul class="dropdown-menu">
                <li class="selected" data-value="date:false"> {{newestLabel}} </li>
                <li data-value="date:true"> {{oldestLabel}} </li>
                <li data-value="name:true"> {{byNameAscLabel}} </li>
                <li data-value="name:false"> {{byNameDescLabel}} </li>
            </ul>
        </div>

        <button class="button medium simple no-text hide-s shift-right js-tile-view">
            <span class="val-icon-grid-view">Grid View</span>
        </button>
        <button class="button medium simple no-text hide-s shift-right js-list-view active">
            <span class="val-icon-list-view">List View</span>
        </button>
    </div>

    <div class="js-package-items val-row list">
    </div>
    <div class="val-paginator text-center" id="packageListPaginator"></div>
</script>

<script type="text/html" id="SCORMPlayerContent">
    <div class="portlet-wrapper sidebar-hidden">
        <div class="portlet-sidebar">
            <div class="sidebar-header">
                <h3 class="sidebar-title">{{lessonContentSubTitleLabel}}</h3>
                <div class="val-icon val-icon-exit hide-sidebar js-toggle-sidebar"></div>
            </div>
            <div class="sidebar-content" id="SCORMTree">
            </div>
        </div>
        <div class="content-wrapper">
            <div class="content-header clearfix">
                <div class="content-controls shift-left">
                    <div class="val-icon-menu js-toggle-sidebar val-icon-with-label">
                        <span>{{contentsLabel}}</span>
                    </div>
                    <div id="SlideMap" class="val-icon-grid-view val-icon-with-label" ><span>{{slideMapLabel}}</span></div>
                </div>
                <div class="content-controls shift-right">
                    <div id="PlayerLaunchFullScreen" class="val-icon-fullscreen val-icon-with-label">
                        <span>{{navigationButtonFullScreenLabel}}</span>
                    </div>
                    <div id="PlayerExitFullScreen" class="val-icon-fullscreen-exit val-icon-with-label" style="display:none;">
                        <span>{{navigationButtonExitFullScreenLabel}}</span>
                    </div>
                    <div id="SCORMNavigationSuspend" class="val-icon-pause val-icon-with-label">
                        <span>{{pauseLabel}}</span>
                    </div>
                    <div id="SCORMNavigationExit" class="val-icon-exit"></div>
                </div>
                <h2 id="currentPackageName" class="content-title"></h2>
            </div>
            <div class="content-container">
                <iframe id="SCORMDataOutput" src=""></iframe>
            </div>
            <div class="content-footer clearfix">
                <button id="SCORMNavigationBackward" class="button big neutral shift-left"> {{navigationButtonBackLabel}} </button>
                <button id="SCORMNavigationForward" class="button big neutral shift-right"> {{navigationButtonNextLabel}} </button>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="player-modals-template">
    <div class="player-modals-container"></div>
</script>

<script type="text/template" id="player-modal-template">
    <div class="bbm-modal__topbar">
        <h3 class="bbm-modal__title valamis">{{playerModalLabel}}</h3>

        <div class="modal-close val-icon-exit">
        </div>
    </div>

    <div class="bbm-modal__section player-dialog">
    </div>

</script>

<script type="text/html" id="playerTileItemView">
        <div class="tile-content">
            <div class="image js-start-package"
                {{#logo}}
                style="background-image: url('/delegate/files/images?folderId=package_logo_{{id}}&file={{{logo}}}')"
                {{/logo}}>
                <a href={{link}}></a>
            </div>
            <ul>
                <li class="title js-start-package"><a href={{link}}>{{title}}</a></li>
                <li class="description">{{description}}</li>
                <li class="categories">{{categories}}</li>
                <li class="status">
                    {{#LV_SHARE}}
                    <span class="val-icon-link cursor-pointer js-share-package"></span>
                    {{/LV_SHARE}}
                    <span class="val-label">
                        {{packageStatusLabel}}
                    </span>
                    {{#remain}} {{remain}} {{remainLabel}} {{/remain}}
                </li>
            </ul>
        </div>
</script>

<script type="text/html" id="navigation-question-item">
    <span class="lesson-item-title">{{title}}</span>
    {{#elementType}}<span class="lesson-item-type">{{elementType}}</span>{{/elementType}}
    <!--<span class="lesson-item-duration"> Time container </span>-->
    <span class="lesson-item-status"></span>
</script>

<script type="text/html" id="navigation-category-item">
    <span class="js-lesson-category-title lesson-category-title">{{title}}</span>
    <div class="lesson-items"></div>
</script>

<script type="text/html" id="sharePackageModalViewTemplate">
    <div class="div-table val-info-table">
        <div class="div-row">
            <div class="div-col name-col">
                {{commentLabel}}
            </div>
            <div class="div-col content-col">
                <input type="text" class="js-package-comment" />
            </div>
        </div>
    </div>
    <div class="bbm-modal__bottombar">
        <a href="#" class="modal-close button big neutral">{{cancelLabel}}</a>

        <button class="button big primary js-post-share-package">
            {{shareLabel}}
        </button>
    </div>
</script>
