<!-- Region container -->
<script type="text/template" id="package-manager-modals-template">
    <div class="modals-container"></div>
</script>

<!-- Modal templates  -->
<script type="text/template" id="package-manager-fileupload-modal-template">
    <div class="bbm-modal__topbar">
        <h3 class="bbm-modal__title">{{fileUploadModalHeader}}</h3>

        <div class="modal-close"></div>
    </div>
    <div class="bbm-modal__section package-uploader-dialog"></div>
</script>

<script type="text/template" id="packageManagerFileUploader">
    <div class="pull-right button-upload-area">
        <button class="button valamis big green val-icon-upload js-file-upload">
            {{fileUploadOpenDialogButtonLabel}}
        </button>
    </div>
</script>

<script type="text/template" id="packageManagerToolbar">
    <div class="hidden-xs" style="min-height: 40px;">
        <!--<button class="button valamis medium grey val-icon-check">Select All</button>-->
        <!--<button class="button valamis medium grey dropdown-button active">Action</button>-->
        <div class="paginator pull-right" id="pagingWrapper">
        </div>

        <div class="select-element pull-right hidden-tablet">
            <div class="select-element-label">{{toolbarViewsLabel}}</div>
            <div class="button-group">
                <button class="button valamis medium grey val-icon-list-view no-text js-list-view js-display-option"
                        id="packageManagerListView">
                    {{toolbarViewsOptionListLabel}}
                </button>
                <button class="button valamis medium grey val-icon-grid-view no-text active js-tile-view js-display-option"
                        id="packageManagerTilesView">
                    {{toolbarViewsOptionGridLabel}}
                </button>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="packageManagerSearch">
    <h1 class="valamis hidden-sm hidden-xs">{{searchFormHeader}}</h1>

    <form>
        <div class="valamis-row">
            <label class="h4label valamis">{{searchFormSearchByNameLabel}}</label>
            <input type="text" class="text-input valamis box-sizing js-search"
                   placeholder="{{searchFormSearchByNamePlaceholder}}" name="enteredFilter">
        </div>
        <div class="valamis-row">
            <label class="h4label valamis">{{searchFormSortLabel}}</label>

            <div class="valamis-select">
                <select class="box-sizing js-sorting" name="sort">
                    <option value="nameAsc">{{searchFormSortByNameAscOption}}</option>
                    <option value="nameDesc">{{searchFormSortByNameDescOption}}</option>
                </select>
            </div>
        </div>
        <div class="valamis-row">
            <label class="h4label valamis">{{searchFormDisplayLabel}}</label>

            <div class="valamis-select">
                <select class="box-sizing js-display" name="display">
                    <option value="All package">{{searchFormDisplayAllPackagesOption}}</option>
                </select>
            </div>
        </div>
        <div class="valamis-row">
            <label class="h4label valamis">{{searchFormScopeLabel}}</label>

            <div class="valamis-select">
                <select class="box-sizing js-scope" name="scope">
                    <option value="instance">{{searchFormScopeInstanceScope}}</option>
                    <option value="site">{{searchFormScopeSiteScope}}</option>
                </select>
            </div>
        </div>
    </form>
</script>

<script type="text/template" id="package-manager-package-list">
    <div class="package-items clearfix js-package-items">
    </div>
</script>

<script type="text/html" id="packageManagerListItemView">
    <div class="package-cover-image pull-left">
        <img
        {{#logo}}
        src="{{contextPath}}api/files/images?folderId=package_logo_{{id}}&file={{{logo}}}"
        {{/logo}}

        {{^logo}}
        src="../../learn-portlet/img/certificate-default.png"
        {{/logo}}

        class="logo-mini">

        <div class="ribbon-wrapper-green hidden-sm hidden-xs">
            <div class="ribbon-green">{{packageType}}</div>
        </div>
    </div>
    <div class="package-list-content pull-left">
        <div class="package-title">{{title}}</div>
        <div class="package-description">{{description}}</div>
    </div>

    <div class="package-settings package-settings-list">
        <div class="checkboxes hidden-xs">
            <div class="checkbox-element">
                <div class="package-flags">
                    <div class="checkbox valamis js-package-visibility-flag {{#isVisible}} checked {{/isVisible}} "></div>
                    <label>
                        {{packageItemIsVisibleLabel}}
                    </label>
                </div>
                <div class="package-flags">
                    <div class="checkbox valamis js-package-default-flag {{#isDefault}} checked {{/isDefault}}"></div>
                    <label>
                        {{packageItemIsDefaultLabel}}</label>
                </div>
            </div>
        </div>
        <div class="buttons">
            <button class="button valamis medium grey val-icon-edit no-text js-package-edit">
                {{packageItemEditButtonLabel}}
            </button>
            <button class="button valamis medium red val-icon-delete no-text js-package-delete">
                {{packageItemDeleteButtonLabel}}
            </button>
        </div>
    </div>
</script>

<script type="text/html" id="packageManagerTileItemView">

    <div class="flip-container certificate-tile" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
            <div class="front">

                <div class="ribbon-wrapper">
                    <div class="package-cover-image ">
                        <img
                        {{#logo}}
                        src="{{contextPath}}api/files/images?folderId=package_logo_{{id}}&file={{{logo}}}"
                        {{/logo}}

                        {{^logo}}
                        src="../../learn-portlet/img/certificate-default.png"
                        {{/logo}}

                        class="logo">

                        <div class="ribbon-wrapper-green">
                            <div class="ribbon-green">{{packageType}}</div>
                        </div>
                    </div>
                </div>

                <div class="package-content">
                    <div class="package-title">{{title}}</div>
                    <div class="package-description">{{description}}</div>
                </div>

            </div>
            <div class="back">
                <button class="button valamis medium grey val-icon-edit val-command js-package-edit">
                    {{packageItemEditButtonLabel}}
                </button>
                <button class="button valamis medium grey val-icon-delete val-command js-package-delete">
                    {{packageItemDeleteButtonLabel}}
                </button>

                <div class="package-settings package-settings-tile">
                    <div class="checkboxes">
                        <div class="checkbox-element">
                            <div class="package-flags">
                                <div class="checkbox valamis js-package-visibility-flag {{#isVisible}} checked {{/isVisible}} "></div>
                                <label>
                                    {{packageItemIsVisibleLabel}}
                                </label>
                            </div>
                            <div class="package-flags">
                                <div class="checkbox valamis js-package-default-flag {{#isDefault}} checked {{/isDefault}}"></div>
                                <label>
                                    {{packageItemIsDefaultLabel}}</label>
                            </div>
                        </div>
                    </div>
                <div>

             </div>
        </div>
  </div>
</script>

<script type="text/template" id="deleteConfirmationTemplate">
    <div>{{warningDeletePackageMessageLabel}}<br/>
        <button class='confirmation btn btn-primary'>{{yesLabel}}</button>
        <button class='btn' style='margin: 0 8px 0 8px'>{{cancelLabel}}</button>
    </div>
</script>

<script type="text/template" id="packageManagerEditItemView">

    <div class="bbm-modal__topbar">
        <h3 class="bbm-modal__title">{{editPackageItemHeader}}</h3>

        <div class="modal-close"> </div>
    </div>

    <div  class="bbm-modal__section bank-edit-dialog clearfix">
        <div class="logo-div pull-left">
            <div>
                <h2 class="valamis hidden-xs">{{logoLabel}}</h2>
                <div class="valamis-row centered-content">
                    <img
                    {{#logo}}
                    src="{{contextPath}}api/files/images?folderId=package_logo_{{id}}&file={{{logo}}}"
                    {{/logo}}

                    {{^logo}}
                    src="../../learn-portlet/img/certificate-default.png"
                    {{/logo}}
                    class='logo val-icon-upload'>
                </div>
                <button class="button valamis big green val-icon-upload wideButton js-upload-image">
                    {{editPackageUploadImageButtonLabel}}
                </button>
            </div>
        </div>

        <div class="info-div pull-right">
            <table class="valamis list-table big-table box-sizing">
                <tbody>
                <tr>
                    <td class="h4label valamis">{{editPackageItemTitleLabel}}</td>
                    <td class="buttons text-right">
                        <input type='text' class="text-input valamis title-field box-sizing" id='packageTitleEdit' value='{{title}}'/>
                    </td>
                </tr>
                <tr>
                    <td class="h4label valamis">{{editPackageItemDescriptionLabel}}</td>
                    <td class="buttons text-right">
                        <textarea id='packageEditDescription' rows="5" class="textarea valamis description-field box-sizing">{{description}}</textarea>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="bbm-modal__bottombar">
        <a href="#" class="bbm-button button valamis big grey">{{editPackageCancelButtonLabel}}</a>
        <button class="button valamis big green js-save-package">{{editPackageSubmitButtonLabel}}</button>
    </div>

</script>

<script type="text/template" id="packageManagerUploadPackagePreView">

    <div class="bbm-modal__topbar">
        <h3 class="bbm-modal__title">{{newPackageItemHeader}}</h3>
        <div class="modal-close">
        </div>
    </div>

    <div  class="bbm-modal__section bank-edit-dialog clearfix">
        <div class="logo-div pull-left">
            <div>
                <h2 class="valamis hidden-xs" style="margin-bottom:0px;">{{logoLabel}}</h2>
                 <div class="centered-content">
                    <img
                    src="../../learn-portlet/img/certificate-default.png"
                    class='logo val-icon-upload'>
                </div>
            </div>
        </div>

        <div class="info-div pull-right">
            <table class="valamis list-table big-table box-sizing">
                <tbody>
                <tr>
                    <td class="h4label valamis">{{editPackageItemTitleLabel}}</td>
                    <td class="buttons text-right">
                        <input type='text' class="text-input valamis title-field box-sizing" id='packageTitleEdit' value='{{title}}'/>
                    </td>
                </tr>
                <tr>
                    <td class="h4label valamis">{{editPackageItemDescriptionLabel}}</td>
                    <td class="buttons text-right">
                        <textarea id='packageEditDescription' rows="5" class="textarea valamis description-field box-sizing">{{description}}</textarea>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="bbm-modal__bottombar">
        <a href="#" class="bbm-button button valamis big grey">{{editPackageCancelButtonLabel}}</a>
        <button class="button valamis big green js-upload-package">{{newPackageUploadButtonLabel}}</button>
    </div>

</script>

<script type="text/template" id="packagesPageContentTemplate">
    <div class="content-header clearfix">
        <div class="pull-left button-upload-area">
            <button class="filter-toggler button valamis big grey menu-toggle val-icon-search"> </button>
        </div>

        <h3 class="content-header-padded pull-left hidden-sm hidden-xs">
           {{packagesHeader}}
        </h3>

        <div id="package-manager-fileupload-region"></div>

        <!-- Sidebar -->
        <div id="packagesSearchWrapper" class="sidebar-wrapper">
            <div class="menu-toggle hidden-xs modal-close" >
            </div>
            <div class="pull-right">
            </div>
            <div id="package-manager-search-region"></div>
        </div>
    </div>
    <!-- Keep all page content within the page-content inset div! -->

    <div class="page-content inset" >
        <div class="hidden-xs">
            <div id="toolbarWrapper"></div>
        </div>
        <div id="packageManagerMainRegion"></div>
        <div id="bottomPaging" class="pull-right bottom-paginator"></div>

    </div>
</script>
