<!--Package list view-->
<script type="text/html" id="packageListTemplate">
    <div class="overflow-hidden">
        <div id="playerContentWrapper" class="content-wrapper clearfix">
            <div class="page-content-wrapper">
                <div class="content-header clearfix">
                    <div class="pull-left button-upload-area">
                        <button class="filter-toggler button valamis big grey menu-toggle menu-open val-icon-search">
                        </button>
                    </div>

                    <h3 class="content-header-padded pull-left hidden-sm hidden-xs"> {{packageViewSubTitleLabel}} </h3>

                    <div class="pull-right button-upload-area">
                        <div class="button-group hidden-sm hidden-xs" style="margin-right: 15px">
                            <button class="button valamis big grey val-icon-list-view no-text js-list-view js-display-option"
                                    id="packageManagerListView">
                                List View
                            </button>
                            <button class="button valamis big grey val-icon-grid-view no-text active js-tile-view js-display-option"
                                    id="packageManagerTilesView">
                                Grid View
                            </button>
                        </div>
                        <button id="SCORMPackageListReload" class="button valamis big green val-icon-reload">
                            {{packageListReloadButtonLabel}}
                        </button>
                    </div>

                    <div class="sidebar-wrapper">
                        <div class="menu-toggle hidden-xs menu-close modal-close-div">
                        </div>
                        <div class="pull-right">
                        </div>

                        <h3 class="hidden-sm hidden-xs">{{refineSearchLabel}}</h3>

                        <div class="valamis-row">
                            <label class="h4label valamis">{{searchByNameLabel}}</label>
                            <input type="text" id="playerPackageFilter" class="search form-control text-input valamis"
                                   placeholder="{{searchLabel}}">
                        </div>

                        <div class="valamis-row">
                            <label class="h4label valamis"> {{sortLabel}} </label>

                            <div class="valamis-select userSearchSelect">
                                <select id="playerPackageOrder">
                                    <option value="name:true">{{byNameAscLabel}}</option>
                                    <option value="name:false">{{byNameDescLabel}}</option>
                                    <option value="date:true">{{byDateAscLabel}}</option>
                                    <option value="date:false">{{byDateDescLabel}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="valamis-row">
                            <label class="h4label valamis"> {{showModeLabel}} </label>

                            <div class="valamis-select userSearchSelect">
                                <select id="playerShowMode">
                                    <option value="thisWindow">{{thisWindowLabel}}</option>
                                    <option value="newWindow">{{newWindowLabel}}</option>
                                    <!--  <option value="popup">{{popupLabel}}</option>-->
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="page-content grid-view">
                    <div class="hidden-xs pull-right full-width">
                        <div class="select-element pull-right" id="playerPackagesListPaginator"/>
                    </div>

                    <div class="clearfix grid-view">
                        <div class="player package-items clearfix js-package-items">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="SCORMPlayerContent">
    <div id="SCORMApplicationContainer">
        <div style="text-align:center;" class="SCORMNavigation">
            <div id="SCORMNavigation" >
                <button id="SCORMNavigationExit" class='button valamis medium red val-icon-save-close'
                        style="float: left">{{navigationButtonExitLabel}}
                </button>
                <button id="SCORMNavigationSuspend" class='button valamis medium red ' style="float: left">
                    {{navigationButtonSuspendLabel}}
                </button>

                <button id="PlayerLaunchFullScreen" class='button valamis medium grey val-icon-preview'
                        style="float: left">{{navigationButtonFullScreenLabel}}
                </button>
            </div>

            <div style="float: right; margin-top: 5px;">
                <button id="SCORMNavigationBackward" class="button valamis big green val-icon-save-previous"
                        style="float: left">{{navigationButtonBackLabel}}
                </button>
                <button id="SCORMNavigationForward" class="button valamis big green val-icon-save-next"
                        style="float: left">{{navigationButtonNextLabel}}
                </button>
            </div>
        </div>
        <br clear="all"/>
        <table style="width: 100%">
            <tr valign="top">
                <td id="SCORMTogglePanel">
                    <div id="SCORMMenu">
                        <div>
                            <b>{{packageNameSubTitleLabel}}</b>

                            <div id='currentPackageName'></div>
                            <br>

                            <div id="SCORMOrganizationsMenu">
                                <div class="SCORMMenuheader">{{packageContentSubTitleLabel}}</div>
                                <select id="SCORMOrganizations" style="width: 200px"></select>
                            </div>
                        </div>
                        <div id="SCORMTree"></div>
                    </div>
                </td>
                <td valign="middle">
                    <abbr title="Hide tree">
                        <button id="SCORMToggleButton" class="SCORMToggleButton"></button>
                    </abbr>
                </td>
                <td style="width: 100%">
                    <table style="width: 100%">
                        <tr>
                            <td id="scormData" class="scormData">
                                <iframe id="SCORMDataOutput" src=""
                                        style="width: 100%; height: 100%; border:0;"
                                        webkitallowfullscreen="true" mozallowfullscreen="true"
                                        allowfullscreen="true"></iframe>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</script>


<script type="text/template" id="player-modals-template">
    <div class="player-modals-container"></div>
</script>

<script type="text/template" id="playerPackageListView">
    <div class="package-items clearfix js-package-items">

    </div>
</script>

<script type="text/html" id="playerListItemView">
    <div class="certificate-cover-image pull-left">
        <img src="{{#logo}}/learn-portlet/api/files/images?folderId=package_logo_{{id}}&file={{{logo}}}{{/logo}}{{^logo}}/learn-portlet/img/certificate-default.png{{/logo}}"
             class="logo-mini"/>

        <div class="ribbon-wrapper-green hidden-sm hidden-xs">
            <div class="ribbon-green">{{type}}</div>
        </div>
    </div>
    <div class="certificate-list-content pull-left">
        <div class="certificate-title padded-top">{{title}}</div>
        <div class="certificate-description">{{description}}</div>
    </div>
    <div class="certificate-courses lesson-buttons pull-right">
        {{#suspendedID}}
        <button id="resumePackage" class="button valamis big green js-package-resume">{{packageViewButtonResumeLabel}}
        </button>
        {{/suspendedID}}
        {{^suspendedID}}
        <button id="startPackage" class='button valamis big green js-package-start'>{{packageViewButtonStartLabel}}
        </button>
        {{/suspendedID}}
    </div>
</script>

<script type="text/html" id="playerTileItemView">
    <div class="certificate-cover-image">
        <img class="logo"
             src="{{#logo}}/learn-portlet/api/files/images?folderId=package_logo_{{id}}&file={{{logo}}}{{/logo}}{{^logo}}/learn-portlet/img/certificate-default.png{{/logo}}"/>

        <div class="ribbon-wrapper-green">
            <div class="ribbon-green">{{type}}</div>
        </div>
    </div>
    <div class="certificate-content">
        <div class="certificate-title">{{title}} {{sample}}</div>
        <div class="certificate-description">{{description}}</div>
    </div>
    <div class="certificate-footer">
        <div class="certificate-courses pull-right">
            {{#suspendedID}}
            <button id="resumePackage" class="button valamis big green js-package-resume">
                {{packageViewButtonResumeLabel}}
            </button>
            {{/suspendedID}}
            {{^suspendedID}}
            <button id="startPackage" class='button valamis big green js-package-start'>
                {{packageViewButtonStartLabel}}
            </button>
            {{/suspendedID}}
        </div>
    </div>
</script>

