<script type="text/template" id="bankTreeTemplate">
    <ul class="val-tree">
        <li class="expanded" id="qbRoot">
        <span class="js-tree-item js-tree-root-item tree-item tree-root-item active">
            <span class="js-tree-item-icon tree-item-icon"></span>
            <span class="js-tree-item-title tree-parent-title tree-item-title" data-count="{{childrenAmount}}">{{baseTitle}}</span>
        </span>
            <ul id="questionBankGrid_{{courseId}}" class="sortable tree-items"></ul>
        </li>
    </ul>
</script>

<script type="text/mustache" id="categoryTreeRowTemplate">
    <span class="js-tree-category js-tree-item tree-item">
        <span class="js-tree-item-icon tree-item-icon"></span>
        {{#multiselectEnabled}}
            <input type="checkbox" id="categoryCheckbox{{id}}" class="val-checkbox"/>
            <label class="checkbox-label" for="categoryCheckbox{{id}}"></label>
        {{/multiselectEnabled}}
        <span class="js-tree-item-title tree-parent-title tree-item-title" data-count="{{childrenAmount}}">{{title}}</span>
    </span>
    <ul class="tree-items"></ul>
</script>

<script type="text/mustache" id="questionTreeRowTemplate">
    <span class="js-tree-item tree-item">
        {{#multiselectEnabled}}
        <input type="checkbox" id="questionCheckbox{{id}}" class="val-checkbox" {{#selected}}checked="checked"{{/selected}}/>
        <label class="checkbox-label" for="questionCheckbox{{id}}"></label>
        {{/multiselectEnabled}}
        <span class="js-tree-item-title tree-item-title">{{fixedTitle}}</span>
    </span>
</script>