<script type="text/template" id="bankTreeTemplate">
  <ul class="questionBankTree medium-table">
    <li class="expand expanded" id="qbRoot">
        <span class="qbItem">
            <div class="expand-icon" id="qbRootExpand"/>
            <div class="qbRootItem qbItemTitle" data-count="{{childrenAmount}}">{{baseTitle}}</div>
        </span>
        <ul id="questionBankGrid_{{courseId}}"></ul>
    </li>
  </ul>
</script>
<script type="text/mustache" id="categoryTreeRowTemplate">
    <span class="qbCat qbItem">
        <span class="expand-icon"/>
        {{#multiselectEnabled}}
            <span id="categorySelection" class="checkbox valamis" style="float: left; margin-right: 5px;"/>
        {{/multiselectEnabled}}
        <span class="qbItemTitle" data-count="{{childrenAmount}}">{{title}}</span>
    </span>
    <ul></ul>
</script>
<script type="text/mustache" id="questionTreeRowTemplate">
    <span class="qbItem">
        {{#multiselectEnabled}}
        <span id="questionSelection" class="checkbox valamis {{#selected}}checked{{/selected}}" style="float: left; margin-right: 5px;"/>
        {{/multiselectEnabled}}
        <span class="qbItemTitle">{{fixedTitle}}</span>
    </span>
</script>