<script type="text/html" id="templateStatMenu">

    <div id="started" class="filter-area" data-filter-type="started">{{started}} Started <div style="width: 18px; height: 9px; background: #1f77b4; display:inline-block"></div></div>
    <div id="completed" class="filter-area" data-filter-type="completed">{{completed}} Completed <div style="width: 18px; height: 9px; background: #ff7f0e; display:inline-block"></div>
    </div>
    <div id="passed" class="filter-area" data-filter-type="passed">{{passed}} Experienced <div style="width: 18px; height: 9px; background: #2ca02c; display:inline-block"></div></div>
</script>