<script type="text/template" id="liferay-site-select-modal-template">
    <div class="bbm-modal__topbar">
        <h3 class="bbm-modal__title valamis">{{headerTitle}}</h3>

        <div class="modal-close val-icon-exit">
        </div>
    </div>

    <div class="bbm-modal__section liferay-site-select-dialog">
    </div>
</script>

<script type="text/html" id="liferaySiteDialogView">
    <div class="filters-row clearfix">
        <div class="filter-element shift-left">
            <span class="val-icon-search"></span>
            <input type="text" id="siteSearch" class="js-site-search" placeholder="{{searchPlaceholderLabel}}">
        </div>
        <div class="filter-element paging-showing-label shift-left" id="siteListPagingShowing"></div>
        <div id="sortSite" class="js-site-sort dropdown filter-element shift-right" data-value="true">
            <button class="button medium simple">
                <span class="dropdown-text">{{byNameAscLabel}}</span><span class="val-icon-arrow-down val-icon-right"></span>
            </button>
            <ul class="dropdown-menu">
                <li class="selected" data-value="true"> {{byNameAscLabel}} </li>
                <li data-value="false"> {{byNameDescLabel}} </li>
            </ul>
        </div>
    </div>

    <table class="val-table medium list">
        <tbody id="siteList" class="js-site-list"></tbody>
    </table>
    <div class="val-paginator text-center" id="siteListPaginator"></div>

    {{^singleSelect}}
    <div class="bbm-modal__bottombar">
        <a href="#" class="modal-close button big neutral">{{cancelLabel}}</a>
        <button class="button big primary js-addCourses">{{addCoursesLabel}}</button>
    </div>
    {{/singleSelect}}
</script>

<!-- extracted to common_templates, but used in old LiferaySiteSelectDialog.js  -->

<script type="text/html" id="liferaySiteElementView">
    <td>{{title}}</td>
    <td class="text-right">
        <button class="button medium neutral no-text js-toggle-site-button">
            <span class="val-icon-checkbutton"></span> Add
        </button>
    </td>
</script>