<script type="text/html" id="activitySocialMapperRow">
    <td>{{activityName}}</td>
    <td>
        <div class="select-element position-relative" style="margin:0;">
        <div class="form-group val-select ">
            <select class="mapped-activity-verb">
                <option value="undefined" selected>{{undefined}}</option>
                <option value="attempted">{{attempted}}</option>
                <option value="interacted">{{interacted}}</option>
                <option value="completed">{{completed}}</option>
                <option value="experienced">{{experienced}}</option>
            </select>
         </div>
        </div>
    </td>
</script>