<script type="text/html" id="liferayAccountInfoView">
    <div class="div-table val-info-table">
        <div class="div-row">
            <div class="div-col single-element-col"><img src="{{picture}}" alt="{{name}}" class="img-circle"/></div>
            <div class="div-col">{{name}}</div>
        </div>
    </div>

    <div class="filters-row"><h4>{{curriculumMyTabsHeaderLabel}}</h4></div>

    <div class="js-certificates-list val-row tiles">
    </div>
</script>

<script type="text/html" id="userCertificateTileItemView">
    <div class="tile s-12 m-4 l-2">
        <div class="tile-content">
            <div class="image certificate js-open-goals cursor-pointer" data-certificate="{{id}}"
                 {{#isLocal}}
                 style="background-image: url('/delegate/files/images?folderId={{id}}&file={{logo}}')"
                 {{/isLocal}}
                {{^isLocal}}
                style="background-image: url('{{logo}}')"
                {{/isLocal}}>
            </div>
            <ul>
                <li class="title">{{title}}</li>
                <li class="description">{{decodedDescription}}</li>
            </ul>
        </div>
    </div>
</script>

<script type="text/template" id="certificate-modals-template">
    <div class="certificate-modals-container"></div>
</script>

<script type="text/template" id="certificate-common-modal-template">
    <div class="bbm-modal__topbar">
        <h3 class="bbm-modal__title">{{certificateModalTitle}}</h3>

        <div class="modal-close val-icon-exit">
        </div>
    </div>

    <div class="certificate-modal-content">
    </div>
</script>

<script type="text/html" id="certificateGoalsListTemplate">
    <div class="val-row">
        <table id="certificateCoursesMainTable" class="val-table medium list">
            <tbody id="certificateCoursesTable">
            <tr>
                <th colspan="2">{{coursesLabel}}</th>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="val-row">
        <table class="val-table medium list">
            <tbody id="certificateStatementsTable">
            <tr>
                <th colspan="2">{{tincanstatementsLabel}}</th>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="val-row">
        <table class="val-table medium list">
            <tbody id="certificateActivitiesTable">
            <tr>
                <th colspan="3">{{activitiesLabel}}</th>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="val-row">
        <table class="val-table medium list">
            <tbody id="lessonGoalsTable">
            <tr>
                <th colspan="2">{{lessonGoalsLabel}}</th>
            </tr>
            </tbody>
        </table>
    </div>
</script>

<script type="text/html" id="goalRowTemplate">
    {{#isActivity}}
    <td class="single-element-col">
        <input type="text" class="onlyDigits" id="goalsAmount" value="{{activityCount}}" disabled="disabled" />
    </td>
    {{/isActivity}}
    <td>{{#url}}
        <a href="/web{{url}}" target="_blank">{{/url}}{{title}}{{#url}}</a>{{/url}}
    </td>

    <td class="text-right status-col">
        {{dateFinish}}
    </td>
</script>
