<script type="text/mustache" id="manageRolesTemplate">

    <div class="SCORMPackageListHeader">
        <div class="SCORMPackageListHeaderText">{{teacherPermissionsHeaderLabel}}</div>
        <div class="SCORMPackageListHeaderButtons">
            <abbr title="{{sitesSubtitleLabel}}">
                <button id="addTeacher" class="button24x18 buttonList editQuestionsButton"></button>
            </abbr>
            <abbr title="{{sitesSubtitleLabel}}">
                <button id="removeTeacher" class="button24x18 removeQuizButton buttonRemoveSite"></button>
            </abbr>
        </div>
        <div style="clear:both"></div>
    </div>


    <table style="width: 100%" cellpadding="0" cellspacing="0" class="roleTable" id="teacherRoleTable">
        <thead>
        <tr>
            <th scope="col" class="thinColumn scormPackageIDColumn sortable listTitle" ref="id">{{packageListIDHeaderLabel}}
            </th>
            <th scope="col" class="wideColumn scormPackageTitleColumn sortable listTitle" ref="title">
                {{packageListTitleHeaderLabel}}
            </th>
            <th scope="col" class="thinColumn listTitle">{{packageListIsDefaultHeaderLabel}}</th>
        </tr>
        </thead>
        <tbody id="teacherRoleList">
        </tbody>
    </table>
    </div>

    <div class="SCORMPackageListHeader" style="margin-top:20px;">
        <div class="SCORMPackageListHeaderText">{{studentPermissionsHeaderLabel}}</div>
        <div class="SCORMPackageListHeaderButtons">
            <abbr title="{{sitesSubtitleLabel}}">
                <button id="addStudent" class="button24x18 buttonList editQuestionsButton"></button>
            </abbr>
            <abbr title="{{sitesSubtitleLabel}}">
                <button id="removeStudent" class="button24x18 removeQuizButton buttonRemoveSite"></button>
            </abbr>
        </div>
        <div style="clear:both"></div>
    </div>

    <table style="width: 100%" cellpadding="0" cellspacing="0" class="roleTable" id="studentRoleTable">
        <thead>
        <tr>
            <th scope="col" class="thinColumn sortable listTitle" ref="id">{{packageListIDHeaderLabel}}
            </th>
            <th scope="col" class="wideColumn sortable listTitle"  ref="title">
                {{packageListTitleHeaderLabel}}
            </th>
            <th scope="col" class="thinColumn listTitle" >{{packageListIsDefaultHeaderLabel}}</th>
        </tr>
        </thead>
        <tbody id="studentRoleList">
        </tbody>
    </table>
    </div>
</script>

<script type="text/mustache" id="roleItemTemplate">
    <td>{{roleID}}</td>
    <td>
        <div>{{roleName}}</div>
        <div style="margin-top:5px; margin-left: 20px">{{description}}</div>
    </td>
    <td><input type="checkbox" id="isDefaultRole" {{#isDefault}}checked{{/isDefault}} /></td>
</script>

<script type="text/mustache" id="liferayRoleDialogView">
    <div id="liferayRoleDialog">
        <div id="roleList">
        </div>
    </div>
</script>
<script type="text/mustache" id="liferayRoleElementView">
    <div id="liferaySiteElement" class="portlet-learn-scorm">
        <button id="selectSiteButton" class="button28 buttonInstall quizManagementButton"></button>
        <div><b>{{roleName}}</b></div>
        <div style="margin-top:5px; margin-left: 20px">{{description}}</div>
        <br>
        <hr>
    </div>
</script>