<script type="text/html" id="packageManagerSearch">
    <h3>Refine search</h3>
    <form>
        <div class="form-group">
            <label class="form-label">Search by name</label>
            <input type="text" class="search form-control" placeholder="Search">
        </div>
        <div class="form-group">
            <label class="form-label">Sort</label>
            <select class="sorting form-control">
                <option value="nameAsc">By name (asc)</option>
                <option value="nameDesc">By name (desc)</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-label">Display</label>
            <select class="display form-control">
                <option value="All package">All packages</option>
            </select>
        </div>
    </form>
</script>

<script type="text/html" id="packageManagerListItemView">
    <div class="certificate-cover-image">
        <img src="../images/certificate-01.png"/>
        <div class="ribbon-wrapper-green">
            <div class="ribbon-green">{{packageType}}</div>
        </div>
    </div>
    <div class="certificate-content">
        <div class="certificate-title">{{title}}</div>
        <div class="certificate-description">{{description}}</div>
    </div>
    <div class="certificate-footer">
        <div class="certificate-users">
            <label><input type="checkbox" class="package-visibility-flag" {{#isVisible}} checked {{/isVisible}}> Visible</label>
        </div>
        <div class="certificate-courses">
            <label><input type="checkbox" class="package-default-flag" {{#isDefault}} checked {{/isDefault}}> Is Default</label>
        </div>
    </div>
</script>

<script type="text/html" id="packageManagerTileItemView">
    <div class="certificate-cover-image"><img src="images/certificate-01.png"/>

        <div class="ribbon-wrapper-green">
            <div class="ribbon-green">{{packageType}}</div>
        </div>
    </div>
    <div class="certificate-content">
        <div class="certificate-title">{{title}}</div>
        <div class="certificate-description">{{description}}</div>
    </div>
    <div class="certificate-footer">
        <div class="certificate-users">
            <label><input type="checkbox" class="package-visibility-flag" {{#isVisible}} checked {{/isVisible}}> Visible</label>
        </div>
        <div class="certificate-courses">
            <label><input type="checkbox" class="package-default-flag" {{#isDefault}} checked {{/isDefault}}> Is Default</label>
        </div>
    </div>
</script>