<!--Package row view-->
<script type="text/mustache" id="packageAdminRow">
    <td>{{id}}</td>
    <td>{{{title}}}</td>
    <td>{{{summary}}}</td>
    <td><input type="checkbox" id="visibility" {{#visibility}}checked{{/visibility}} /></td>
    <td><input value="{{id}}" type="checkbox" id="isDefault" {{#isDefault}}checked{{/isDefault}}/></td>
    <!-- <td><input id="isDefault"  type="radio" name="isDefaultPackage" value={{id}} {{#isDefault}}checked{{/isDefault}} {{^visibility}}disabled{{/visibility}} /></td>-->
</script>

<!--Package row edit view-->
<script type="text/mustache" id="packageAdminRowEdit">
    <td>{{id}}</td>
    <td><input type="text" value="{{{title}}}" id="title"/></td>
    <td><textarea id="summary">{{{summary}}}</textarea></td>
    <td><input type="checkbox" id="visibility" {{#visibility}}checked{{/visibility}} /></td>
    <td><input type="checkbox" id="isDefault" {{#isDefault}}checked{{/isDefault}} /></td>
</script>

<!--Package list view-->
<script type="text/mustache" id="packageAdminListTemplate">
    <div class="SCORMPackageListHeader">
        <div class="SCORMPackageListHeaderText">{{packageListSubTitleLabel}}</div>
        <div class="SCORMPackageListHeaderButtons">
            <abbr title="{{packageListReloadButtonLabel}}">
                <button id="SCORMPackageListReload" class="button28 buttonReload"></button>
            </abbr>
            <abbr title="{{packageListEditButtonLabel}}">
                <button id="SCORMPackageEdit" class="button28 buttonEdit"></button>
            </abbr>
            <abbr title="{{packageListSaveButtonLabel}}">
                <button id="SCORMPackageDone" class="button28 buttonDone"></button>
            </abbr>
            <abbr title="{{packageListRemoveButtonLabel}}">
                <button id="SCORMPackageRemove" class="button28 buttonRemove"></button>
            </abbr>
        </div>
        <div style="clear:both"/>
    </div>
    <table style="width: 100%" cellpadding="0" cellspacing="0" id="scormPackageTable">
        <thead>
        <tr>
            <th scope="col" class="scormPackageIDColumn sortable listTitle" ref="id">{{packageListIDHeaderLabel}}</th>
            <th scope="col" class="scormPackageTitleColumn sortable listTitle" ref="title">
                {{packageListTitleHeaderLabel}}
            </th>
            <th scope="col" class="scormPackageSummaryColumn listTitle">{{packageListSummaryHeaderLabel}}</th>
            <th scope="col" class="scormPackageVisibilityColumn listTitle">{{packageListVisibilityHeaderLabel}}</th>
            <th scope="col" class="listTitle">{{packageListIsDefaultHeaderLabel}}</th>
        </tr>
        </thead>
        <tbody id="SCORMAdminPackagesGrid">

        </tbody>
    </table>
</script>
