<!--Package row view-->
<script type="text/mustache" id="packageScopeRuleRow">
    <td>{{id}}</td>
    <td>{{{title}}}</td>
    <td>{{{summary}}}</td>
    <td><input {{#isTincan}}disabled="disabled"{{/isTincan}} type="checkbox" id="visibility" {{#visibility}}checked{{/visibility}} /></td>
    <td><input {{#isTincan}}disabled="disabled"{{/isTincan}} type="checkbox" id="isDefault" {{#isDefault}}checked{{/isDefault}} /></td>
</script>

<!--Package list view-->
<script type="text/mustache" id="packageScopeRuleListTemplate">
    <table style="width: 100%" cellpadding="0" cellspacing="0" id="scormPackageTable">
        <thead>
        <tr>
            <th scope="col" class="scormPackageIDColumn sortable listTitle" ref="id">{{packageListIDHeaderLabel}}</th>
            <th scope="col" class="scormPackageTitleColumn sortable listTitle" ref="title">{{packageListTitleHeaderLabel}}</th>
            <th scope="col" class="scormPackageSummaryColumn listTitle">{{packageListSummaryHeaderLabel}}</th>
            <th scope="col" class="scormPackageVisibilityColumn listTitle">{{packageListVisibilityHeaderLabel}}</th>
            <th scope="col" class="listTitle">{{packageListIsDefaultHeaderLabel}}</th>
        </tr>
        </thead>
        <tbody id="SCORMPackageScopeRuleGrid">

        </tbody>
    </table>
</script>